/*********************************
/* styleEMultipleCTA 
*********************************/

.stylee {
    margin: 0 16px;
    @media (--viewport-md-down) {
        margin: 0;
    }
    & .banner-container {
        display: inline-block;
        @media (--viewport-sm-down) {
            margin: 0 auto;
        }
        & .banner-image {
            height: auto;
            overflow: hidden;
            width: 97.5%;
            & img {
                width: 100%;
                @apply --image-zoom-animation;
            }
            @media (--viewport-md-down) {
                width: 100%;
            }
        }
            & .promo-title {
                position: relative;
                display: inline-block;
                @apply --image-zoom-animation;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 6px;
                    bottom: -14px;
                    @apply --image-zoom-animation;
                    z-index: -1;
                }
                @media (--viewport-sm-down) {
                    &::after {
                        left: 0;
                        bottom: -6px;
                    }
                }
            }
            & .promo-title:after {
                background-color: #e97439;
            }
            & .promo-links {
                & li {
                    display: inline-block;
                    font-size: 16px;
                    padding: 0 16px 0 0;
                    @media (--viewport-sm-down) {
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                    & .btn {
                        width: 200px;
                        @media (--viewport-sm-down) {
                            width: 140px;
                        }
                        @media (--viewport-lg-down) {
                            width: 140px;
                        }
                    }
                }
            }
        &:hover .promo-title::after {
            height: 48px;
            width: 108%;
            transform: translate(-4%, -2px);
            @media (--viewport-sm-down) {
                height: 30px;
            }
        }
        &:hover .promo-title {
            color: var(--color-white);
        }
        &:hover .banner-image {
            & img {
                transform: scale(1.05);
            }
        }
    }

    & .promo-content {
        padding: 66px 0 0 4px;
        @media (--viewport-md-down) {
            width: 100%;
            padding: 16px 0 0 0;
        }
        @media (--viewport-sm-down), (--viewport-sm-only) {
            margin-top: 10px;
            text-align: center;
        }
        
        & .promo-description {
            font-size: 16px;
            line-height: 20px;

            @media (--viewport-sm-down), (--viewport-sm-only) {
                font-size: 14px;
            }
        }
    }
}

.stylee-single {
    & .banner-container {
            & .promo-links {
                & li {
                    @media (--viewport-sm-down) {
                        width: 100% !important;
                        & a {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }