/*********************************
/* Product
*********************************/

.product{
  border: 1px solid var(--color-concrete);
  border-radius: var(--border-radius-S);

  & .product-img{
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid var(--color-concrete);
    margin-bottom: 8px;
  }

  & .product-body{
    padding: 8px;
  }
}
