/***************************************************
/* Scrollbar
***************************************************/
.scroll-container {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
    padding: 32px 24px 24px;
    & .title {
        text-align: left;
     }
    & .scroll-block {
        overflow: auto;
        max-height: 434px;
        text-align: left;
        color: var(--color-slate);
        line-height: 1.6;
        padding: 16px 16px 0 0;
        -webkit-overflow-scrolling: touch;
        @media (--viewport-sm-only) {
          max-height: 334px;
        }
    }
    & .scroll-block-fade {
        position: relative;
        bottom: 24px;
        height: 40px;
        width: auto;
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    }
    & .custom-scroll {
        &::-webkit-scrollbar-track {
          width: 2px;
          background: var(--color-rewards-platinum-3);
        }
        &::-webkit-scrollbar {
          width: 8px;
          background: var(--color-rewards-platinum-3);
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background: var(--color-concrete);
          &:hover {
            background: var(--color-slate);
          }
        }
        
    }

    & .custom-scroll {
        &::-moz-scrollbar-track {
          width: 2px;
          background: var(--color-rewards-platinum-3);
        }
        &::-moz-scrollbar {
          width: 8px;
          background: var(--color-rewards-platinum-3);
          border-radius: 10px;
        }
        &::-moz-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background: var(--color-concrete);
          &:hover {
            background: var(--color-slate);
          }
        }
    }
}



.scroll-container { 
  &.modal{
    max-width: 540px;
    padding: 36px 24px 0 0px;
    & .modal-close{
      width: 16px;
      height: 16px;
      right: -6px;
      top: 10px;
    }
  }
    & .scrollable {
        margin: 0 auto;
        padding: 0;
        position: relative;
        overflow: hidden;
        height: 434px;
        width: 101%;
    }
    & .scrollable.showScroll::after {
        position: absolute;
        content: '';
        top: 5%;
        right: 7px;
        height: 100%;
        width: 1px;
        background: var(--color-concrete);
    }
    & .scroll-content-wrapper{
        width: 100%;
        height: 100%;
        padding-right: 20px;
        overflow-y: scroll;
        position: absolute;
        right: -4%;
    & .scroll-content{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-right: 26px;
    }
  }
  & .scroller {
      z-index: 5;
      cursor: pointer;
      position: absolute;
      width: 8px;
      border-radius: 4px;
      background-color: #d8d8d8;
      top: 0px;
      right: 4px;
      -webkit-transition: top .08s;
      -moz-transition: top .08s;
      -ms-transition: top .08s;
      -o-transition: top .08s;
      transition: top .08s;
     &:hover{
      background-color: #6b7883;
    }
  }
}



