/*********************************************
/* The main entry point for atomic stylesheets
/* Styles at a global level
*********************************************/

@import 'components/vars.scss';
@import 'components/mixins.scss';
@import 'components/reset.scss';
@import 'components/buttons.scss';
@import 'components/colors.scss';
@import 'components/typography.scss';
@import 'components/spacing.scss';
@import 'components/lists.scss';
@import 'components/toast.scss';
@import 'components/elevation.scss';
@import 'components/checkboxes.scss';
// @import 'components/foundation-grid.scss';

// Annotation (only used for demo)
.anno{
  font-size: 12px;
  line-height: 24px;
  width: 100%;
  color: $color-slate;
  letter-spacing: 1px;
  margin: 56px 0 24px 0;
  text-transform: uppercase;
  border-bottom: 1px solid $color-concrete;
}

// Colors (only used for demo)
.color{
  width: 100%;
  line-height: 56px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
}
