/*********************************
/* Coupons
*********************************/
.coupon-block {
  margin: 8px 0;

  & .coupon-list {
    border: 2px dashed var(--color-concrete);
    padding: 16px;
    border-radius: var(--border-radius-M);

    & .flag {
      position: relative;
      left: -32px;
      display: inline-block;
      & > * {
        display: inline;
      }
    }

    & span {
      display: block;
    }
  }
  
& .coupon-secondary-offer{
 
     & .coupon-text-or {  
        font-weight: normal;
        color: #6b7883;
        position: relative;
        letter-spacing: -0.2px;
        &:before{
          content: '';
          width: 88%;
          height: 1px;
          background:#c7cdd4;
          position: absolute;
          top: 12px;
          right: 0;
        }
      }
}
  & .coupon-code {
    & span {
      display: inline-block;
      font-size: 14px;
      line-height: 18px;
      letter-spacing:normal;
      color: var(--color-shadow);
    }
    & p span:last-child{
      margin-left: 3px;
      color: var(--color-nightsky);
    }
  }

  & .print-barcode {
    color: var(--color-blackfriday-secondary-2) !important;
   
    & svg{
      width: 36px;
      height:36px;
    }
    & .icon {
      width: 36px;
      display: inline-block;
    }
  }

  & .coupon-see-details {
    & a, & button {
      margin-right: 16px;
      padding: 0;
    }
  }
}
.flex-box {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}
.flex-grid {
  display: flex !important;
}
.coupon-block .coupon-code span:last-child {
  font-weight: 600;
  margin-left: 4px;
}
.flag {
  opacity: .85;
}
@media (--viewport-md) {
  .coupon-block {
    position: relative;
    & .coupon-bottom{
      position: absolute;
      bottom: 18px;
      width: 100%;
      left: 0;
      padding: 0 30px;
    }
  }
}

@media (--viewport-sm-only) {
  .coupon-block {
    padding: 0 !important;
    border-bottom: 1px solid #c7cdd4;
    & .coupon-list{
        border:0;
        width: 100%;
        & .flag{
          left: 0;
        }
      }
    & .coupon-secondary-offer{
        & .coupon-text-or:before {  
      width: 89%;    
      }
    }
  }
}