/*********************************
/* styleBLeft 
*********************************/

.styleb-left {

  & .banner-container {
    background-image: url(var(--path-images)design-system/banner-01.png);
    height: 404px;
    width: 100%;
    @media (--viewport-md-down) {
      background-position: 70% 0;
    }

    @media (--viewport-sm-down) {
      height: 280px;
    }

    & .banner-content-wrapper {
      width: 448px;
      height: 256px;
      background-color: rgba(255, 255, 255, 0.8);
      border: solid 10px #5580ae;
      position: relative;
      top: 74px;
      left: 24px;
      padding: 36px 32px;
      
      @media (--viewport-md-down) {
        margin: 0 auto;
        text-align: center;
        top: 295px;
      }

      @media (--viewport-sm-down) {
        width: 100%;
        left: 0;
        padding: 12px 0 0;
        border: 0;
        top: 280px;
        border-top: 4px solid #5580ae;
      }
     
      & h1.banner-title {
        font-size: 48px;
        font-weight: bold;
        /* font-family: var(--font-headline); */
        @media (--viewport-sm-down) {
          font-size: 20px;
        }
      }

      & .banner-content {
          font-size: 24px;
          @media (--viewport-md-down) {
            font-size: 20px;
          }
          @media (--viewport-sm-down) {
            font-size: 14px;
            line-height: normal;
          }
      }

      & .dropdown-container {
          position: relative;
          width: 200px;
          margin: 0 auto;
          @media (--viewport-sm-down) {
            width: 100%;
          }

      & .elevation {
          width: 200px;
          height: 36px;
          border-radius: 8px;
          box-shadow: 0 2px 4px 0 rgba(17, 17, 17, 0.25);
          display: block;
          text-align: center;
          line-height: 36px;
          text-decoration: none;
          background: var(--color-white);
          
          @media (--viewport-md-down) {
            margin: 0 auto;
          }
          @media (--viewport-sm-down) {
            box-shadow: none;
            border-top: 1px solid #d8d8d8;
            border-bottom: 1px solid #d8d8d8;
            border-radius: 0;
            width: 100%;
          }
      }

      & .dropdown-list {
          display: none;
          position: absolute;
          overflow: auto;
          z-index: 1;
          top: 33px;
          min-width: 200px;
          width: 200px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
          background: #fafafa;
          border: solid 1px #d8d8d8;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          @media (--viewport-md-down) {
            margin: 0px auto;
            text-align: center;
          }
          @media (--viewport-sm-down) {
            width: 100%;
            min-width: 100%;
            box-shadow: none;
            border: none;
            & a {
              border-top: 1px solid #d8d8d8;
            }
          }

          & a {
            padding: 12px 0;
            text-decoration: none;
            display: block;
            font-family: var(--font-headline);
            font-size: 14px;
            text-align: center;
          }
      }

    }

      
    }
  }

}