/*********************************
/* styleBLeft 
*********************************/

.styleb-left {
    & .banner-container {
        background-image: url(var(--path-images)design-system/image-hero.png);
        height: 404px;
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;
        background-repeat: no-repeat;
        @media (--viewport-md-down) {
            background-position: 70% 0;
        }
        @media (--viewport-md-down) {
            height: 555px;
        }
        @media (--viewport-sm-down) {
            height: 410px;
            background-size: auto 280px;
        }
        & .banner-content-wrapper {
            width: 448px;
            background-color: rgba(255, 255, 255, 0.8);
            border: solid 6px #103f68;
            position: relative;
            top: 74px;
            left: 24px;
            padding: 34px 28px 24px;
            @media (--viewport-md-down) {
                margin: 0 auto;
                text-align: center;
                top: 326px;
                padding-top: 16px;
                border: 6px solid #5580ae;
                padding: 26px 32px;
            }
            @media (--viewport-sm-down) {
                width: 96%;
                left: 0;
                padding: 12px 0 0;
                border: 0;
                top: 278px;
                border-top: 6px solid #5580ae;
            }
            & .promo-title-XL {
                font-size: 48px;

                @media (--viewport-md-down) {
                    font-size: 32px;
                }
                
                @media (--viewport-sm-down) {
                    font-size: 20px;
                }
            }
            & .banner-content {
                font-weight: 400;
                font-size: 24px;
                @media (--viewport-md-down) {
                    font-size: 20px;
                }
                @media (--viewport-sm-down) {
                    font-size: 14px;
                    line-height: normal;
                }
            }
            & .banner-title {
                @media (--viewport-md-down) {
                    font-size: 32px;
                }
                @media (--viewport-sm-down) {
                    font-size: 20px;
                }
            }
            & .dropdown-container {
                position: relative;
                width: 200px;
                @media (--viewport-md-down) {
                    margin: 0 auto;
                }
                @media (--viewport-sm-down) {
                    width: 100%;
                }
                & .elevation {
                    width: 200px;
                    height: 36px;
                    border-radius: 8px;
                    box-shadow: 0 2px 4px 0 rgba(17, 17, 17, 0.25);
                    display: block;
                    line-height: 36px;
                    text-decoration: none;
                    background: var(--color-white);
                    transition: all .25s linear;
                    @media(--viewport-md-down) {
                        margin: 0 auto;
                    }
                    @media (--viewport-sm-down) {
                        box-shadow: none;
                        border-top: 1px solid var(--color-concrete);
                        border-bottom: 1px solid var(--color-concrete);
                        border-radius: 0;
                        width: 100%;
                    }
                    &:hover {
                        background: var(--color-lightgrey);
                        border-radius: 40px;
                        @media (--viewport-sm-down) {
                            border-radius: 0;
                        }
                    }
                    & .icon {
                        position: absolute;
                        right: 0;
                        top: 20px;
                        & svg {
                            width: 16px;
                            height: 16px;
                        }
                        @media (--viewport-md-down), (--viewport-sm-down) {
                            top: 12px;
                        }
                    }
                    & .minus-icon {
                        position: absolute;
                        width: 16px;
                        border-top: 2px solid #111;
                        height: 2px;
                        right: 13px;
                        top: 32px;
                        @media (--viewport-md-down), (--viewport-sm-down) {
                            top: 26px;
                        }
                        @media (--viewport-xl) {
                            top: 34px; 
                        }
                    }
                }
                & .no-hover {
                    &:hover {
                        border-radius: 0;
                    }
                }
                & .dropdown-list {
                    display: none;
                    position: absolute;
                    overflow: auto;
                    z-index: 1;
                    top: 44px;
                    min-width: 200px;
                    width: 200px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
                    background: #fafafa;
                    border: solid 1px var(--color-concrete);
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    @media (--viewport-md-down) {
                        margin: 0px auto;
                        text-align: center;
                    }
                    @media (--viewport-sm-down) {
                        width: 100%;
                        min-width: 100%;
                        box-shadow: none;
                        border: none;
                        & a {
                            border-top: 1px solid var(--color-concrete);
                        }
                    }
                    & a {
                        padding: 12px 0;
                        text-decoration: none;
                        display: block;
                        font-family: var(--font-headline);
                        text-align: center;
                        transition: all .25s linear;
                        &:hover {
                            background: var(--color-lightgrey);
                        }
                    }
                }
            }
            & .see-details {
                padding-left: 8px;
            }
        }
        @media (--viewport-md-up) {
            & .banner-content-right {
                float: right;
                text-align: right;
                margin-right: 44px;
                & .dropdown-container {
                    float: right;
                }
            }
            & .banner-content-centre {
                margin: 0 auto;
                border-color: #ff4038;
                & .dropdown-container {
                    margin: 0 auto;
                }
            }
        }
    }
}
@media (--viewport-md-up) {
    .styleb-content {
        & .banner-container {
            & .banner-content-wrapper {
                padding: 34px 14px 24px 28px;
            }
        }
    }
}