/*******************************************
/* Buttons
/* Primary, secondary, disabled
*******************************************/

// Base btn styling
button{
  background-color: #fff;
}

a.btn,
button{
  color: $color-white;
  cursor: pointer;
  border-radius: $border-radius-M;
  text-decoration: none;
  font-family: $font-headline;
  display: inline-block;
  border: none;
  padding: 0 16px;
  text-align: center;

  // Icon in buttons support
  img, .icon{
    vertical-align: middle;
    width: 40px;
  }

  // Primary
  &.btn-primary{
    background-color: $color-penneyred;
    min-width: 128px;
    @include elevation;
    @include btn-transition;

    &:hover{
      background-color: $color-lipstick;
      @include btn-radius-hover;
    }
  }

  // Secondary
  &.btn-secondary{
    min-width: 128px;
    background-color: $color-white;
    color: $color-lipstick;
    border: 1px solid $color-concrete;
    @include elevation;
    @include btn-transition;

    &:hover{
      background-color: $color-lightgrey;
      @include btn-radius-hover;
    }
  }

  // Tertiary
  &.btn-tertiary{
    min-width: 128px;
    background-color: $color-passion;
    color: $color-white;
    border: 1px solid $color-passion;
    @include elevation;
    @include btn-transition;

    &:hover{
      background-color: $color-passion;
      @include btn-radius-hover;
    }
  }

  // Disabled
  &:disabled,
  &.btn-disabled{
    @include disabled;
  }

  // Button Sizes
  &.btn-S{
    letter-spacing: -0.33px;
    font-size: 14px;
    // line-height: 20px;
    // padding: 8px 20px;
    // padding: 8px 20px;
    height: 36px;
    line-height: 36px;
  }

  &.btn-M{
    letter-spacing: -0.33px;
    font-size: 16px;
    height: 40px;
    line-height: 40px
    // line-height: 20px;
    // padding: 10px 20px;
  }

  &.btn-L{
    letter-spacing: -0.43px;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    // line-height: 22px;
    // padding: 14px 20px;
  }

  &.btn-icon{
    // padding-top: 0px;
    // padding-bottom: 0px;
  }

  &.btn-icon-slide{
    position: relative;
    overflow: hidden;

    img, .icon{
      position: absolute;
      display: block;
      left: 50%;
      margin-left: -20px;
      top: -30px;
      transition: top .25s ease-in-out;
        -webkit-transition: top .25s ease-in-out;
    }

    .btn-label{
      width: 100%;
      height: 100%;
      display: inline-block;
      backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
      transition: margin .25s ease-in-out, opacity .25s ease-in-out;
    }

    &:hover{
      &.btn-L img, &.btn-L .icon{
        top: 5px;
      }

      &.btn-M img, &.btn-M .icon{
        top: 0px;
      }

      &.btn-S img, &.btn-S .icon{
        top: -3px;
      }

      span.btn-label{
        opacity: 0;
        margin-top: 40px;
      }
    }
  }

  &.btn-full{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  // Shows cart icon on hover
  &.btn-add-to-cart-light{
    position: relative;
    overflow: hidden;
    max-height: 48px;
    // backface-visibility: hidden;

    &:before{
      /*background: url('../images/icon/cart-light.svg') no-repeat;*/
      background: url($path-images+"/global/icons/utility/cart.svg") no-repeat;
      content: " ";
      height: 100%;
      width: 40px;
      top: -40px;
      position: absolute;
      display: block;
      left: 50%;
      margin-left: -20px;
      transition: all .25s ease-in-out;
    }

    span{
      display: inline-block;
      width: 100%;
      height: 100%;
      transition: margin .25s ease-in-out, opacity .25s ease-in-out;
    }

    &:hover{
      span{
        margin-top: 35px;
        opacity: 0;
      }

      &:before{
        top: 5px;
      }
    }
  }
}

.btn-icon-cart{
  overflow: hidden;
  background: url($path-images+"/global/icons/utility/cart.svg") no-repeat;
  background-position: top center;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

  &:hover{
    background-position: center center;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
  }
}

// Text Buttons
// Buttons that look like text links
a.txt-btn,
.txt-btn{
  line-height: 36px;
  font-size: 16px;
	min-width: 96px;
  padding: 0 8px;
	font-family: $font-headline;
	letter-spacing: -0.4px;
	text-align: center;
	color: $color-nightsky;
  text-decoration: none;
  display: inline-block;
  @include transition(color $transition-time-S ease-in-out);

  &:hover{
    color: $color-slate;
    text-decoration: underline;
  }

  &.txt-btn-S{
    font-size: 14px;
	  letter-spacing: -0.3px;
  }

  &.txt-btn-em{
    font-weight: $font-weight-bold;
  }
}


/*********************************
/* Additional Buttons
*********************************/

.toggle-list .icon-toggle {
  float: left;
  .toggle-img {
    position: relative;
    width: 220px;
    margin: 0 auto;
    .heart-icon {
      background: $color-white;
      opacity: 0.85;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      position: absolute;
      right: 8px;
      top: 8px;
      color: $color-nightsky;
    }
  }
}
.icon.hover {
  path {
    fill: $color-penneyred;
  }
}
.icon.disable, .icon.focus  {
  path {
    fill: $color-slate;
  }
}
.toggle-thumbs, .toggle-settings {
  text-align: center;
  float: left;
}
.toggle-thumbs.column:last-child:not(:first-child) {
  float: left;
}
.std-txt-label {
  display: block;
  padding: 20px 0;
  color: $color-marketing-aqua-1;
}
.text-buttons {
  a.txt-btn.hover {
    text-decoration: underline;
    color: $color-slate;
  }
  .focus {
    border: 2px dotted $color-neutral-type;
    border-radius: 0;
    text-decoration: underline;
    color: $color-slate;
  }
}
.cart-button {
  background: $color-penneyred;
  display: inline-block;
  position: relative;
  width: 56px;
  height: 48px;
  span.icon {
    display: block;
    padding: 8px 10px 0 0;
  }
  .cart-count {
    background: $color-nightsky;
    color: $color-white;
    display: block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 12px;
  }
  &.focus {
    border: 2px dotted $color-white;
  }
}
.icon-button {
  display: inline-block;
  border-radius: $border-radius-S;
}
.icon-button .focus {
  border: 2px dotted $color-neutral-type;
  border-radius: $border-radius-S;
  svg {
    position: relative;
    top: -2px;
    right: 1px;
  }
}
.icon-button.disable {
  background: $color-lightgrey;
}

/*** Additional Buttons Ends ***/
