/***************************************************
/* Forms
***************************************************/
.input-form {
  position: relative;
  & input::-webkit-input-placeholder {
      font-size: 16px;
      font-style: normal;
      color: var(--color-nightsky);
  }
}

.input-form{
  & .form-float-label {
    display: inline-block;
    width: 100%;
    & .form-control:placeholder-shown:not(:focus) + * {
      font-size: 16px;
      opacity: 1;
      top: 1em;
      color: #6b7883;
      &.disabled-label {
        top: -16px;
        font-size: 12px;
        background: var(--color-white);
        padding: 8px;
        color: var(--color-slate);
      }
    }
    & .disabled-label::after {
      height: 10px;
    }
    & .creditcard-text {
      padding-left: 52px;
    }
  }
  & .input-text {
    border: 1px solid var(--color-concrete);
    width: 100%;
    height: 48px;
    padding-left: 20px;
    display: inline-block;
    border-radius: var(--border-radius-M);
    font-size: 16px;
    color: var(--color-slate);
    &:focus {
      border: 1px solid var(--color-shadow);
      outline: 0;
    }
  }

  & .input-text::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
  }
  
  & .placeholder-text::-webkit-input-placeholder { /* WebKit browsers */
    color: var(--color-shadow);
  }
  & .input-text::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: transparent;
  }
  & .input-text:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: transparent;
  }
  & .input-text:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: var(--color-slate);
  }
  & .input-text:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--color-slate);
  }
  & .input-text:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: var(--color-slate);
  }
  & .search-icon, & .tooltip-icon {
    position: absolute;
    right: 0;
    border: none;
    border-left: 1px solid var(--color-concrete);
    padding: 0;
    height: 48px;
    width: 48px;
    text-align: center;
    cursor: pointer;
    & .icon {
      width: 24px;
    }
    & svg {
      width: 24px;
      margin-top: 4px;
    }
  }
  & .tooltip-icon {
    border: none;
    & svg {
      width: 25px;
      height: 25px;
      margin: 12px 0 0 6px;
    }
  }
& .jcp-icon-red {
  position: absolute;
  left: 8px;
  top: 4px;
}
  & a.apply-btn {
    position: absolute;
    right: -1px;
    top: 0px;
    height: 48px;
    line-height: 45px;
    min-width: auto;
    font-weight: bold;
    border-radius: 0px 8px 8px 0px;
    &:hover {
      border-radius: 0px 8px 8px 0px;
    }
  }
  & .disabled {
    border: 1px dashed var(--color-concrete);
    background: var(--color-lightgrey);
    color: var(--color-slate);
    cursor: not-allowed;
  }
}

.input-form.error {
  & div.form-float-label {
    & input {
      border: 2px solid var(--color-error-type);
      margin-bottom: 5px;
    }
  }
  & .error-message {
    color: var(--color-error-type);
  }
}

.select-form {
  & .select {
    overflow: visible;
    color: var(--color-nightsky);
    padding: 8px 6px;
    & select {
      line-height: 30px;
      min-width: auto;
      color: var(--color-slate);
    }
    & .form-float-label {
      & span {
        background: var(--color-white);
        padding: 0 3px;
        top: -1.2em;
      }
    }
  }
  .select::before {
    width: auto;
  }
}

.form-layout .form-group {
  & input, & select {
    width: 100%;
    margin-bottom: 24px;
    height: 48px;
    line-height: 48px;
    border-radius: var(--border-radius-M);
  }
  & input::-webkit-input-placeholder {
    font-size: 16px;
    font-style: normal;
    color: var(--color-slate);
  }
}

.form-layout.select {
  overflow: visible;
  color: var(--color-slate);
  padding: 5px 6px;
  float: right;
  & select {
    line-height: 36px;
    min-width: auto;
    color: var(--color-slate);
  }
  &::before {
    width: 0;
  }
}

.text-area-form {
  & .form-float-label {
    display: inline-block;
    width: 100%;
    & textarea.form-control {
      min-height: 110px;
      width: 100%;
    }
    & textarea.form-control:focus {
      border: 1px solid var(--color-shadow);
      outline: 0;
    }
  }
}

.password-form {
  & .show-pwd {
    position: absolute;
    right: 10px;
    top: 16px;
  }
}




.form-float-label {
  display: block;
  position: relative;
  & label {
    position: absolute;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.5em;
    left: .75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
    &::after {
      content: " ";
      display: block;
      position: absolute;
      background: var(--color-white);
      height: 2px;
      top: 50%;
      left: -.2em;
      right: -.2em;
      z-index: -1;
    }
  }
  & > span {
    position: absolute;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: 4px;
    left: .75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
  }
  & > span::after {
    content: " ";
    display: block;
    position: absolute;
    background: var(--color-white);
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1;
  }
  & .form-control {
    &::-webkit-input-placeholder {
      opacity: 1;
      -webkit-transition: all .2s;
      transition: all 0.2s;
    }
    &:placeholder-shown:not(:focus) {
      &::-webkit-input-placeholder {
        opacity: 0;
      }
      & + * {
        opacity: .5;
        top: 0.3em;
      }
    }
  }
}

.input-form-store-locator {
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid var(--color-concrete);
  height: 40px;
  border-radius: 20px;
  margin-bottom: 16px;

  & input[type="text"],
  & select,
  & .select {
    border: none;
    border-radius: 0;
    font-size: 16px;
    margin: 0;
  }

  & select {
    height: 38px;
    border: none;
    @media (--viewport-md-only) {
      padding-left: 4px;
    }
    &:focus {
      border: 1px solid var(--color-nightsky);
    }
  }
  @media (--viewport-md-only) {
    & .select:after {
      right: 1px;
    }
  }

  & input[type="text"].input-text {
    height: 38px;
    border: 1px solid var(--color-white);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-right: 1px solid var(--color-concrete);
    &:focus {
      border: 1px solid var(--color-nightsky);
    }
    &::placeholder {
      color: var(--color-nightsky);
      font-style: normal;
      opacity: 1;
    }
  }

  & .search-icon {
    border-radius: 0;
    height: 38px;
    width: 46px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    overflow: hidden;
    & .icon {
      position: absolute;
      top: -5px;
      left: 9px;
    }
    @media (--viewport-md-only) {
      width: 38px;
      & .icon {
        left: 5px;
      }
    }
  }

  & .input-form-store-locator-field-1 {
    width: 45%;
  }

  & .input-form-store-locator-field-2 {
    padding-right: 46px;
    width: 55%;
  }
  & .input-form-store-locator-field-2 select:focus{
    & .select:before{
      border: 0.5px solid #111;
    }
  }
}

.search-block {
  & .search-close-icon {
    display: block;
      position: absolute;
      right: 54px;
      top: 18px;
      background: url("var(--path-images)global/icons/nav/close.svg") no-repeat;
      height: 16px;
      width: 16px;
      background-size: contain;
    
  }
  & .input-text:not(:valid) ~ .search-close-icon {
    display: none;
  }
}
.credit-card-icon {
  display: none;
}
.creditcard-text:focus + label + .credit-card-icon { 
  display: block; 
}