
/*  Radio */
[type="radio"]:checked,
[type="radio"]:not(:checked){
  position: absolute;
  visibility: hidden;
  height: 20px;
  width: 20px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-nightsky);
  border-radius: 100%;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after{
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: var(--color-nightsky);
  border-radius: 100%;
}

[type="radio"]:not(:checked) + label:after{
  opacity: 0;
  transform: scale(0);
  transition: all var(--transition-time-S) ease-in-out;
}

[type="radio"]:checked + label:after{
  opacity: 1;
  transform: scale(1);
  transition: all var(--transition-time-S) ease-in-out;
}

input[type="radio"]:disabled + label{
  color: var(--color-slate);
  cursor: not-allowed;
}

[type="radio"]:disabled + label:before{
  border-color: var(--color-slate);
  border-style: dashed;
  cursor: not-allowed;
}

/*  Labels */
label{
  display: block;
  font-size: 16px;
  line-height: 24px;
}

/*  Select Dropdowns */

select{
  outline: none;
  cursor: pointer;
  min-width: 160px;
  width: 100%;
}

.select select {
  background-color: var(--color-white);
  padding-left: 12px;
  border: 0;
  margin: 0;
  border-radius: var(--border-radius-S);
  text-overflow: '';
  -moz-appearance: none; /* hide default arrow in Firefox */
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
  font-size: 14px;
}

.select select:focus {
  outline: none;
}
.select::before,
.select::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.select::after { /*  Custom dropdown arrow */
  content: "\25BE";
  height: 1em;
  font-size: 16px;
  line-height: 1;
  right: 1em;
  top: 50%;
  margin-top: -.5em;
}

.select::before { /*  Custom dropdown arrow cover */
  width: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
  /*  box-shadow: -7px 0 20px 3px #fff; */
}

.select{
  border-radius: 40px;
  border: 1px solid var(--color-concrete);
  overflow: hidden;
  margin-bottom:24px;
  position: relative;
  display: block;
  vertical-align: middle;
  cursor: pointer;
  /*  @include elevation; */

  &.select-S{
    font-size: 14px;
    height: 35px;

   & select{
      font-size: 12px;
      line-height: 35px;
    }
  }

  &.select-full{
    width: 100%;

   & select{
      width: 100%;
    }
  }

  &.select-M{
    font-size: 16px;
    height: 40px;
    line-height: 40px;

   & select{
      font-size: 14px;
      line-height: 40px;
    }
  }

  &.select-L{
    font-size: 18px;
    height: 50px;

   & select{
      font-size: 16px;
      line-height: 50px;
    }
  }
}

/*  Forms */
input[type="text"],
textarea, input[type="tel"], input[type="number"] {
  margin-bottom: 24px;
  max-width: 100%;
  line-height: 24px;
  outline: none;
  border: 1px solid var(--color-concrete);
  font-size: 16px;
  border-radius: var(--border-radius-S);
  box-shadow: none;
  &::placeholder {
    color: var(--color-slate);
    opacity: 1;
    font-style: normal;
  }
}

input[type="text"]{
  height: 40px;
  padding-left: 8px;
  display: inline-block;

  &.input-error{
    border-color: var(--color-error-type);
    border-width: 2px;
  }
  &.disabled {
    border: 1px dashed var(--color-concrete);
    background: var(--color-lightgrey);
    color: var(--color-slate);
  }
}

textarea{
  padding: 8px;
}

/* Main */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

.form-inline {
   fieldset {
   position: relative;
  }
  & label {
    position: absolute;
    top: 8px;
    left: 8px;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
  }
}

/* Animation on <label> */
.form-css-label {
  position: relative;
  & input {
    min-width: 200px;
    &:focus {
      outline: 0;
      background: rgba(255,255,255,1);
    }
    &[data-empty="false"] + label,
    &:valid + label,
    &:focus + label {
      font-size: 12px;
      color: var(--color-slate);
      background-color: #fff;
      padding: 0 2px;
      transform: translate3d(0, -20px, 0);
    }
  }
}

/*  Placeholder text */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--color-concrete);
  font-style: italic;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--color-concrete);
  font-style: italic;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--color-concrete);
  font-style: italic;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--color-concrete);
  font-style: italic;
  font-size: 14px;
}
.input-form .form-float-label .input-text::placeholder {
  color:transparent!important;
}
.input-form .form-float-label .input-text.placeholder-text::placeholder {
  color: var(--color-concrete) !important;
}
.input-form .form-float-label :-ms-input-placeholder.input-text , .input-group .form-float-label :-ms-input-placeholder.input-text{
  color: var(--color-concrete) !important;
  font-family: Open Sans,sans-serif;
font-style: normal;
}
.input-form .form-float-label :-ms-input-placeholder.input-text:focus{
  color: transparent !important;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.form-full{
  width: 100%;
}

/*  Or */
.or{
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 14px;
  height: 32px;
  border-bottom: 1px solid var(--color-concrete);

  &:before{
    position: absolute;
    display: block;
    left: 50%;
    width: 50px;
    margin-left: -25px;
    content: "OR";
    margin-top: 21px;
    background-color: #fff;
  }
}

/*********************************************
/* Checkboxes
*********************************************/

.checkbox{
  display: block;
  vertical-align: middle;
  cursor: pointer;
  user-select:none;
  line-height: 20px;

  & input:disabled{

    &+span{
      cursor: not-allowed !important;
      color: var(--color-slate);

      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 3px;
        margin-right: 5px;
        width: 16px;
        height: 16px;
        border: 1px dashed var(--color-concrete);
        background: var(--color-lightgrey);
        box-sizing: content-box;
      }

      &:after{
        content: '';
        display: block;
        width: 4px;
        height: 9px;
        border-bottom: 3px solid var(--color-slate);
        border-right: 3px solid var(--color-slate);
        position: absolute;
        top: 1px;
        left: 5px;
        opacity: 1;
        pointer-events:none;
        transform: scale(-1,-1) rotate(-135deg);
        transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
        box-sizing: content-box;
      }
    }
  }
  
  & input{
    display: none;

    &+span{
      display: inline-block;
      position: relative;
      padding-left: 24px;

      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 3px;
        margin-right: 5px;
        width: 16px;
        height: 16px;
        border: 1px solid var(--color-nightsky);
        background: #fff;
        box-sizing: content-box;
      }

      &:after{
        content: '';
        display: block;
        width: 4px;
        height: 9px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        /*  border-bottom: 3px solid var(--color-penneyred); */
        /* border-right: 3px solid var(--color-penneyred); */
        position: absolute;
        top: 1px;
        left: 5px;
        opacity: 0;
        pointer-events:none;
        transform: scale(-1,-1) rotate(45deg);
        transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
        box-sizing: content-box;
      }
    }

    &:checked+span::before{
      background: var(--color-nightsky);
    }

    &:checked+span:after{
      opacity: 1;
      transform: scale(1,1) rotate(45deg);
    }

    &:checked:before{
      background-color: var(--color-nightsky);
    }
  }
  &.checkbox-M {
      & input{
          &+span{
          font-size:14px;
          }
      }
  }
  &.checkbox-S {
    & input{
        &+span{
        font-size:12px;
          &:before{
            top: 1px;
            width: 14px;
            height: 14px;
          }
        }
    }
}
}

/*  New forms */







/***************************************************
/* Forms
***************************************************/
.input-form {
  position: relative;
}

.input-form{
  & .form-float-label {
    display: inline-block;
    width: 100%;
    & .form-control:placeholder-shown:not(:focus) + * {
      font-size: 14px;
      opacity: 1;
      top: 1.2em;
      color: var(--color-placeholder-grey);
      caret-color: var(--color-placeholder-grey);
      &.disabled-label {
        top: -16px;
        font-size: 12px;
        background: var(--color-white);
        padding: 8px;
        color: var(--color-slate);
      }
    }
    & .disabled-label::after {
      height: 10px;
    }
    & .creditcard-text {
      padding-left: 52px;
    }
  }
  & .input-text {
    border: 1px solid var(--color-concrete);
    width: 100%;
    height: 48px;
    padding-left: 20px;
    display: inline-block;
    border-radius: var(--border-radius-M);
    font-size: 14px;
    color: var(--color-nightsky);
    caret-color: var(--color-nightsky);
    -webkit-appearance: none;
    &:focus {
      border: 1px solid var(--color-shadow);
      outline: 0;
    }
  }
  
  & .search-icon, & .tooltip-icon {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    padding: 0;
    height: 48px;
    width: 48px;
    text-align: center;
    cursor: pointer;
    & .icon {
      width: 24px;
    }
    & svg {
      width: 24px;
      margin-top: 4px;
    }
  }
  & .tooltip-icon {
    border: none;
    & svg {
      width: 25px;
      height: 25px;
      margin: 12px 0 0 6px;
    }
  }
& .jcp-icon-red {
  position: absolute;
  left: 8px;
  top: 4px;
}
  & a.apply-btn {
    position: absolute;
    right: -1px;
    top: 0px;
    height: 48px;
    line-height: 45px;
    min-width: auto;
    font-weight: bold;
    border-radius: 0px 8px 8px 0px;
    &:hover {
      border-radius: 0px 8px 8px 0px;
    }
  }
  & .disabled {
    border: 1px dashed var(--color-concrete);
    background: var(--color-lightgrey);
    color: var(--color-slate);
    cursor: not-allowed;
  }
}

.input-form.error {
  & div.form-float-label {
    & input {
      border: 2px solid var(--color-error-type);
      margin-bottom: 5px;
    }
   & label{
    color: var(--color-error-type);
   } 
  }
  & .error-message {
    color: var(--color-error-type);
  }
}

.select-form {
  & .select {
    overflow: visible;
    color: var(--color-nightsky);
    padding: 8px 6px;
    & select {
      line-height: 30px;
      min-width: auto;
      color: var(--color-slate);
    }
    & .form-float-label {
      & span {
        background: var(--color-white);
        padding: 0 3px;
        top: -1.2em;
      }
    }
  }
  & .select-selected {
    color: var(--color-nightsky) !important;
  }
  .select::before {
    width: auto;
  }
}

.form-layout .form-group {
  & input, & select {
    width: 100%;
    margin-bottom: 24px;
    height: 48px;
    line-height: 48px;
    border-radius: var(--border-radius-M);
  }
}

.form-layout.select {
  overflow: visible;
  color: var(--color-slate);
  padding: 5px 6px;
  float: right;
  & select {
    line-height: 36px;
    height:36px;
    min-width: auto;
    color: var(--color-slate);
  }
  
  &::before {
    width: 0;
  }
}

.text-area-form {
  & .form-float-label {
    display: inline-block;
    width: 100%;
    & textarea.form-control {
      min-height: 110px;
      width: 100%;
    }
    & textarea.form-control:focus {
      border: 1px solid var(--color-shadow);
      outline: 0;
    }
  }
}

.password-form {
  & .show-pwd {
    position: absolute;
    right: 10px;
    top: 14px;
  }
}




.form-float-label {
  display: block;
  position: relative;
  & label {
    position: absolute;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.5em;
    left: .75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 5px;
    &::after {
      content: " ";
      display: block;
      position: absolute;
      background: var(--color-white);
      height: 2px;
      top: 50%;
      left: -.2em;
      right: -.2em;
      z-index: -1;
    }
  }
  & > span {
    position: absolute;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: 4px;
    left: .75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
  }
  & > span::after {
    content: " ";
    display: block;
    position: absolute;
    background: var(--color-white);
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1;
  }
}

.input-form-store-locator {
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid var(--color-concrete);
  height: 40px;
  border-radius: 20px;
  margin-bottom: 16px;

  & input[type="number"],
  & select,
  & .select {
    border: none;
    border-radius: 0;
    font-size: 14px;
    margin: 0;
  }

  & select {
    height: 36px;
    border: none;
    color: var(--color-slate);
    @media (--viewport-md-only) {
      padding-left: 4px;
    }
  }
  @media (--viewport-md-only) {
    & .select:after {
      right: 1px;
    }
  }

  & input[type="number"].input-text {
    height: 38px;
    border: 1px solid var(--color-white);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-right: 1px solid var(--color-concrete);
    &:focus {
      border: 1px solid var(--color-nightsky);
      border-right: 1px solid var(--color-concrete);
    }
  }

  & .search-icon {
    border-radius: 0;
    height: 38px;
    width: 46px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    overflow: hidden;
    & .icon {
      position: absolute;
      top: -5px;
      left: 9px;
    }
    @media (--viewport-md-only) {
      width: 38px;
      & .icon {
        left: 5px;
      }
    }
  }


  & .input-form-store-locator-field-1 {
    width: 45%;
  }

  & .input-form-store-locator-field-2 {
    padding-right: 46px;
    width: 55%;
  }
  & .input-form-store-locator-field-2 select:focus{
    & .select:before{
      border: 0.5px solid #111;
    }
  }
}

.search-block {
  & .search-close-icon {
    display: block;
    position: absolute;
    right: 30px;
    top: 16px;
    background: url("var(--path-images)global/icons/nav/close.svg") no-repeat;
    height: 16px;
    width: 16px;
    background-size: contain;
  }
  & input[type="text"] {
    border-radius: 24px;
  }
  & .input-text:not(:valid) ~ .search-close-icon {
    display: none;
  }
}
.credit-card-icon {
  display: none;
}

.is_focused {
  & div {
    & input[type="text"] {
      border: 1px solid #111 !important;
      border-right: 0;
      &:focus {
        border-right: none !important;
      }
    }
    & .select {
      border-top: 1px solid #111;
      border-bottom: 1px solid #111;
      border-left: 1px solid var(--color-concrete);
    }
  }
  & button {
    border: 1px solid #111 !important;
    border-left: 1px solid var(--color-concrete) !important; 
  }
}
select::-ms-expand {
  display: none;
}
