/*******************************************
/* Star Ratings
*******************************************/
.star-preview-col {
  & .star-ratings {
    display: inline-block;
    & .rating-count {
        font-size: 12px;
        color: #111;
        text-decoration: underline;
        position: relative;
        top: -3px;
        left: 4px;
        display: block;
        &.rating-count-s{
          text-decoration: none;
        }
    }
  }
  & .rating-empty {
    & svg {
      & use {
        fill: var(--color-concrete);
      }
    }
  }
  & .star-ratings-S {
    & .star-ratings {
      width: 16px;
      height: 16px;
      & svg {
        width: 16px;
        height: 16px;
      }
      & a {
        text-decoration: none;
      }
    }
  }
  & .star-ratings-L {
    & .star-ratings {
      width: 24px;
      height: 24px;
      & svg {
        width: 24px;
        height: 24px;
      }
      & a {
        top: -6px;
      }
    }
  }
}

