/*******************************************
/* Star Ratings
*******************************************/

.star-ratings{
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  font-size: 14px;

  & li{
    display: inline-block;
    color: var(--color-penneyred);
    &.star-disable {
      color: var(--color-concrete);
    }
  }

  /*  large version of star ratings */
  &.star-ratings-L{
    font-size: 16px;
    & .star-ratings-total{
      font-size: 12px;
    }
  }
  &.star-ratings-XL{
    & li {
      font-size: 32px;
      padding: 0 5px;
    }
  }
}