/*******************************************
/* Star Ratings
*******************************************/
.star-preview-col {
  & .star-ratings {
    color: var(--color-concrete);
    position: relative;
    margin: 0 1px;
    display: inline;
    &:before {
      color: var(--color-concrete);
      content: '★';
      position: absolute;
      left: 0;
    }
    &.full:before {
      color: var(--color-penneyred);
      content: '★';
      position: absolute;
      left: 0;
    }
    &.half:before {
      color: var(--color-penneyred);
      content: '★';
      position: absolute;
      left: 0;
      width: 51%;
      overflow: hidden;
    }
    &.half:after {
      color: var(--color-concrete);
      content: '★';
      position: absolute;
      left: 0%;
      width: 100%;
      overflow: hidden;
      z-index: -1;
    }
    & .rating-count {
        font-size: 12px;
        color: var(--color-nightsky);
        text-decoration: underline;
        position: relative;
        top: -1px;
        left: 4px;
        &.rating-count-s{
          text-decoration: none;
        }
    }
  }
  & .star-ratings-S {
    & .star-ratings {
      font-size: 12px;
    }
  }
  & .star-ratings-L {
    & .star-ratings {
      font-size: 16px;
    }
  }
  & .star-ratings-XL {
    & .star-ratings {
      font-size: 32px;
    }
  }
}