/***************************************************
/* Footer
***************************************************/
.footer-block {
    border-top: 1px solid var(--color-concrete);
    padding-top: 24px;
    & .signup-block {
        margin: 0 auto;
        display: block;
        & em {
            display: block;
        }
        & .apply-btn {
            position: absolute;
            right: 0;
            height: 47px;
            line-height: 47px;
            border-radius: 0 8px 8px 0;
            font-weight: normal;
            box-shadow: none;
            padding: 0 25px;
        }
        & .footer-terms {
            font-size: 10px;
            position: absolute;
            left: 2px;
            bottom: -16px;
        }
    }

    & .contact-list {
        @media (--viewport-md-only) {
            margin: 0 auto;
            display: block;
        }
        padding: 0;
        & ul {
            margin-top: 24px;
            @media (--viewport-sm-only) {
                text-align: center;
            }
            & li{
                display: inline;
                padding-right: 18px;
                @media (--viewport-sm-only) {
                    display: inline-block;
                    text-align: center;
                    padding: 0 12px;
                }
                & a {
                    font-size: 12px;
                    text-decoration: none;
                    @media (--viewport-sm-only) {
                        display: block;
                        padding-top: 20px;
                    }
                }
                & .icon {
                    @media (--viewport-sm-only) {
                        width: 100%;
                    }
                    position: relative;
                    top: 13px;
                    width:32px;
                    height:32px;
                    right:6px;
                & svg{
                    width:32px;
                    height:32px;
                }
                }
            }
        }
    }

    & .social-connect {
        padding: 0;
        & ul {
            margin-top: 16px;
            float: right;
            @media (--viewport-md-only){
                float: none;
                text-align: center;
            }
            @media (--viewport-sm-only) {
                float: none;
                text-align: center;
            }
            & li{
                display: inline;
                padding-right: 12px;
                font-weight: bold;
                font-size: 14px;
                & .icon {
                    position: relative;
                    top: 18px;
                    width: 32px;
                    height: 32px;
                 & svg{
                    width: 32px;
                    height: 32px;
                 }
                }
                &.footer-stay-conntected{
                    position: relative;
                    top: 4px;
                }
            }
        }
    }
    & .footer-links {
        border-top: 1px solid var(--color-concrete);
        border-bottom: 1px solid var(--color-concrete);
        margin-top: 32px;
        padding: 24px 0 16px;
        float: left;
        & ul {
            float: left;
            width: 100%;
        }
        & .footer-links-title {
            float: left;
            width: 20%;
            & h5 {
                padding-right: 16px;
                font-weight: bold;        
            }
            & a {
                text-decoration: none;
            }
        }
    }
    & .footer-bottom-links {
        padding: 16px 0 24px;
        @media (--viewport-sm-only) {
            padding-bottom: 8px;
        }
        & .footer-jcp-card {
            padding: 0;
            @media (--viewport-md-only) {
                margin: 0 auto;
                display: block;
                text-align: center;
                padding-left: 50px;
            }
            @media (--viewport-sm-only) {
                padding-left: 20px;
            }
            & .card-icon {
                float: left;
                width: 70px;
                position: relative;
                top: -16px;
                right: 16px;
                @media (--viewport-md-only) {
                    margin-right: 8px;
                }
                & svg {
                    width: 80px;
                    height: 60px;
                }
            }
            & .card-links {
                & h3 {
                    font-weight: bold;
                    font-size: 14px;
                    @media (--viewport-md-only) {
                        text-align: left;
                    }
                }
                & ul {
                    @media (--viewport-md-only) {
                        text-align: left;
                    }
                    & li {
                        display: inline-block;
                        padding: 8px 12px 0 0;
                        & a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        & .footer-legal-links {
            float: right;
            @media (--viewport-md-only) {
                text-align: center;
            }
            @media (--viewport-sm) {
                text-align: center;
                padding: 0 36px;
            }
            & ul {
                float: right;
                padding-top: 8px;
                @media (--viewport-md-only) {
                    float: none;
                }
                @media (--viewport-sm) {
                    padding-top: 0;
                }
                & li {
                    display: inline;
                    font-size: 12px;
                    padding: 8px 12px 0 0;
                    & a{
                        text-decoration: none;
                        @media (--viewport-sm-only) {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    & .footer-copy {
        font-size: 10px;
        text-align: center;
        padding-bottom: 10px;
    }
    & .footer-accordion {
        & .accordion-title {
            font-family: var(--font-headline);
        }
        & .accordion-content {
            & a {
                margin-left: 36px;
            }
        }
    }
}

.footer-block {
    @media (--viewport-xl-only) {
        max-width: 1440px;
        margin: 0 auto;
    }
    @media (--viewport-sm) {
        & .footer-bottom-links{
            & .footer-legal-links ul{
                float: none;
                margin: 0 15%;
            }
            & .footer-jcp-card .card-links ul li{
                padding: 6px 16px 0 0;
            }
        }
     }
}