--animation-speed-fast: 0.25s;
--animation-speed-normal: 0.5s;
--animation-speed-slowish: 0.6s;
--animation-speed-slow: 0.75s;

.footer-block {
    border-top: 1px solid var(--color-concrete);
    padding-top: 16px;
    & .signup-block {
        margin: 0 auto;
        display: block;
        & .signup-label {
            font-weight: bold;
            font-size: 14px;
            padding: 0 0 4px 4px;
        }
        & .apply-btn {
            position: absolute;
            right: 0;
            height: 47px;
            line-height: 47px;
            border-radius: 0 8px 8px 0;
        }
        & .footer-terms {
            font-size: 10px;
            position: absolute;
            left: 2px;
            bottom: -16px;
        }
        & .input-form {
            & .css-float-label {
                & .form-control:placeholder-shown:not(:focus)+* {
                    font-size: 14px;
                    top: 1.2em;
                }
            }
        }
    }

    & .contact-list {
        @media (--viewport-md) {
            margin: 0 auto;
            display: block;
        }
        padding: 0;
        & ul {
            margin-top: 16px;
            @media (--viewport-sm-only) {
                text-align: center;
            }
            & li{
                display: inline;
                padding-right: 16px;
                @media (--viewport-sm-only) {
                    display: inline-block;
                    text-align: center;
                    padding: 0 20px;
                }
                & a {
                    font-size: 12px;
                    text-decoration: none;
                    @media (--viewport-sm-only) {
                        display: block;
                        padding-top: 20px;
                    }
                }
                & .icon {
                    @media (--viewport-sm-only) {
                        width: 100%;
                    }
                    position: relative;
                    top: 18px;
                }
            }
        }
    }

    & .social-connect {
        padding: 0;
        & ul {
            margin-top: 16px;
            float: right;
            @media (--viewport-md-only){
                float: none;
                text-align: center;
            }
            @media (--viewport-sm-only) {
                float: none;
                text-align: center;
            }
            & li{
                display: inline;
                padding-right: 12px;
                font-weight: bold;
                font-size: 14px;
                & .icon {
                    position: relative;
                    top: 18px;
                }
            }
        }
    }
    & .footer-links {
        border-top: 1px solid var(--color-concrete);
        border-bottom: 1px solid var(--color-concrete);
        margin-top: 32px;
        padding: 16px 0;
        float: left;
        & ul {
            float: left;
            width: 20%;
            & li {
                & a{
                    font-size: 12px;
                    line-height: 36px;
                    text-decoration: none;
                }
            }
            & .footer-links-title {
                font-size: 14px;
                font-weight: bold;
                line-height: 18px;
            }
        }
    }
    & .footer-bottom-links {
        padding: 16px 0;
        @media (--viewport-sm-only) {
            padding-bottom: 8px;
        }
        & .footer-jcp-card {
            padding: 0;
            @media (--viewport-md-only) {
                margin: 0 auto;
                display: block;
            }
            @media (--viewport-sm-only) {
                padding-left: 32px;
            }
            & .card-icon {
                float: left;
                width: 70px;
                position: relative;
                top: -16px;
                right: 16px;
                & svg {
                    width: 80px;
                    height: 60px;
                }
            }
            & .card-links {
                & h3 {
                    font-weight: bold;
                    font-size: 14px;
                }
                & ul {
                    & li {
                        display: inline-block;
                        font-size: 12px;
                        padding: 8px 12px 0 0;
                        & a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        & .footer-legal-links {
            @media (--viewport-md-only) {
                text-align: center;
            }
            @media (--viewport-sm) {
                text-align: center;
                padding: 0 36px;
            }
            & ul {
                float: right;
                padding-top: 8px;
                @media (--viewport-md-only) {
                    float: none;
                }
                @media (--viewport-sm) {
                    padding-top: 0;
                }
                & li {
                    display: inline;
                    font-size: 12px;
                    padding: 8px 12px 0 0;
                    & a{
                        text-decoration: none;
                        @media (--viewport-sm-only) {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    & .footer-copy {
        font-size: 10px;
        text-align: center;
    }
}

.footer-accordion {
    clear: both;
    & .accordion {
        position: relative;
        margin: 32px 0 0;
        & dl:after {
          content: "";
          display: block;
          height: 1em;
          width: 100%;
        }
        & dd {
            & a {
                display: block;
                font-size: 14px;
                text-decoration: none;
                margin-left: 35px;
                margin: 8px 0 8px 36px;
            }
            & a:first-child {
                margin-top: 0;
            }
            & a:last-child {
                margin-bottom: 16px;
            }
        }
      }
      
      & .accordion-list:after {
        content: "";
        display: block;
        height: 1em;
        width: 100%;
      }
      
      & .accordion dd, & .accordion__panel {
        font-size: 1em;
        line-height: 1.5em;
        border-bottom: 1px solid #d8d8d8;
      }
      
      & .accordion p {
        padding: 0 16px 16px 16px;
      }
      
      & .accordionTitle, & .accordion__Heading {
        font-family: 'Montserrat';
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        padding: 16px 16px 16px 8px;
        display: block;
        text-decoration: none;
        color: #111;
        transition: background-color 0.5s ease-in-out;
      }
      
      & .accordionTitle:before, & .accordion__Heading:before {
        content: " ";
        background-image: url(http://res.cloudinary.com/cbnnexus/image/upload/v1513878720/plus_mjarra.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 18px;
        width: 18px;
        position: relative;
        float: left;
        margin: -2px 12px 0 0;
        transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
      & .accordionTitleActive:before, & .accordionTitle.is-expanded:before {
        transform: rotate(135deg);
      }
      
      & .accordionItem {
        height: auto;
        overflow: hidden;
        max-height: 50em;
        transition: max-height 1s ease-in-out;
        &.is-collapsed {
          max-height: 0;
        }
      }
      
      @media screen and (min-width: 48em) {
        & .accordionItem {
          max-height: 15em;
          transition: max-height 0.5s ease-in-out;
        }
      }
      
      & .no-js {
        & .accordionItem.is-collapsed {
            max-height: auto;
        }
      }
      & .animateIn {
        animation: accordionIn 0.5s normal ease-in-out both 1;
      }
      & .animateOut {
        animation: accordionOut 0.5s alternate ease-in-out both 1;
      }
}