/***************************************************
/* homepage-layout
***************************************************/
.home-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.stylea-banner {
    margin-bottom: 8px;
}
.stylec-banner {
    @media (--viewport-md-down) {
        & .mrg-XL-m {
            margin-bottom: 32px;
        }
    }
    @media (--viewport-md-down) {
        & .stylec-left-aligned, & .stylec-right-aligned {
            padding: 0;
        }
        & .stylec-right-aligned {
            & .banner-container {
                & .cta-multi {
                    float: right;
                }
                & .promo-content {
                    text-align: right;
                    padding-bottom: 16px !important;
                }
            }
        }
    }

    @media (--viewport-sm-down), (--viewport-sm-only) { 
        & .stylec-left-aligned {
            & .promo-content {
                text-align: left;
                padding-bottom: 16px !important;
            }
        }

        & .stylec-right-aligned {
            & .promo-content {
                text-align: right;
            }
        }
    }
}
.styled-banner {
    & .styled {
        & .banner-container {
            margin: 0 auto;
        }
    }
    @media (--viewport-sm-down), (--viewport-sm-only) { 
            & .promo-content {
                text-align: left;
                padding-bottom: 16px !important;
            }
    }

}