/***************************************************
/* homepage-layout
***************************************************/
.home-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.stylea-banner {
    margin-bottom: 8px;
}
.stylec-banner {
    @media (--viewport-md-down) {
        & .mrg-XL-m {
            margin-bottom: 32px;
        }
    }
}
.styled-banner {
    & .styled {
        & .banner-container {
            margin: 0 auto;
        }
    }
}