/*********************************
/* styleDSingleCTA 
*********************************/

.styled {
    & .banner-container {
        margin: 0;
        max-width: 368px;
        @media (--viewport-sm-down) {
            margin: 0 16px;
            max-width: 100%;
        }
        & .banner-image {
            width: 100%;
            height: 368px;
            display: block;
            position: relative;
            overflow: hidden;
            @media (--viewport-sm-down) {
                height: auto;
            }
            & img {
                transition:all .25s;
                @media (--viewport-sm-down) {
                    width: 100%;
                }
            }
            & .img-mask{
                overflow:hidden;
            }
        }
        & .banner-image:after {
            content: "";
            display: block;
            position: absolute;
            height: 8px;
            width: 336px;
            left: 16px;
            bottom: -4px;
            background-color: #41C2CC;
            transition: all .25s;
            @media (--viewport-sm-down) {
                width: 96%;
                left: 0;
                position: relative;
                margin: 0 auto;
                bottom: 4px;
                height: 4px;
            }
        }
        & .promo-content {
            padding: 16px 0;
            text-align: center;
            @media (--viewport-sm-down) {
                text-align: left;
            }
            & .promo-title {
                font: 32px var(--font-headline);
                font-weight: bold;
                @media (--viewport-sm-down) {
                    font: 20px var(--font-headline);
                    font-weight: bold;
                }
            }
            & .promo-sub-title {
                font-size: 16px;
                color: #636f79;
                line-height: 18px;
                @media (--viewport-sm-down) {
                    font-size: 14px;
                }
                & .promo-code {
                    font-weight: bold;
                    color: var(--color-nightsky)
                }
            }
            & .promo-details {
                font-size: 12px;
                line-height: 16px;
            }
            & .promo-links {
                @media (--viewport-sm-down) {
                    text-align: center;
                }
                & .btn {
                    margin: 8px;
                    width: 152px;
                    @media (--viewport-sm-down) {
                        &:nth-child(odd) {
                                margin-left: 0;
                        }
                        &:nth-child(even) {
                            margin-right: 0;
                        }
                        width: 47%;
                    }
                }
            }
        }
        &:hover .banner-image img {
            transform: scale(1.2);
        }
        &:hover .banner-image:after {
            transform: scale(1.2);
            width: 307px;
            left: 31px;
            @media (--viewport-sm-down) {
                width: 100%;
                left: 1px;
                top: -1px;
            }
        }
    }
}
.single-cta {
    & .banner-container {
        & .promo-content {
            & .promo-links {
                & .btn {
                    width: 100%;
                }
            }
            & .promo-details {
                padding-top: 12px;
            }
        }
    }
}