/* note:- import product card css in yoda */
.product-card-wrapper-recommendations {
	transform: none !important;
	display: inline;
	overflow: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	& .product-card-block {
		position: relative;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		@media (--viewport-md-down) {
			overflow: auto;
			overflow-y: hidden;
		}
		& .product-card-recommendation {
			@media (--viewport-xl-only) {
				width: 160px;
			}
			@media (--viewport-lg-only) {
				width: 160px;
			}
			@media (--viewport-md-only) {
				width: 122px;
				& .product-card-name {
					height: 35px;
    				overflow: hidden;
				}
			}
			@media (--viewport-sm-only) {
				width: 120px;
				margin: 0 8px;
				& .product-card-name {
					font-size: 12px;
					height: 35px;
    				overflow: hidden;
				}
			}
		}
		& ul {
			transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
			& li {
				display: inline-flex;
				& a {
					display: block;
					text-decoration: none;
				}
			}
			& .product-card-recommendation {
				white-space: pre-wrap;
			}
		}
	}
	& .product-card-block:hover::-webkit-scrollbar {
		-webkit-appearance: none;
		height: 6px;
	}
	
	& .product-card-block:hover::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0,0,0,.5);
		-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
	& .rec-zone-carousel {
		text-align: center;
		& .bullet[type="radio"] {
			&:checked + label, &:not(:checked) + label {
			  position: relative;
			  padding-left: 15px;
			  cursor: pointer;
			  line-height: 20px;
			  display: inline-block;
			}
			&:checked + label:before, &:not(:checked) + label:before {
				content: "";
				  position: absolute;
				  left: 5.2px;
				top: 4px;
				width: 10px;
				height: 10px;
				border: 0;
				border-radius: 100%;
				background: #d8d8d8;
			}
			&:checked + label:after {
			  content: "";
			  width: 10px;
			  height: 10px;
			  position: absolute;
			  top: 5px;
			  left: 5px;
			  background: #384048;
			  border-radius: 100%;
			}
			&:not(:checked) + label:after {
			  content: "";
			  width: 10px;
			  height: 10px;
			  position: absolute;
			  top: 5px;
			  left: 5px;
			  background: #d8d8d8;
			  border-radius: 100%;
			  opacity: 0;
			  transform: scale(0);
			  transition: all var(--transition-time-S) ease-in-out;
			}
		}
		
	}
	& .chevron-wrapper {
		position: relative;
		width: 100%;
		& .chevron-icon{
			
			& svg {
				width: 40px;
				height: 40px;
				margin-top: 7px;
				margin-left: 8px;
				background: rgba(56, 64, 72, 0.8);
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
				border-radius: 50%;
				padding: 6px;
				position: absolute;
				display: block;
				z-index: 9;
				top: 115px;
				& use {
					fill: var(--color-white);
				}
			}
		}
		& .rec-zone-chevron-left{
			width: 180px;
			cursor: default;
			& svg {
				left: 8px;
				cursor: pointer
			}
		}
		& .rec-zone-chevron-right{
			width: 180px;
			cursor: default;
			& svg {
				right: 8px;
				cursor: pointer;
			}
		}
	}
	& .product-opacity{
		opacity: 0.30;
	}
}
@media (--viewport-sm-only) {
	.product-card{
		padding: 0 8px;
	}
}

.rec-fade-left {
	position: absolute;
    max-height: 300px;
    width: 120px;
    z-index: 999;
    min-height: 290px;
	left: 0;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	@media (--viewport-md-only) {
		pointer-events: none;
	}
	@media (--viewport-sm-only) {
		pointer-events: none;
	}
}

.rec-fade-right {
	position: absolute;
    max-height: 300px;
    width: 120px;
    z-index: 999;
	min-height: 290px;
	right: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	@media (--viewport-md-only) {
		pointer-events: none;
	}
	@media (--viewport-sm-only) {
		pointer-events: none;
	}
}



