/* note:- import product card css in yoda */
.product-card-wrapper {
	display: inline;
	overflow: auto;
	white-space: nowrap;
	& .product-card-block {
		position: relative;
		overflow: hidden;
		@media (--viewport-md-down) {
			overflow: auto;
		}
		& .chevron-icon{
			position: absolute;
			display: block;
			z-index: 9;
			top: 45%;
			width: 40px;
			height: 40px;
			opacity: 0.75;
			background-color: #384048;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
			border-radius: 50%;
			& svg {
				& path {
					fill: var(--color-white) !important;
				}
			}
		}
		& .rec-zone-chevron-left{
			left: 0;
		}
		& .rec-zone-chevron-right{
			right: 0;
		}
		& ul {
			transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
			& .product-card-recommendation {
				white-space: pre-wrap;
				& a {
					display: block;
					text-decoration: none;
				}
			}
		}
	}
}
& .product-card-wrapper:hover {
	& .chevron-wrapper {
		& .chevron-icon{
			display: block;
		}
	}
}

