.main-menu-promotional-banner {
	background-color: var(--color-nightsky);
	text-align: center;
	padding: 8px;

	& p {
		color: var(--color-white);
		display: inline-block;
		padding-left: 2px;
		padding-right: 2px;
	}

	& a {
		color: var(--color-white);
	}

}

.main-menu {
	& a:focus, & button:focus {
		outline: none;
	}
}

.main-menu-bar-tier1 {
	background-color: var(--color-penneyred);
}

.main-menu-tier1 {
	display: flex;
	flex: 0 0 100%;
	flex-direction: row;
	padding: 10px 8px;
	max-width: 1400px;
	margin: 0 auto;

	& .main-menu-tier1-item {
		flex: 1;
		align-self: center;
	}

	& .main-menu-tier1-search {
		flex: 2.5;
		position: relative;
		padding: 0 15px;

		& input[type=text] {
			width: 100%;
			border-radius: 24px;
			border: 1px solid var(--color-concrete);
			padding: 10px 20px;
			margin: 0;

			&::placeholder {
			  color: var(--color-penneyred);
			  opacity: 1;
			  font-style: normal;
			}
		}

		& button {
			position: absolute;
			top: 0;
			right: 25px;
			background: none;
			border: none;
			padding: 0;
			width: 40px;
			height: 40px;
			z-index: 3;

			&:hover {
				border: none;
			}

			& path {
		    	fill: var(--color-lipstick) !important;
			}
		}
	}

	& .main-menu-tier1-logo {
		max-width: 160px;
		padding-left: 20px;
		& path {
		    fill: var(--color-white) !important;
		}
		& .main-menu-tier1-logo-svg {
			max-width: 160px;
		}
	}

	& .main-menu-tier1-account {
		padding:0 30px;
		max-width: 260px;
		min-width: 230px;
		position: relative;

		& .dropdown-account {
			position: absolute; 
			z-index: 2001;
			width: 250px;
			right: 44px;

			& .tooltip {
				padding-bottom: 0;
			}
			& ul {
				& .main-menu-tier1-sign-rewards {
					background-color: var(--color-rewards-grape);
					& a {
						color: var(--color-white);
						display: block;
						padding: 10px; 
						& span {
							display: inline-block;
							vertical-align: middle;
							overflow: visible;

							&.main-menu-tier1-sign-rewards-amount {
								border: 2px solid var(--color-rewards-plum);
								width: 50px;
								height: 50px;
								border-radius: 25px;
								text-align: center;
								margin-right: 12px;
								padding-top: 3px;
							}
						}
					}
				}
			}
		}

		& button {
			background: url(var(--path-images)global/icons/service/account.svg) no-repeat left center;
			background-size: 40px auto;
			border: none;
			text-align: left;
			max-width: none;
			width: 100%;
			padding-left: 44px;
			font-weight: 300;

			& .main-menu-tier1-account-title {
				font-size: 14px;
				line-height: 16px;
			}

			& .main-menu-tier1-account-link {
				font-size: 18px;
				line-height: 20px;
				position: relative;

				& .arrow {
					right: 0;
					top: 2px;
				}
			}

			&:hover {
				border: none;
			}

			&.arrow-down {
				& .main-menu-tier1-account-link {
					& .arrow {
						top: 6px;
					}
				}
			}
		}

	}

	& .main-menu-tier1-rewards {
		max-width: 125px;
		padding-left: 15px;
	}

	& .main-menu-tier1-cart {
		max-width: 60px;
		padding-right: 20px;

		& .main-menu-tier1-cart-icon-full {
			background: url(var(--path-images)global/icons/utility/cart/cart-full.svg) no-repeat;
			display: inline-block;
			width: 40px;
			height: 40px;
			position: relative;

			& .main-menu-tier1-cart-icon-full-items {
				position: absolute;
				top: 6px;
				left: 0;
				text-align: center;
				color: var(--color-white);
				display: block;
				padding-left: 3px;
				letter-spacing: -.25px;
				font-size: 15px;
				width: 100%;
			}

		}

	}
}

@media (--viewport-lg) {
	.main-menu-bar-tier2-container {
		display: flex;
		flex: 0 0 100%;
		flex-direction: row;
		padding: 10px 8px;
		max-width: 1400px;
		margin: 0 auto;

		& .main-menu-tier2-left{
			flex: 3;
		}
		& .main-menu-tier2-right {
			flex: 1;
		}

		& .main-menu-tier2-li {
			display: inline-block;
		}

		& .main-menu-tier2-li-primary {
			padding-left: 20px;
			padding-right: 20px;
			& a {
				text-decoration: none;
				display: inline-block;
				font-size: 18px;
			}
		}

		& .main-menu-tier2-li-highlight {
			& a {
				color: var(--color-penneyred);
				font-weight: bold;
			}
		}

		& .main-menu-tier2-shop-departments {
			color: var(--color-nightsky);
			position: relative;

			& .main-menu-tier2-shop-departments-menu-svg {
				position: absolute;
				top: 0;
				left: 10px;
			}

			& .main-menu-tier2-shop-departments-menu-label {
				font-weight: bold;
				font-size: 18px;
				display: inline-block;
				margin-top: 8px;
				padding-left: 40px;
			}

		}

		& .main-menu-tier2-my-store {
			position: relative;
			& button {
				border: none;
				color: var(--color-nightsky);
				font-weight: 500;
				max-width: initial;
				float: right;

				&:hover {
					border: none;
				}
			}

			& .dropdown-my-store {
				position: absolute; 
				z-index: 2001;
				width: 300px;
				right: -3px;
				top: 38px;

				& ul {
					padding: 16px;
				}
			}
			& .main-menu-tier2-my-store-listing {
				& p {
					line-height: 22px;
				}
			}
		}
	}
}


.main-menu-tier3 {
	    & .main-menu-tier-3-link {
	    	display: block;
	    	padding: 10px 16px;
	    	position: relative;
	    	font-size: 14px;
	    	text-decoration: none;

	    	&:after{
	    		content: "";
	    		position: absolute;
	    		top: 3px;
	    		right: 10px;
	    		background: url(var(--path-images)global/icons/nav/chevron-right.svg) no-repeat right center;
				background-size: 100% auto;
				opacity: .5;
				width: 30px;
				height: 30px;
	    	}
	    }
	}


@media (--viewport-lg) {
	#mainMenuTier2LightBox {
		position: absolute;
	    top:0;
	    left:0;
	    width:100%;
	    height: 100%;
	    background:rgba(0,0,0,.5);
	    z-index: 1999;
	}
	.main-menu-tier3 {
		display: none;
		width: 218px;
	    height: 0;
	    position: absolute;
	    top: 100%;
	    left: 0;
	    z-index: -1;
	    visibility: hidden;
	    overflow: hidden;  /* Provides clipping for initial slide down animation */
	    opacity: 0;
	    background-color: var(--color-white);
	    transition: height 8000ms ease-in;
	   
	}

	.main-menu-tier2-hover {
		& .main-menu-tier3 {
			height: 510px;
			opacity: 1;
			display: block;
			visibility: visible;
			
			z-index: 2001;
		}
	}



}
@media (--viewport-md-down) {
	.main-menu-bar-tier2-panel {
	& .side-panel-container,
	& .side-panel-header {
		max-width: 320px;
	}
}
	.main-menu-tier-3-link-md-down {
		display: block;
		padding: 10px 16px;
		position: relative;
		font-size: 14px;
		text-decoration: none;

		&:after{
			content: "";
			position: absolute;
			top: 3px;
			right: 10px;
			background: url(var(--path-images)global/icons/nav/chevron-right.svg) no-repeat right center;
			background-size: 100% auto;
			opacity: .5;
			width: 30px;
			height: 30px;
		}
	}
	.main-menu-tier2-my-store {
		padding-bottom: 25px;
		& .main-menu-tier-3-button-md-down {
			border: none;
			max-width: none;
			color: var(--color-nightsky);
			width: 100%;
			padding: 16px;
			text-align: left;
			border-radius: 0;
			border-top: 1px solid var(--color-concrete);
			border-bottom: 1px solid var(--color-concrete);
			font-weight: 400;
			& .arrow {
				display: none;
			}
			&:after{
				content: "";
				position: absolute;
				top: 8px;
				right: 10px;
				background: url(var(--path-images)global/icons/nav/chevron-right.svg) no-repeat right center;
				background-size: 100% auto;
				opacity: .5;
				width: 30px;
				height: 30px;
			}

			&:hover {
				border: none;
				border-top: 1px solid var(--color-concrete);
				border-bottom: 1px solid var(--color-concrete);
			}
		}
	}
	.main-menu-tier1 {
		position: relative;
		padding-bottom: 60px;
		padding-left: 40px;

		& .side-panel-btn {
			position: absolute;
			top: 13px;
			left: 18px;
		}

		& .main-menu-tier1-logo {
			max-width: initial;
			flex: 2;
		}

		& .main-menu-tier1-account {
			padding: 0 15px;
			min-width: 200px;
		}

		& .main-menu-tier1-search {
			display: block;
			position: absolute;
			bottom: 10px;
			left: 0px;
			width: 100%;
		}

	}
}

@media (--viewport-sm-only) {
	.main-menu-tier1 {
		
		& .main-menu-tier1-logo {
			padding-left: 18px;
		}

		& .main-menu-tier1-cart {
			padding-right: 8px;
		}

		& .main-menu-tier1-account {
			max-width: 70px;
			padding: 0 5px;
			max-width: 55px;
			min-width: initial;

			& button {
				width: 40px;
				height: 40px;
				padding: 0;
			}


			& .main-menu-tier1-account-title, 
			& .main-menu-tier1-account-link {
				display: none;
			}
		}

		& .side-panel-btn {
			top: 7px;
		}

	}


}

.change-my-store-map-view {
	padding-top: 12px;
}

.expand-collapse-section {
	display: none;
}

.main-menu-bar-tier2-panel {
	& .side-panel-content {
		padding-left: 0;
		padding-right: 0;
	}
}

.change-my-store-panel {
	& .side-panel-container,
	& .side-panel-header {
		max-width: 430px;
	}

	

	& .change-my-store-details {
		line-height: 22px;
	}

	& .side-panel-col-details, 
	& .side-panel-col-button {
		padding: 20px 0 2px;
	}

	& .side-panel-col-select {
		padding-bottom: 5px;
		& .dropdown-menu {
			position: absolute; 
			z-index: 2001;
			width: 200px;
			left: 17px;
		}
	}
}


/* Move below to Side Panel */

.change-my-store-listing {
	& .side-panel-row-wrap {
		padding-bottom: 12px;
	}
}

.side-panel-row-wrap {
	border-bottom: 1px solid var(--color-concrete);
	margin-left: -16px;
	margin-right: -16px;
	padding-left: 16px;
	padding-right: 16px;

	&.no-border {
		  border-bottom: none;
	}

	& .side-panel-row {
		display: flex;
	    flex: 0 0 100%;
		flex-direction: row;

		& .side-panel-col {
			flex: 1 0 50%;
			align-self: center;
			&.side-panel-col-button {
				max-width: 130px;
			}
			&.side-panel-col-map-view {
				max-width: 130px;
				align-self: inherit;
				padding-top: 10px;

			}
		}

		& .side-panel-col-full {
			flex: 0 1 100%;
		}
	}
}

.side-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transition: visibility 0s 0.6s;
  z-index: 2000;
  &:after {
	  position: absolute;
	  content: "";
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: transparent;
	  cursor: pointer;
	  transition: background 0.3s 0.3s;
  }
}
.side-panel.is-visible {
  visibility: visible;
  transition: visibility 0s 0s;
}
.side-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  transition: background 0.3s 0s;
}

.side-panel-header {
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: var(--color-shadow);
  color: var(--color-white);
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);

	& h3 {
		margin:10px 0 0 16px;
	}

}

.from-right .side-panel-header {
  right: 0;
}
.from-left .side-panel-header {
  left: 0;
}


.side-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45px;
  display: inline-block;
  white-space: nowrap;
  padding-top: 5px;
}

/*.no-touch .side-panel-close:hover {
  background-color: #424f5c;
}
.no-touch .side-panel-close:hover::before, .no-touch .side-panel-close:hover::after {
  background-color: #ffffff;
  transition-property: transform;
  transition-duration: 0.3s;
}
.no-touch .side-panel-close:hover::before {
  transform: rotate(220deg);
}
.no-touch .side-panel-close:hover::after {
  transform: rotate(135deg);
}
*/
.side-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: var(--color-white);
  z-index: 1;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
}
.from-right .side-panel-container {
  right: 0;
  transform: translate3d(100%, 0, 0);
}
.from-left .side-panel-container {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}
.is-visible .side-panel-container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .side-panel-container {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .side-panel-container {
    width: 50%;
  }
}

.side-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 16px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.side-panel-content p:first-of-type {
  margin-top: 0;
}

@media (--viewport-md-up) {
	.side-panel-disable-desktop {
		visibility: visible;
		height: auto;
		position: relative;
		transition: none;
		top: initial;
		left: initial;
		& .side-panel-content {
			position: relative;
			top: initial;
  			left: initial;
			overflow: visible;
			height: auto;
			padding: 0;
		}
		& .side-panel-header {
			display: none;
		}
		& .side-panel-container {
  			transform: none;
  			transition-delay: 0s;
  			position: initial;
  			width: 100%;
  			height: auto;
  			top: initial;
  			left: initial;
  			background: none;
		}
		&:after {
			display: none;
		}
	}
}
