body {
    font-family: $font-body;
}

a {
    color: $color-nightsky;
    text-decoration: underline;
}

em,
strong {
    font-weight: 700;
    font-style: normal;
    color: #111;
}

strong {
    font-weight: $font-weight-bold;
}

hr {
    border: none;
    border-top: 1px solid $color-concrete;
    margin: 20px 0;
}

.list {
    li {
        list-style-type: disc;
        margin: 15px 0 15px 34px;
        padding-left: 15px;
        line-height: 20px;
    }
    &.list-checkboxes {
        li {
            .checkbox {
                display: inline-block;
            }

            .list-qty {
                float: right;
                color: $color-slate;
            }
        }
    }
    &.list-underline {
        li {
            list-style-type: none;
            line-height: 40px;
            border-bottom: 1px solid $color-concrete;
            margin: 0;
            padding: 0;
        }
    }
    &.list-links {
        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            line-height: 40px;
        }
    }
    &.list-icons {
        li {
            position: relative;
            border-bottom: none;
            padding-left: 48px;
            line-height: 24px;
            list-style-type: none;
            margin: 0 0 16px;
            .icon {
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }
}






/***************************************************
/* Typography
/* Price, standard type styles
***************************************************/

// Body copy
p {
    color: $color-slate;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 10px;

    &.S {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.38px;
    }

    &.XS {
        font-size: 12px;
        line-height: 16px;
    }
}

// Price
.price {
    font-family: $font-headline;
    font-weight: $font-weight-bold;
    color: $color-nightsky;

    &.price-XL {
        font-size: 40px;
        line-height: 38px;
        letter-spacing: -0.75px;
    }

    &.price-L {
        font-size: 34px;
        line-height: 24px;
        letter-spacing: -1.06;
    }

    &.price-M {
        font-size: 24px;
        letter-spacing: -0.75px;
        line-height: 24px;
    }

    &.price-S {
        font-size: 20px;
        letter-spacing: -0.62px;
        line-height: 20px;
    }
}


// Titles
.title {
    font-family: $font-headline;
    font-weight: $font-weight-regular;
    color: $color-nightsky;
}

.title-XXL {
    font-size: 28px;
    letter-spacing: -0.7px;
    line-height: 32px;
}

.title-XL {
    font-size: 24px;
    letter-spacing: -0.64px;
    line-height: 28px;
}

.title-L {
    font-size: 20px;
    letter-spacing: -0.54px;
    line-height: 24px;
}

.title-M {
    font-size: 16px;
    letter-spacing: -0.43px;
    line-height: 20px;
}

.title-S {
    font-size: 14px;
    letter-spacing: -0.37px;
    line-height: 18px;
}

// Standard Text
.std-txt {
    color: $color-slate;
    font-weight: $font-weight-regular;
    font-family: $font-body;

    &.std-txt-XL {
        font-size: 20px;
        letter-spacing: -0.5px;
        line-height: 30px;
    }

    &.std-txt-L {
        font-size: 18px;
        letter-spacing: -0.6px;
        line-height: 22px;
    }

    &.std-txt-M {
        font-size: 16px;
        letter-spacing: -0.54px;
        line-height: 20px;
    }

    &.std-txt-S {
        font-size: 14px;
        letter-spacing: -0.43px;
        line-height: 18px;
    }

    &.std-txt-XS {
        font-size: 12px;
        letter-spacing: -0.28px;
        line-height: 16px;
    }

    &.std-txt-light,
    &.std-txt-light a {
        color: #fff;
    }
}

// Promo Labels
.promo-lbl {
    font-family: $font-headline;
    font-weight: $font-weight-bold;
    color: $color-nightsky;

    &.promo-lbl-XXXL {
        font-size: 96px;
        letter-spacing: -0.8px;
        line-height: 102px;
    }

    &.promo-lbl-XXL {
        font-size: 72px;
        letter-spacing: -0.6px;
        line-height: 74px;
    }

    &.promo-lbl-XL {
        font-size: 50px;
        letter-spacing: -0.6px;
        line-height: 52px;
    }

    &.promo-lbl-L {
        font-size: 44px;
        letter-spacing: -0.52px;
        line-height: 46px;
    }

    &.promo-lbl-M {
        font-size: 36px;
        letter-spacing: -0.43px;
        line-height: 38px;
    }

    &.promo-lbl-MS {
        font-size: 24px;
        letter-spacing: -0.43px;
        line-height: 26px;
    }

    &.promo-lbl-S {
        font-size: 20px;
        letter-spacing: -0.24px;
        line-height: 24px;

        &.promo-display {
            text-shadow: .2rem .2rem rgba(0, 0, 0, 0.5);
        }
    }

    &.promo-lbl-light {
        color: #fff;
    }

    &.promo-display {
        text-transform: uppercase;
        color: $color-white;

        &.promo-lbl-XXL {
            // text-shadow: 6px 6px rgba(0,0,0,0.5);
        }

        &.promo-lbl-XL {
            // text-shadow: 5px 5px rgba(0,0,0,0.5);
        }

        &.promo-lbl-L {
            // text-shadow: 4px 4px rgba(0,0,0,0.5);
        }

        &.promo-lbl-M {
            // text-shadow: 4px 4px rgba(0,0,0,0.5);
        }

        &.promo-lbl-S {
            // text-shadow: 3px 3px rgba(0,0,0,0.5);
        }
    }
}

// Marketing Label
.marketing-lbl {
    text-transform: uppercase;
    color: $color-penneyred;
    font-size: 12px;
    line-height: 16px;
    font-family: $font-headline;
    letter-spacing: -0.3px;
    font-weight: $font-weight-regular;

    &.marketing-lbl-S {
        font-size: 12px;
        line-height: 16px;
    }
}

// Alignment
.algn-lft {
    text-align: left;
}

.algn-mid {
    text-align: center;
}

.algn-rght {
    text-align: right;
}

@include breakpoint(small only) {
    .algn-lft-S {
        text-align: left;
    }
    .algn-mid-S {
        text-align: center;
    }
    .algn-rght-S {
        text-align: right;
    }
}

@include breakpoint(medium only) {
    .algn-lft-M {
        text-align: left;
    }
    .algn-mid-M {
        text-align: center;
    }
    .algn-rght-M {
        text-align: right;
    }
}

@include breakpoint(large only) {
    .algn-lft-L {
        text-align: left;
    }
    .algn-mid-L {
        text-align: center;
    }
    .algn-rght-L {
        text-align: right;
    }
}

@include breakpoint(xlarge only) {
    .algn-lft-XL {
        text-align: left;
    }
    .algn-mid-XL {
        text-align: center;
    }
    .algn-rght-XL {
        text-align: right;
    }
}

.valgn-top {
    vertical-align: top;
    td,
    th {
        vertical-align: top;
    }
}

.valgn-mid {
    vertical-align: middle;
    td,
    th {
        vertical-align: middle;
    }
}

.valgn-btm {
    vertical-align: bottom;
    td,
    th {
        vertical-align: bottom;
    }
}

// All Caps
.txt-caps {
    text-transform: uppercase;
}

.txt-bold {
    font-weight: bold;
}
