* {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--font-body);
}

a {
    color: var(--color-nightsky);
    text-decoration: underline;
}

em,
strong {
    font-weight: 700;
    font-style: normal;
    color: #111;
}

strong {
    font-weight: var(--font-weight-bold);
}

hr {
    border: none;
    border-top: 1px solid var(--color-concrete);
    margin: 20px 0;
    clear: both;
}




/***************************************************
/* Typography
/* Price, standard type styles
***************************************************/

/*  Body copy */
p {
    color: var(--color-slate);
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 10px;

    &.S {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.38px;
    }

    &.XS {
        font-size: 12px;
        line-height: 16px;
    }
}

@media (--viewport-sm) {
    p {
        &.S-at-S {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.38px;
        }

        &.XS-at-S {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.line-through {
    text-decoration: line-through;
}
/*  Price */
.price {
    font-family: var(--font-headline);
    font-weight: var(--font-weight-bold);
    color: var(--color-nightsky);
    letter-spacing: 0;

    &.price-XL {
        font-size: 40px;
        line-height: 38px;
        letter-spacing: -.66px;
    }

    &.price-L {
        font-size: 34px;
        line-height: 24px;
        letter-spacing: -.5px;
    }

    &.price-M {
        font-size: 24px;
        letter-spacing: .33px;
        line-height: 24px;
        letter-spacing: -.33px;
    }

    &.price-S {
        font-size: 20px;
        letter-spacing: .25px;
        line-height: 20px;
        letter-spacing: -.25px;
    }

    &.price-XS {
        font-size: 16px;
        letter-spacing: .25px;
        line-height: 20px;
    }

    &.price-XXS {
        font-size: 12px;
        letter-spacing: .25px;
        line-height: 20px;
    }

    &.price-promo {
        font-size: 12px;
        letter-spacing: .25px;
        line-height: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &.price-promo-S {
        font-size: 10px;
        letter-spacing: .25px;
        line-height: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &.price-note-M {
        font-size: 14px;
        line-height: 14px;
        font-weight: var(--font-weight-normal);
    }

    &.price-note {
        font-size: 12px;
        line-height: 14px;
        font-weight: var(--font-weight-normal);
    }

    &.price-note-XS {
        font-size: 10px;
        letter-spacing: .25px;
        line-height: 14px;
        font-weight: var(--font-weight-normal);
    }

    &.price-details {
        font-size: 14px;
        font-weight: var(--font-weight-normal);
    }
}

@media (--viewport-md-only) {
    .price {      
        &.price-note {
            font-size: 10px;
            line-height: 12px;
        }
    }
}

/*  Titles */
.title {
    font-family: var(--font-headline);
    font-weight: var(--font-weight-normal);
    color: var(--color-nightsky);
}

.title-XXL {
    font-size: 28px;
    letter-spacing: -0.75px;
    line-height: 32px;
}

.title-XL {
    font-size: 24px;
    letter-spacing: -0.66px;
    line-height: 28px;
}

.title-L {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 24px;
}

.title-M {
    font-size: 16px;
    letter-spacing: -0.33px;
    line-height: 20px;
}

.title-S {
    font-size: 14px;
    letter-spacing: -0.25px;
    line-height: 18px;
}

.title-XS {
    font-size: 12px;
    letter-spacing: -0.25px;
    line-height: 16px;
}


/*  Standard Text */
.std-txt {
    color: var(--color-slate);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-body);
    letter-spacing: 0px;

    &.std-txt-XL {
        font-size: 20px;
        line-height: 30px;
    }

    &.std-txt-L {
        font-size: 18px;
        line-height: 22px;
    }

    &.std-txt-M {
        font-size: 16px;
        line-height: 20px;
    }

    &.std-txt-S {
        font-size: 14px;
        line-height: 18px;
    }

    &.std-txt-XS {
        font-size: 12px;
        line-height: 16px;
    }

    &.std-txt-XXS {
        font-size: 10px;
        line-height: 14px;
    }

    &.std-txt-light,
    &.std-txt-light a {
        color: #fff;
    }
}

@media (--viewport-sm-only) {
    .std-txt {
        &.std-txt-XS-at-S {
            font-size: 12px;
            letter-spacing: -0.28px;
            line-height: 16px;
        }
    }
}

@media (--viewport-sm-down){
    .std-txt {
        &.std-txt-S-at-S {
            font-size: 14px;
            letter-spacing: -0.28px;
            line-height: 24px;
        }
    }
}

/*  Promo Labels */
.promo-lbl {
    font-family: var(--font-headline);
    font-weight: var(--font-weight-bold);
    color: var(--color-nightsky);

    &.promo-lbl-XXXL {
        font-size: 50px;
        letter-spacing: -0.6px;
        line-height: 52px;
    }

    &.promo-lbl-XXL {
        font-size: 44px;
        letter-spacing: -0.5px;
        line-height: 46px;
    }

    &.promo-lbl-XL {
        font-size: 36px;
        letter-spacing: -0.4px;
        line-height: 38px;
    }

    &.promo-lbl-L {
        font-size: 24px;
        letter-spacing: -0.3px;
        line-height: 26px;
    }

    &.promo-lbl-M {
        font-size: 20px;
        letter-spacing: -0.2px;
        line-height: 22px;
    }

    &.promo-lbl-XL-S {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -.5px;
    }

    &.promo-lbl-S {
        font-size: 16px;
        letter-spacing: -0.2px;
        line-height: 18px;
    }

    &.promo-lbl-XS {
        font-size: 14px;
        letter-spacing: -0.2px;
        line-height: 16px;

        &.promo-display {
            text-shadow: .2rem .2rem rgba(0, 0, 0, 0.5);
        }
    }

    &.promo-lbl-light {
        color: #fff;
    }

    &.promo-display {
        text-transform: uppercase;
        color: var(--color-white);
		/*
        &.promo-lbl-XXL {
            text-shadow: 6px 6px rgba(0,0,0,0.5);
        }

        &.promo-lbl-XL {
            text-shadow: 5px 5px rgba(0,0,0,0.5);
        }

        &.promo-lbl-L {
            text-shadow: 4px 4px rgba(0,0,0,0.5);
        }

        &.promo-lbl-M {
            text-shadow: 4px 4px rgba(0,0,0,0.5);
        }

        &.promo-lbl-S {
            text-shadow: 3px 3px rgba(0,0,0,0.5);
        }
		*/
    }
}

@media (--viewport-sm-down){
    .promo-lbl {
        &.promo-lbl-XL-S {
            font-size: 20px;
            letter-spacing: .25px;
            line-height: 30px;
            letter-spacing: -.25px;
        }
    }
}

/*  Marketing Label */
.marketing-lbl {
    text-transform: uppercase;
    color: var(--color-penneyred);
    font-size: 12px;
    line-height: 16px;
    font-family: var(--font-headline);
    letter-spacing: -0.3px;
    font-weight: var(--font-weight-regular);

    &.marketing-lbl-S {
        font-size: 12px;
        line-height: 16px;
    }
}

/*  Value - Should be assigned to info around sales, value, etc. */
.value{
  color: var(--color-penneyred) !important;
}

/*  Alignment */

.font-headline {
    font-family: var(--font-headline);
}


/*  Alignment */
.algn-lft {
    text-align: left;
}

.algn-mid {
    text-align: center;
}

.algn-rght {
    text-align: right;
}

@media (--viewport-sm-only) {
    .algn-lft-S {
        text-align: left;
    }
    .algn-mid-S {
        text-align: center;
    }
    .algn-rght-S {
        text-align: right;
    }
}

@media (--viewport-md-only) {
    .algn-lft-M {
        text-align: left;
    }
    .algn-mid-M {
        text-align: center;
    }
    .algn-rght-M {
        text-align: right;
    }
}

@media (--viewport-lg-only) {
    .algn-lft-L {
        text-align: left;
    }
    .algn-mid-L {
        text-align: center;
    }
    .algn-rght-L {
        text-align: right;
    }
}

@media (--viewport-xl-only) {
    .algn-lft-XL {
        text-align: left;
    }
    .algn-mid-XL {
        text-align: center;
    }
    .algn-rght-XL {
        text-align: right;
    }
}

.valgn-top {
    vertical-align: top;
    & td,
    & th {
        vertical-align: top;
    }
}

.valgn-mid {
    vertical-align: middle;
    & td,
    & th {
        vertical-align: middle;
    }
}

.valgn-btm {
    vertical-align: bottom;
    & td,
    & th {
        vertical-align: bottom;
    }
}

/*  All Caps */
.txt-caps {
    text-transform: uppercase;
}

.txt-bold {
    font-weight: bold;
}

/* links */
