/***************************************************
/* Forms
***************************************************/
.input-form {
  position: relative;
  input::-webkit-input-placeholder {
      font-size: 16px;
      font-style: normal;
      color: $color-nightsky;
  }
}

.input-form{
  .input-group {
    .has-float-label {
      display: inline-block;
      width: 100%;
      .form-control:placeholder-shown:not(:focus) + * {
        font-size: 16px;
        opacity: 1;
        top: 0.8em;
      }
    }
    .input-text {
      border: 1px solid $color-concrete;
      width: 100%;
    }
    input[type="password"] {
      height: 40px;
      padding-left: 8px;
      display: inline-block;
      border-radius: 4px;
    }
    .search-icon {
      position: absolute;
      right: 0;
      border-left: 1px solid $color-concrete;
    }
    .search-btn {
      position: absolute;
      right: -1px;
      top: 0px;
      height: 40px;
      min-width: auto;
      font-weight: bold;
      border-radius: 0px 8px 8px 0px;
      &:hover {
        border-radius: 0px 8px 8px 0px;
      }
    }
  }
}

.select-form {
  .select {
    overflow: visible;
    color: $color-nightsky;
    padding: 8px 6px;
    select {
      line-height: 30px;
      min-width: auto;
    }
    .has-float-label {
      span {
        background: $color-white;
        display: block;
        padding: 0 3px;
        top: -1.2em;
      }
    }
  }
  .select::before {
    width: auto;
  }
}

.text-area-form {
  .input-group {
    .has-float-label {
      display: inline-block;
      width: 100%;
      textarea.form-control {
        min-height: 110px;
        width: 100%;
      }
    }
  }
}

.password-form {
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

//

.has-float-label {
  display: block;
  position: relative
}
.has-float-label label,
.has-float-label>span {
  position: absolute;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: -.5em;
  left: .75rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px
}
.has-float-label label::after,
.has-float-label>span::after {
  content: " ";
  display: block;
  position: absolute;
  background:$color-white;
  height: 2px;
  top: 50%;
  left: -.2em;
  right: -.2em;
  z-index: -1
}
.has-float-label .form-control::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0
}
.has-float-label .form-control:placeholder-shown:not(:focus)+* {
  font-size: 150%;
  opacity: .5;
  top: .3em
}
.input-group .has-float-label:not(:first-child),
.input-group .has-float-label:not(:first-child) .form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}