/***************************************************
/* Forms
***************************************************/
.email-form {
  position: relative;
  input::-webkit-input-placeholder {
      font-size: 16px;
      font-style: normal;
      color: $color-nightsky;
  }
  .email-text {
    border: 1px solid $color-concrete;
    width: 100%;
  }
}
.select-form {
  .select {
    line-height: 40px;
    overflow: visible;
    color: $color-nightsky;
  }
  .select::before {
    width: auto;
  }
}
.select-label, .email-label{
  display: block;
  background: $color-white;
  position: absolute;
  top: -7px;
  padding: 0 6px;
  font-size: 12px;
  color: #6b7883;
  line-height: 12px;
}