/*********************************
/* Flags
/* Used for urgency, labeling, etc.
*********************************/

.flag{
  // height: 24px;
  text-align: center;
  line-height: 14px;
  padding: 4px 16px;
  display: inline-block;
  // background-color: #fff;
  // font-size: 12px;
  font-family: $font-headline;
  // background-color: rgba(0,0,0,0.7);
  // border: 1px solid $color-concrete;
  border-radius: 20px;
  // opacity: rgba(0,0,0,0.7);
  text-transform: uppercase;
  line-height: 12px;
  // @include elevation;

  &.flag-urgency{
    background-color: $color-penneyred;
  }

  &.flag-new{
    background-color: $color-slate;
  }

  &.flag-deal{
    background-color: $color-success-type;
  }
}
