/*******************************************
/* Content Loaders
/* Page
/* Progress
/* Section
*******************************************/

.loader-container {
  width: 100%;
  height: 49px;
  text-align: center;
}

.loader {
  width: 50px;
  height: 50px;
  margin: 24px auto 0;
  border: 6px solid;
  border-radius: 50%;
  border-color: rgb(155,165,174) rgb(241,243,244) rgb(213,218,223) rgb(199,205,212);
  animation: loader-spin 700ms infinite linear;
  -webkit-animation: loader-spin 700ms infinite linear;
}

@keyframes loader-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-count-container, .loader-checkmark-container {
  text-align: center;
}
.loader-count-container {
  & span {
    font-size: 12px;
    color: #9ba5ae;
  }
}

.loader-checkmark {
  display: inline-block;  
  &.checkmark-icon {
    margin: 12px;
    border: 3px solid $color-success-type;
    position: relative;
    vertical-align: top;
    &:after, &:before {
      background: $color-success-type;
      border: 2px solid $color-success-type;
      content: '';
      position: absolute;
    }
  }
  &.loader-checkmark {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    -webkit-animation: fadein 4s linear forwards;
    animation: fadein 4s linear forwards;
    &:after {
      height: 24px;
      left: 26px;
      top: 11px;
      width: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:before {
      height: 0;
      left: 12px;
      top: 26px;
      width: 11px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  @-webkit-keyframes fadein {
    0%,100% { opacity: .9; }
      0% { opacity: 0; }
  }

  @keyframes fadein {
    0%,100% { opacity: .9; }
    0% { opacity: 0; }
  }
}