/*********************************************
/* Notification Messages
*********************************************/

.msg{
  border-style: solid;
  border-width: 1px;
  border-radius: $border-radius-M;
  padding: 8px 16px;
  position: relative;

  a{
    color: inherit;
  }

  &.msg-neutral{
    border-color: $color-neutral-border;
    color: $color-neutral-type;
    padding-left: 40px;
    background: $color-neutral-fill url($path-images + '../images/global/icons/alert/information.svg') 0 0 no-repeat;
    background-size: 32px auto;
  }

  &.msg-success{
    border-color: $color-success-border;
    background: $color-success-fill url($path-images + '../images/global/icons/alert/success.svg') 0 0 no-repeat;
    background-size: 32px auto;
    padding-left: 40px;
    color: $color-success-type;
  }

  &.msg-warning{
    border-color: $color-warning-border;
    background: $color-warning-fill url($path-images + '../images/global/icons/alert/warning.svg') 0 0 no-repeat;
    background-size: 32px auto;
    padding-left: 40px;
    color: $color-warning-type;
  }

  &.msg-error{
    border-color: $color-error-border;
    background: $color-error-fill url($path-images + '../images/global/icons/alert/error.svg') 0 0 no-repeat;
    background-size: 32px auto;
    padding-left: 40px;
    color: $color-error-type;
  }

  .msg-close{
    position: absolute;
    top: 4px;
    display: block;
    right: 4px;
    cursor: pointer;
    background: url($path-images + "global/icons/nav/close.svg") no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
    padding: 0;
  }
}
