/*******************************************
/* Modal
*******************************************/

.modal{
  border-radius: $border-radius-M;
  background-color: #fff;
  text-align: center;
  border: 1px solid $color-concrete;
  max-width: 600px;
  margin: 0 auto;
  padding: 48px;
  position: relative;
  @include elevation-2;

  .modal-body{
    margin-bottom: 32px;
  }

  .modal-close{
    position: absolute;
    top: 8px;
    display: block;
    right: 8px;
    cursor: pointer;
    background: url($path-images-pages + "global/icons/nav/close.svg") no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
  }

  .modal-title{
    font-size: 24px;
    line-height: 32px;
    font-weight: $font-weight-regular;
    color: $color-nightsky;
  }

  .btn{
    min-width: 200px;
    max-width: 200px;
    margin: 0 4px;
  }
}
