/*******************************************
/* Tables
*******************************************/

table{
  display: table;
  vertical-align: middle;
  border-collapse: collapse;

  &.table-full{
    width: 100%;
  }

  &.table-striped{
    tbody{
      padding: 24px;
      tr:nth-child(odd){
        background-color: $color-lightgrey;
      }
    }
  }

  td,th{
    text-align: left;
    vertical-align: middle;
    padding: 12px 8px;
    border-bottom: 1px solid $color-concrete;
  }
  th {
    font-weight: bold;
  }
}
