/*********************************
/* Visual Nav
*********************************/

.viz-nav{
  li{
    display: inline-block;
    margin: 0 16px;

    .viz-nav-img{
      overflow: hidden;
      width: 160px;
      height: 160px;
      border-radius: 100%;
      border: 3px solid $color-white;
      box-shadow: 0px 0px 0px 2px $color-lightgrey;

      img{
        width: 160px;
        height: 160px;
        @include transition(all $transition-time-S ease-in-out);
      }
    }

    a{
      text-decoration: none;

      &:hover img{
        -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
             -o-transform: scale(1.1);
                transform: scale(1.1);
      }
    }
  }
}
