/*********************************
/* Product
*********************************/

.product{
  border: 1px solid $color-concrete;
  border-radius: $border-radius-S;

  .product-img{
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid $color-concrete;
    margin-bottom: 8px;
  }

  .product-body{
    padding: 8px;
  }
}
