/*********************************
/* Style with button
*********************************/

.dynamic-banner {
    background: var(--color-marketing-blue-4);
    padding: 16px 0;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    & h1 {
        font-size: 32px;
        font-weight: bold;
        @media (--viewport-md-down) {
            font-size: 24px;
        }
    }

    & .proo-description {
        padding: 4px 0;
        & span {
            display: inline-block;
            padding-left: 4px;
        }
        & .promo-code {
            font-weight: bold;
        }
        & .promo-end {
            font-size: 12px;
        }
        & .promo-cta {
            & a {
                color: var(--color-white);
                padding-left: 2px;
                font-size: 12px;
            }
        }
    }

    & .promo-button-container {
        padding-bottom: 4px;
        & .button-promo {
            width: 140px;
            height: 36px;
            border-radius: 2px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            background-color: var(--color-white);
            border: solid 1px var(--color-concrete);
            display: inline-block;
            line-height: 33px;
            text-decoration: none;
            margin: 8px 4px;
            font-size: 14px;
            font-weight: bold;
        }
    }
}






/* Slider */
.slider {
    user-select: none;
    display: inline-block;
    position: relative;
}

.slider_first {
    width: 460px;
}

.slider_second {
    width: 100%;
}

.slider_viewport {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider_list {
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    display: flex;
    flex-flow: row nowrap;
}

.slider_item {
    flex-shrink: 0;
    position: relative;
}

.slider_item img {
    display: block;
    width: 100%;
    height: auto;
}
.slider_item-content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 2px 1px #333;
    padding: 20px;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
.slider_nav.is-disabled {
    display: none;
}

.slider_control-nav {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 3px;
    text-align: center;
}

.slider_control-nav-item {
    transition: all 0.5s linear;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    background: #fff;
}

.slider_control-nav-item:hover {
    opacity: 0.3;
}

.slider_control-nav-item.is-active {
    opacity: 0.3;
    cursor: default;
}

.slider_arrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 26px;
    height: 49px;
    z-index: 999;
    cursor: pointer;
}

.slider_arrow.is-disabled {
    cursor: default;
    opacity: 0.5;
}

.slider_arrow:hover {
    opacity: 0.5;
}

.slider_arrow__right {
    right: 20px;
    /* background: url(../images/arrow_right.png) no-repeat 0 0; */
}

.slider_arrow__left {
    left: 20px;
    /* background: url(../images/arrow_left.png) no-repeat 0 0; */
}

.slider__carousel {
    overflow: hidden;
}

.slider__carousel::before, .slider__carousel::after {
    content: "";
    width: 150px;
    position: absolute;
    top: -5px;
    bottom: -5px;
    z-index: 200;
}

.slider__carousel::before {
    left: -5px;
    background: -webkit-linear-gradient(left, #fff 10%, transparent);
    background: linear-gradient(to right, #fff 10%, transparent);
}

.slider__carousel::after {
    right: -5px;
    background: -webkit-linear-gradient(right, #fff 10%, transparent);
    background: linear-gradient(to left, #fff 10%, transparent);
}

.slider__carousel .slider_viewport {
    overflow: visible;
    width: 250px;
    margin: 0 auto;
}

.slider__carousel .slider_arrow__left {
    left: 70px;
}

.slider__carousel .slider_arrow__right {
    right: 70px;
}