/*********************************
/* Tooltips
*********************************/

/*  Contains the tooltip and sets it to absolute */
.tooltip-container{
    position: absolute;
    top: 32px;
  }
  
  /*  class to be placed around where the tooltip should appear
   Appears on hover */
  .tooltip-anchor{
    position: relative;
    cursor: pointer;
  
    &:hover{
      .tooltip-new{
        opacity: 1;
      }
    }
  }
  
  .tooltip{
    /*  opacity: 0; Hide tooltip init */
    padding: 8px 0;
    transition: all .25s ease-in-out;
    background-color: #fff;
    max-width: 300px;
    max-height: 200px;
    min-width: 180px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    border-radius: var(--border-radius-M);
    border: 1px solid var(--color-concrete);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
    /*  @include elevation; */
    @apply --elevation-func; /* (0px, 3px, 8px, 0px, rgba(0,0,0,0.25)) */
    z-index: 1;
  
    & span{
      display: block;
      max-height: 160px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      & p {
        margin-right: 14px;
      }
    }
    & .tooltip-title{
      font-weight: bold;
      letter-spacing: -0.6px;
      color: var(--color-nightsky);
    }
    &.tooltip-list{
      padding: 8px 0;
      max-width: auto;
  
      & ul{
        margin: 0px;
        padding: 0px;
  
        & li{
          display: block;
          transition: background-color var(--transition-time-S) ease-in-out;
  
          &:hover{
            background-color: var(--color-lightgrey);
          }
  
          & a{
            line-height: 40px;
            padding: 0 12px;
            text-decoration: none;
            display: block;
          }
        }
      }
    }
  
    &.tooltip-long{
      max-height: none;
    }
  
    & .tooltip-divider{
      border-top: 1px solid var(--color-concrete);
    }
  
    &.tooltip-single{
      padding: 12px;
      display: inline-block;
    }
    &.tooltip-multi-line{
      width: 300px;
      padding: 14px;
      display: inline-block;
      
    }
    /*  tooltip arrow */
    &:before{
      content: "";
      position: absolute;
      display: block;
      height: 12px;
      width: 12px;
      bottom: -6px;
      background-color: #fff;
      transform: rotate(45deg);
      /*  first dropshow simulates the border on the arrow, second is the drop shadow */
      box-shadow: 1px 1px 0px 0px var(--color-concrete), 3px 3px 7px 0px rgba(0,0,0,0.2);
    }
  
    /*  Set white fade */
    /*&:after{
       box-shadow: inset 0px -4px 16px 0 rgba(red, 0.5);
       position: absolute;
       content: "";
       bottom: 0px;
       left: 0px;
       width: 100%;
       height: 20px;
       z-index: 2;
    } */
  
    & .tooltip-close{
      position: absolute;
      top: 8px;
      right: 8px;
      content: "";
      height: 16px;
      width: 16px;
    }
  
    &.tooltip-top-left:before{
      top: -6px;
      left: 16px;
      box-shadow: -1px -1px 0px 0px var(--color-concrete);
    }
    &.tooltip-bottom-left:before{
      bottom: -6px;
      left: 16px;
    }
    &.tooltip-top-center:before{
      top: -6px;
      left: 50%;
      margin-left: -6px;
      box-shadow: -1px -1px 0px 0px var(--color-concrete);
    }
  
    &.tooltip-top-right:before{
      top: -6px;
      right: 16px;
      margin-left: -6px;
      box-shadow: -1px -1px 0px 0px var(--color-concrete);
    }
  
    &.tooltip-bottom-center:before{
      left: 50%;
      margin-left: -6px;
      box-shadow: 1px 1px 0px 0px var(--color-concrete), 4px 4px 7px 0px rgba(0,0,0,0.1);
    }
  
    &.tooltip-bottom-right:before{
      right: 16px;
      box-shadow: 1px 1px 0px 0px var(--color-concrete), 4px 4px 7px 0px rgba(0,0,0,0.1);
    }
  
    &.tooltip-right-side:before{
      right: -6px;
      top: 50%;
      margin-top: -6px;
      box-shadow: 1px -1px 0px 0px var(--color-concrete), 4px -4px 7px 0px rgba(0,0,0,0.1);
    }
  
    &.tooltip-left-side:before{
      left: -6px;
      top: 50%;
      margin-top: -6px;
      box-shadow: -1px 1px 0px 0px var(--color-concrete);
    }
  
    &.tooltip-dark{
      background-color: var(--color-shadow);
      color: #fff;
      border: none;
  
      &:before{
        background-color: var(--color-shadow);
        bottom: -6px;
        left: 16px;
        /*  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3); */
      }
  
      &.tooltip-top-left:before,
      &.tooltip-top-center:before,
      &.tooltip-top-right:before{
        box-shadow: 1px 1px 0px 0px rgba(var(--color-shadow), 0.3);
      }
    }
    & .scroll-block {
      height: 166px;
      left: -15px;
      width: 107%;
      & .scroll-content-wrapper {
        right: -6%;
        padding-right: 16px;
      }
    }
  }
.dropdown-menu-block {
    & .dropdown-menu {
      & .tooltip.tooltip-top-right {
        left: -36px;
        top: -2px;
    }
  }
}