/*******************************************
/* Dropdown Buttons
*******************************************/
/*  dropdown block */
.dropdown-menu-block {

  & .dropdown-button {
    border: 1px solid var(--color-concrete);
    border-radius: 24px;
    padding: 10px 30px 10px 16px;
    text-decoration: none;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    display: inline-block;
    position: relative;
    max-width: 220px;
    &:hover, &:active, &.hover {
      border: 1px solid var(--color-nightsky);
    }
    & .arrow {
      content: "";
      position: absolute;
      pointer-events: none;
      display: inline-block;
      right: 14px;
      top: 10px;
      &::after {
        content: "\25BE";
        height: 1em;
        font-size: 16px;
        line-height: 1;
        position: relative;
        right: -8;
        top: 50%;
        margin-top: -.5em;
      }
    }
    & .sortby {
      display: inline-block;
      font-weight: normal;
      max-width: 102px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      top: 3px;
      line-height: 15px;
    }
  }

  & .arrow-down .arrow {
    transform: rotate(180deg);
    top: 11px;
  }
  & .disabled, & .disabled:hover {
    background: var(--color-lightgrey);
    border: 2px dotted var(--color-concrete);
    cursor: default;
    color: var(--color-slate);
    pointer-events: none;
  }
  & .dropdown-menu {
      display: none;
      position: relative;
      & .tooltip {
        position: absolute;
        right: -5px;
        top: 0;
      }

    & .dropdown-search-type {
      position: relative;
      top: 6px;
      width: 260px;
      height: 236px;
      max-height: 236px;
      overflow: auto;
      border-radius: var(--border-radius-M);
      & .search-type {
        margin: 10px 0;
        & input[type="text"] {
          width: 94%;
          border: 1px solid var(--color-concrete);
        }
      }
    }

    & .dropdown-sort {
        min-width: 192px;
        position: absolute;
        top: 8px;
        border-radius: var(--border-radius-M);
        padding: 0;
        right: 82px;
      & li {
        padding: 6px 16px;
        & a {
          text-decoration: none;
        }
      }
      & li:hover {
        background: var(--color-lightgrey);
      }
    }

    & .dropdown-list {
      & .right-label {
        float: right;
        padding-right: 16px;
      }
    }
  }
}
.prevent-event .dropdown-button{
  pointer-events: none;
}