/*******************************************
/* Dropdown Buttons
*******************************************/
/*  dropdown block */
.dropdown-menu-block {

  & .dropdown-button {
    border: 1px solid var(--color-concrete);
    border-radius: 24px;
    padding: 8px 30px 8px 16px;
    text-decoration: none;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    display: inline-block;
    position: relative;
    max-width: 220px;
    background: var(--color-white);
    &:hover, &:active, &.hover {
      border: 1px solid var(--color-nightsky);
    }
    & .arrow {
      content: "";
      position: absolute;
      pointer-events: none;
      display: inline-block;
      right: 14px;
      top: 8px;
      &::after {
        content: "\25BE";
        height: 1em;
        font-size: 16px;
        line-height: 19px;
        position: relative;
        right: -8;
        top: 50%;
        margin-top: -.5em;
      }
    }
    & .sortby {
      display: inline-block;
      font-weight: normal;
      max-width: 99px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      top: 3px;
      line-height: 16px;
      @media (--viewport-sm-only) {
        max-width: 35px;
      }
    }
  }

  & .no-dropdown {
    padding-right: 12px;
  }

  & .arrow-down .arrow {
    transform: rotate(180deg);
    top: 8px;
  }
  & .disabled, & .disabled:hover {
    background: var(--color-lightgrey);
    border: 2px dotted var(--color-concrete);
    cursor: default;
    color: var(--color-slate);
    pointer-events: none;
  }
  & .dropdown-menu {
      display: none;
      position: relative;
      & .tooltip {
        position: absolute;
        left: 2px;
        top: 11px;
        padding: 16px;
      &.tooltip-Large{
        min-height: 235px;
        min-width: 290px;
        & span{
        max-height: 200px
        }
        & .checkbox input+span{
          overflow: hidden;
        }
      }
      & .search-type{
        width: 100%;
      }
      &.filter-tooltip{
        left: -11px;
        top: 35px;
        padding: 8px 0;
        @media (--viewport-md-only) {
          top: 0;
          left: -25px;
        }
        @media (--viewport-sm-only) {
          top: 0;
          left: -40px;
        }
      }
    }

    & .dropdown-search-type {
      position: relative;
      top: 6px;
      width: 260px;
      height: 236px;
      max-height: 236px;
      overflow: auto;
      border-radius: var(--border-radius-M);
      -webkit-overflow-scrolling: touch;
      & .search-type {
        margin: 10px 0;
        & input[type="text"] {
          width: 94%;
          border: 1px solid var(--color-concrete);
        }
      }
    }

    & .dropdown-sort {
        padding: 0;
      & li {
        padding: 6px 16px;
        & a {
          text-decoration: none;
          display: block;
        }
      }
      & li:hover {
        background: var(--color-lightgrey);
      }
    }

    & .dropdown-list {
      & .right-label {
        float: right;
        padding-right: 16px;
        overflow: hidden;
      }
    }
  }
}

.prevent-event .dropdown-button{
  pointer-events: none;
}
