/*******************************************
/* Selectors
*******************************************/

.selectors {
    & .sku-block {
      width: 96px;
      height: 40px;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      color: var(--color-slate);
      border: 1px solid var(--color-slate);
      border-radius: var(--border-radius-M);
      font-size: 14px;
      & img {
        width: 44px;
        height: 62px;
        padding: 4px 0;
        margin: 0 auto;
        display: block;
      }
      & .success-checkbox svg{
        width: 15px;
        height: 15px;
        position: absolute;
        right: -8px;
        bottom: -7px;
        background: white;
      }
    }
    & .normal{
      background-color: #ffffff;
      border: solid 1px #d8d8d8;
      color: #626e78;
    }
    & .show-more{
      color: var(--color-nightsky);
      text-decoration: underline;
    }
    & .hover {
      border: solid 1px #626e78;
      color: var(--color-slate);
    }
    & .selected {
      border: 2px solid var(--color-shadow) !important;
      color: var(--color-nightsky);
      font-weight: bold;
      position: relative;
    }
    & .error {
      border: 1px solid var(--color-penneyred);
    }
    & .oo-stock {
      border: 1px solid var(--color-concrete);
      position: relative;
      &::before {

        width: 98px;
        height: 1px;
        background-color: var(--color-concrete);
        content: "";
        position: absolute;
        left: 0;
        top: 19px;
        -webkit-transform: scale(1) rotate(-20deg);
        transform: scale(1) rotate(-20deg);
      }
    }

    & .sku-block-L {
      height: 64px;
      line-height: 64px;
      &::before {
        left: -6px;
        top: 30px;
        -webkit-transform: scale(1) rotate(-20deg);
        transform: scale(1) rotate(-33deg);
        width: 108px;
      }
    }
    & .sku-double-block-L{
      width: 192px;
      font-size: 14px;
      line-height: normal;
      padding: 6px 0px;
      & .price-content{
        line-height: 24px;
        color:var(--color-shadow);
        font-weight:700;
      }
      & .standart-content{
        display: block;
      line-height: 18px;
      font-weight: normal;
      letter-spacing: -0.5px;
      color:var(--color-slate);
      }
    }
    & .sku-focus {
      border: 2px dotted var(--color-neutral-type);
      padding: 2px;
      display: inline-block;
      width: 104px;
      border-radius: var(--border-radius-M);
    }
    & .oo-label-block {
      display: inline-block;
      width: 104px;
      position: relative;
      cursor: default;
      & .oo-stock-label {
        font-size: 10px;
        text-decoration: none;
        position: absolute;
        bottom: -14px;
        left: 4px;
      }
    }
  }
  