/*********************************
/* Visual Nav
*********************************/

.viz-nav {
  & .sub-category {
    @media (--viewport-md-down) {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      padding-top: 2px;
    }
  }
  & li {
      display: inline-block;
    & .viz-nav-img {
        border-radius: 100%;
        border: 3px solid var(--color-white);
        box-shadow: 0px 0px 0px 2px var(--color-lightgrey);
        overflow: hidden;
        transition: all var(--transition-time-S) ease-in-out;

      & img {
          width: 160px;
          height: 160px;
          border-radius: 100%;
          @media (--viewport-sm-down) {
              width: 98px;
              height: 95px;
          }
      }
    }

    & a {
        text-decoration: none;
        &:hover .viz-nav-img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
        & h2 {
            @media (--viewport-sm-only) {
                font-size: 14px;
                width: 98px;
            }
        }
      }
    @media (--viewport-sm-down) {
      margin-left: 16px;
    }
    @media (--viewport-md-only) {
      margin-left: 18px;
    }
  }
  .nav-title {
      font-weight: bold;
  }
}
.viz-nav-squre {
  & li {
    & .viz-nav-img {
        border-radius: 1px;
      & img {
          width: 156px;
          height: 156px;
          border-radius: 1px;
          @media(--viewport-sm-down) {
              width: 96px;
              height: 96px;
          }
      }
    }
  }
}
    