.design-system-inner-nav {
    display: none !important;
}

/* sort and filter */

.filter-left-block {
    @media (--viewport-lg-only) {
        width: 20%;
    }
    @media (--viewport-xl-only) {
        width: 20%;
    }
    & .filter-accordion {
        margin-right: 16px;
        & .accordion {
            margin: 0;
            & .accordion-content {
                & ul {
                    & .search-type {
                        & input {
                            width: 100%;
                            border-radius: var(--border-radius-M);
                            @media (--viewport-sm-only) {
                                margin-top: 8px;
                            }
                            @media (--viewport-md-only) {
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
            & .accordionTitle:focus {
                outline: none;
            }
        }
    }
    & .filter-button-block {
        background: var(--color-lightgrey);
        padding: 16px;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0px;
        & a.btn {
            width: 100%;
        }
        & .button-left-block {
            padding: 0 8px 0 0;
        }
        & .button-right-block {
            padding: 0 0 0 8px;
        }
    }
}

.product-gallery-block {
    & .store-pickup {
        padding: 16px 0 0 16px;
        @media (--viewport-sm-only) {
            padding: 10px 0 0;
            & .title-M {
                font-size: 14px;
                position: relative;
                top: -6px;
                & .color-penneyred {
                    font-weight: bold;
                }
                & a{
                    max-width: 55px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;
                    display: inline-block;
                    top: 5px;
                }
            }
        }
        & .arrow {
            content: "";
            position: absolute;
            pointer-events: none;
            display: inline-block;
            right: auto;
            top: 0;
            &::after {
              content: "\25BE";
              height: 1em;
              font-size: 16px;
              line-height: 1;
              position: relative;
              right: -8;
              top: 50%;
              margin-top: -.5em;
            }
          }
    }
    & .listIcon {
        background: url("var(--path-images)global/icons/action/grid-fill.svg") center center no-repeat;
        height: 40px;
        width: 40px;
        cursor: pointer;
        transform: rotate (0deg);
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), background 0.5s ease-in-out;
        
        &.gridIcon {
            background: url("var(--path-images)global/icons/action/list-fill.svg") center center no-repeat;
            transform: rotate(360deg);
        }
    }

    & .dropdown-menu-block {
        @media (--viewport-sm-only) {
            min-height: 38px;
            float: left;
            margin-bottom: 16px;
            & .dropdown-button {
                min-width: 152px;
                & .sortby {
                    max-width: 50px;
                }
            }
        }
    }
}

.filter-tags {
    margin-left: 12px;
    @media (--viewport-sm-only) {
        padding: 0;
        margin: 0;
        & .tags {
            & .tag-title {
                padding-right: 8px;
            }
        }
    }
    @media (--viewport-md-only) {
        padding: 0;
        margin: 0;
        & .tags {
            & .tag-title {
                padding-right: 8px;
            }
        }
    }
    & .tags {
        padding: 8px;
        margin-right: 16px;
        float: left;
        border-radius: var(--border-radius-M);
        border: solid 1px solid var(--color-concrete);
        & .tag-item{
            color: var(--color-shadow);
        }
        & .tag-title {
            font-weight: var(--font-weight-bold);
            color: var(--color-shadow);
        }
        & .icon {
            display: block;
            float: right;
            width: 16px;
            height: 16px;
            background: var(--color-shadow);
            border-radius: 100%;
            margin-left: 8px;
            cursor: pointer;
            & svg {
                width: 16px;
                height: 16px;
            }
        }
    }
    & .tag-clear {
        color: var(--color-nightsky);
        display: block;
        margin-top: 8px;
    }
}

/* below code is not required for sort and filter */


@media (--viewport-md-only) {
    .product-gallery-block {
        margin: 0;
        padding: 0 !important;
        & .product-card-pane-L {
            width: 22%;
        }
    }
}
@media (--viewport-sm-only) {
    .product-gallery-block {
        & .product-card-pane-L {
            width: 45%;
        }
    }
}

@media (--viewport-xl-only) {
    .product-gallery-block {
        width: 73% !important;
        margin-left: 16px;
        & .product-card-wrapper {
            & .product-card-pane-L {
                width: 23%;
                margin: 0 1% 1%;
            }
        }
    }
}

@media (--viewport-lg-only) {
    .product-gallery-block {
       /* width: 73% !important; */
        margin-left: 16px;
        & .product-card-wrapper {
            & .product-card-pane-L {
                width: 32%;
                margin: 0 1% 1%;
            }
        }
    }
}



