/*******************************************
/* Pagination
*******************************************/

.pagination{
    padding: 0;
  
    & li{
      display: inline-block;
      line-height: 27px;
      width: 28px;
      height: 28px;
      text-align: center;
      margin-right: 8px;
  
      &.pagination-lbl{
        border-radius: 50%;
        border: 1px solid var(--color-white);
        cursor: pointer;
        transition: border var(--transition-time-S) ease-in-out;
  
        &:hover{
          border: 1px solid var(--color-concrete);
        }
      }
      &.hover{
        border: 1px solid var(--color-concrete);
      }
  
      &.pagination-active{
        font-weight: var(--font-weight-bold);
        border: 1px solid var(--color-nightsky);
  
        &:hover{
          border-color: var(--color-nightsky);
        }
      }
  
      &.pagination-elipsis{
        margin-left: -8px;
        margin-right: 0;
      }
  
      /*  Previous button */
      &.pagination-prev{
        background: url("var(--path-images)global/icons/nav/chevron-left.svg") no-repeat;
        content: "";
        cursor: pointer;
        line-height: 28px;
        width: 28px;
        height: 28px;
        vertical-align: middle;
        margin-top: -3px;
      }
  
      /*  Next button */
      &.pagination-next{
        background: url("var(--path-images)global/icons/nav/chevron-right.svg") no-repeat;
        content: "";
        cursor: pointer;
        line-height: 28px;
        width: 28px;
        height: 28px;
        vertical-align: middle;
        margin-top: -3px;
      }
    }
    & p.std-txt-label {
        padding: 0;
    }
  }

/*********************************
/* Breadcrumbs
*********************************/

.breadcrumbs{
  margin: 0;
  padding: 0;

  & li{
    display: inline-block;
    padding-right: 4px;
    font-size: 12px;
    &:after{
      content: "/";
      padding-left: 8px;
    }

    &:last-child:after{
      content: none;
    }
  }
}

/*********************************
/* Breadcrumbs Back to Product
*********************************/

.back-to-product{
  & .icon{
      width: 16px;
      height:16px;
      top: 1px;
      position: relative;
      & svg{
        width: 16px;
        height:16px;
        padding: 1px;
    }
  }
  & li{
      display: inline-block;
      vertical-align: text-top;
      margin-left: 6px;
      list-style-type: none;
      & a{
        font-size: 12px;
        letter-spacing: -0.3px;
      }
    }
}