:root {
	/*------------------------------------*\
	  MIXINS
	\*------------------------------------*/

	
	
	
	--focus: {
	  border: 1px dashed var(--color-neutral-type);
	  outline: none;
	  -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		  -o-box-sizing: border-box;
			 box-sizing: border-box;
	}
	
	--disabled: {
	  background-color: var(--color-lightgrey);
	  border: 1px dashed var(--color-concrete);
	  color: var(--color-slate);
	  cursor: not-allowed;
	  box-shadow: none;
		/*
		&:hover: {
		background-color: var(--color-lightgrey);
		border-radius: 0;
		text-decoration: none;
	  }
	  */
	}
	/***************************************************
	/* Elevation
	/* Box shadows for buttons, dropdowns, etc
	/* Ability to remove elevation
	***************************************************/
	
	
	
	--elevation: {
	  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
		-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
		  -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
	}
	
	--elevation-2: {
	  -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.25);
		-moz-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.25);
		  -o-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.25);
			box-shadow: 0 3px 8px 0 rgba(0,0,0,0.25);
	}
	
	--elevation-func: { /* (var(--x, var(--y, var(--blur, var(--distance, var(--color) */
	  /*box-shadow: var(--x var(--y var(--blur var(--distance var(--color;
		-webkit-box-shadow: var(--x var(--y var(--blur var(--distance var(--color; */
	}
	
	--btn-transition: {
	  transition: background-color .25s ease-in-out, border-radius .25s ease-in-out;
	  -webkit-transition: background-color .25s ease-in-out, border-radius .25s ease-in-out;
	}
	
	--btn-radius-hover: {
	  border-radius: 40px;
	}
	
	/*  Frames */
	--frame-builder: { /* (var(--left, var(--right, var(--bot-right, var(--bot-left) */
	  /*border-radius: var(--left var(--right var(--bot-right var(--bot-left;*/
	  background-color: var(--color-white);
	  border: 1px solid var(--color-concrete);
	}
	
	--frame-S: {
	  @apply --frame-builder; /* (2px, 2px, 2px, 2px) */
	}
	
	--frame-M: {
	  @apply --frame-builder; /* (8px, 8px, 8px, 8px) */
	}
	
	--frame-L: {
	  @apply --frame-builder; /* (20px, 20px, 20px, 20px) */
	}
	
	
	.elevation {
	  @apply --elevation;
	}
	
	.elevation-neg-1 {
	  @apply --elevation-func; /* (0, 2px, 4px, 0px, rgba(0,0,0,0.25)) */
	}
	
	--elevation-1: {
	  @apply --elevation-func; /* (0, 3px, 8px, 0px, rgba(0,0,0,0.25)) */
	}
	
	--elevation-2: {
	  @apply --elevation-func; /* (0, 4px, 12px, 0px, rgba(0,0,0,0.5)) */
	}
	
	.elevation-none {
	  box-shadow: none !important;
	  -webkit-shadow: none !important;
	}
	
	.elevation-1 {
	  @apply --elevation-1;
	}
	
	.elevation-2 {
	  @apply --elevation-2;
	}
}
