/*********************************************
/* Checkboxes
*********************************************/

.checkbox{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  user-select:none;
  // line-height: 16px;

  input:disabled{

    &+span{
      cursor: not-allowed !important;
      color: $color-slate;

      &:before{
        border-style: dashed;
      }
    }
  }

  input{
    display: none;

    &+span{
      display: inline-block;
      position: relative;
      padding-left: 24px;

      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 3px;
        margin-right: 5px;
        margin-top: 3px;
        width: 16px;
        height: 16px;
        border: 1px solid $color-nightsky;
        background: #fff;
      }

      &:after{
        content: '';
        display: block;
        width: 4px;
        height: 9px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        // border-bottom: 3px solid $color-penneyred;
        // border-right: 3px solid $color-penneyred;
        position: absolute;
        top: 4px;
        left: 5px;
        opacity: 0;
        pointer-events:none;
        transform: scale(-1,-1) rotate(45deg);
        transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }

    &:checked+span::before{
      background: $color-nightsky;
    }

    &:checked+span:after{
      opacity: 1;
      transform: scale(1,1) rotate(45deg);
    }

    &:checked:before{
      background-color: $color-nightsky;
    }
  }
}
