/***************************************************
/* Colors
/* Used to alter the appearance of text with classes
***************************************************/

// Reds
.color-penneyred{
  color: $color-penneyred;
}

  .color-penneyred-bg{
    background-color: $color-penneyred;
  }

.color-lipstick{
  color: $color-lipstick;
}

  .color-lipstick-bg{
    background-color: $color-lipstick;
  }

.color-passion{
  color: $color-passion;
}

  .color-passion-bg{
    background-color: $color-passion;
  }

.color-blush{
  color: $color-blush;
}

  .color-blush-bg{
    background-color: $color-blush;
  }

// Greys
.color-slate{
  color: $color-slate;
}
