/***************************************************
/* Colors
/* Used to alter the appearance of text with classes
***************************************************/

// Reds
.color-penneyred{
  color: $color-penneyred;
}

  .color-penneyred-bg{
    background-color: $color-penneyred;
  }

.color-lipstick{
  color: $color-lipstick;
}

  .color-lipstick-bg{
    background-color: $color-lipstick;
  }

.color-passion{
  color: $color-passion;
}

  .color-passion-bg{
    background-color: $color-passion;
  }

.color-blush{
  color: $color-blush;
}

  .color-blush-bg{
    background-color: $color-blush;
  }

// Greys
.color-slate{
  color: $color-slate;
}

  .color-slate-bg{
    background-color: $color-slate;
  }

.color-shadow{
  color: $color-shadow;
}

  .color-shadow-bg{
    background-color: $color-shadow;
  }

.color-concrete{
  color: $color-concrete;
}

  .color-concrete-bg{
    background-color: $color-concrete;
  }

.color-lightgrey{
  color: $color-lightgrey;
}

  .color-lightgrey-bg{
    background-color: $color-lightgrey;
  }

.color-white{
  color: $color-white;
}

  .color-white-bg{
    background-color: $color-white;
  }

// Rewards
.color-rewards-eggplant{
  color: $color-rewards-eggplant;
}

  .color-rewards-eggplant-bg{
    background-color: $color-rewards-eggplant;
  }

.color-rewards-grape{
  color: $color-rewards-grape;
}

  .color-rewards-grape-bg{
    background-color: $color-rewards-grape;
  }

.color-rewards-plum{
  color: $color-rewards-plum;
}

  .color-rewards-plum-bg{
    background-color: $color-rewards-plum;
  }

// plcc
.color-rewards-platinum-1{
  color: $color-rewards-platinum-1;
}

  .color-rewards-platinum-1-bg{
    background-color: $color-rewards-platinum-1;
  }

.color-rewards-platinum-2{
  color: $color-rewards-platinum-2;
}

  .color-rewards-platinum-2-bg{
    background-color: $color-rewards-platinum-2;
  }

.color-rewards-platinum-3{
  color: $color-rewards-platinum-3;
}

  .color-rewards-platinum-3-bg{
    background-color: $color-rewards-platinum-3;
  }

// Gold
.color-rewards-gold-1{
  color: $color-rewards-gold-1;
}

  .color-rewards-gold-1-bg{
    background-color: $color-rewards-gold-1;
  }

.color-rewards-gold-2{
  color: $color-rewards-gold-2;
}

  .color-rewards-gold-2-bg{
    background-color: $color-rewards-gold-2;
  }

.color-rewards-gold-3{
  color: $color-rewards-gold-3;
}

  .color-rewards-gold-3-bg{
    background-color: $color-rewards-gold-3;
  }

// Marketing
.color-mrk-brown-1{
  color: $color-marketing-brown-1;
}

  .color-marketing-brown-1-bg{
    background-color: $color-marketing-brown-1;
  }

.color-marketing-brown-2{
  color: $color-marketing-brown-2;
}

  .color-marketing-brown-2-bg{
    background-color: $color-marketing-brown-2;
  }

.color-marketing-brown-3{
  color: $color-marketing-brown-3;
}

  .color-marketing-brown-3-bg{
    background-color: $color-marketing-brown-3;
  }

// orange
.color-marketing-orange-1{
  color: $color-marketing-orange-1;
}

  .color-marketing-orange-1-bg{
    background-color: $color-marketing-orange-1;
  }

.color-marketing-orange-2{
  color: $color-marketing-orange-2;
}

  .color-marketing-orange-2-bg{
    background-color: $color-marketing-orange-2;
  }

.color-marketing-orange-3{
  color: $color-marketing-orange-3;
}

  .color-marketing-orange-3-bg{
    background-color: $color-marketing-orange-3;
  }

// green
.color-marketing-green-1{
  color: $color-marketing-green-1;
}

  .color-marketing-green-1-bg{
    background-color: $color-marketing-green-1;
  }

.color-marketing-green-2{
  color: $color-marketing-green-2;
}

  .color-marketing-green-2-bg{
    background-color: $color-marketing-green-2;
  }

.color-marketing-green-3{
  color: $color-marketing-green-3;
}

  .color-marketing-green-3-bg{
    background-color: $color-marketing-green-3;
  }

// Aqua
.color-marketing-aqua-1{
  color: $color-marketing-aqua-1;
}

  .color-marketing-aqua-1-bg{
    background-color: $color-marketing-aqua-1;
  }

.color-marketing-aqua-2{
  color: $color-marketing-aqua-2;
}

  .color-marketing-aqua-2-bg{
    background-color: $color-marketing-aqua-2;
  }

.color-marketing-aqua-3{
  color: $color-marketing-aqua-3;
}

  .color-marketing-aqua-3-bg{
    background-color: $color-marketing-aqua-3;
  }

// blue
.color-marketing-blue-1{
  color: $color-marketing-blue-1;
}

  .color-marketing-blue-1-bg{
    background-color: $color-marketing-blue-1;
  }

.color-marketing-blue-2{
  color: $color-marketing-blue-2;
}

  .color-marketing-blue-2-bg{
    background-color: $color-marketing-blue-2;
  }

.color-marketing-blue-3{
  color: $color-marketing-blue-3;
}

  .color-marketing-blue-3-bg{
    background-color: $color-marketing-blue-3;
  }

// pink
.color-marketing-pink-1{
  color: $color-marketing-pink-1;
}

  .color-marketing-pink-1-bg{
    background-color: $color-marketing-pink-1;
  }

.color-marketing-pink-2{
  color: $color-marketing-pink-2;
}

  .color-marketing-pink-2-bg{
    background-color: $color-marketing-pink-2;
  }

.color-marketing-pink-3{
  color: $color-marketing-pink-3;
}

  .color-marketing-pink-3-bg{
    background-color: $color-marketing-pink-3;
  }

// Black Friday
.color-blackfriday-primary-1{
  color: $color-blackfriday-primary-1;
}

  .color-blackfriday-primary-1-bg{
    background-color: $color-blackfriday-primary-1;
  }

.color-blackfriday-primary-2{
  color: $color-blackfriday-primary-2;
}

  .color-blackfriday-primary-2-bg{
    background-color: $color-blackfriday-primary-2;
  }

.color-blackfriday-secondary-1{
  color: $color-blackfriday-secondary-1;
}

  .color-blackfriday-secondary-1-bg{
    background-color: $color-blackfriday-secondary-1;
  }

.color-blackfriday-secondary-2{
  color: $color-blackfriday-secondary-2;
}

  .color-blackfriday-secondary-2-bg{
    background-color: $color-blackfriday-secondary-2;
  }

.color-blackfriday-tertiary-1{
  color: $color-blackfriday-tertiary-1;
}

  .color-blackfriday-tertiary-1-bg{
    background-color: $color-blackfriday-tertiary-1;
  }

.color-blackfriday-tertiary-2{
  color: $color-blackfriday-tertiary-2;
}

  .color-blackfriday-tertiary-2-bg{
    background-color: $color-blackfriday-tertiary-2;
  }
