/*******************************************
/* Lists
*******************************************/

.list{
  list-style: none;
  padding: 0;
  margin: 0;

  a{
    display: block;
  }

  li{
    line-height: 40px;
    border-bottom: 1px solid $color-concrete;
  }

  &.list-icons{
    li{
      position: relative;
      border-bottom: none;
      padding-left: 48px;
      line-height: 24px;
      margin-bottom: 16px;

      img{
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
  }

  &.list-checkboxes{
    .list-qty{
      float: right;
      color: $color-slate;
    }
  }
}
