/******************
/* Elevation
/* Colors & fonts
******************/

@mixin elevation {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
}

@mixin btn-transition {
  transition: background-color .25s ease-in-out, border-radius .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out, border-radius .25s ease-in-out;
}

@mixin btn-radius-hover {
  border-radius: 40px;
}
