/*************************************
/* Spacing - Margins
/* Used to control margins within html
*************************************/

.mrg-zero{
  margin: 0px;
}

.mrg-S{
  margin: 0 0 8px 0;
}

.mrg-M{
  margin: 0 0 16px 0;
}

.mrg-L{
  margin: 0 0 24px 0;
}

.mrg-XL{
  margin: 0 0 32px 0;
}

.mrg-b-XL{
  margin-bottom: 32px;
}
