/*********************************************
/* Notification Messages
*********************************************/

.msg{
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding: 8px 16px;
  position: relative;

  &.msg-neutral{
    border-color: $color-neutral-border;
    background-color: $color-neutral-fill;
    color: $color-neutral-type;
  }

  &.msg-success{
    border-color: $color-success-border;
    background-color: $color-success-fill;
    color: $color-success-type;
  }

  &.msg-warning{
    border-color: $color-warning-border;
    background-color: $color-warning-fill;
    color: $color-warning-type;
  }

  &.msg-error{
    border-color: $color-error-border;
    background-color: $color-error-fill;
    color: $color-error-type;
  }

  .msg-close{
    position: absolute;
    line-height: 24px;
    display: block;
    background: none;
    width: 24px;
    height: 24px;
    top: 0px;
    right: 0px;
    outline: none;

    img{
      height: 24px;
    }
  }
}
