/******************
/* Vars
/* Colors & fonts
******************/

// Reds
$color-penneyred: #cc0000;
$color-lipstick: #990000;
$color-passion: #5F1417;
$color-blush: #F8BFC6;

// Greys
$color-nightsky: #111111;
$color-shadow: #333333;
$color-slate: #626E78;
$color-concrete: #D8D8D8;
$color-lightgrey: #F1F1F1;
$color-white: #FFFFFF;

// Success
$color-success-type: #2A7952;
$color-success-border: #C9E7D9;
$color-success-fill: #E8F7F0;

// Neutral
$color-neutral-type: #056B9E;
$color-neutral-border: #C0D8E3;
$color-neutral-fill: #EBF4F8;

// Warning
$color-warning-type: #615D14;
$color-warning-border: #E9E3A3;
$color-warning-fill: #FFFDE1;

// Error
$color-error-type: #9D2028;
$color-error-border: #E6B9B9;
$color-error-fill: #F9DBDB;

// Rewards / Eggplant
$color-rewards-eggplant: #4F4764;
$color-rewards-grape: #383665;
$color-rewards-plum: #F9DBDB;

// PLCC
$color-platinum: #8F9699;
$color-silver: #6F787B;
$color-shine: #D8E0E4;
$color-gold: #9C8137;
$color-premium: #887330;
$color-tan: #F1E8CF;

// Typography
$font-headline: 'Montserrat', sans-serif;
$font-body: 'Open Sans', sans-serif;

// Font Weight
$font-weight-bold: 700;
$font-weight-regular: 400;
