.like-icon {
    height: 32px;
    width: 32px;
    background: rgba(255,255,255,.8);
    border-radius: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right:10px;

    & .tooltip {
        position: absolute;
        top: 47px;
        right: -3.5px;
        text-align: center;
        display: none;
    }

    &:hover {
        & .tooltip {
            display: block;
       }
    }

    & .heart {
        height: 26px;
        width: 26px;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 13px;
        overflow: hidden;

        & svg {
            width: 26px;
            height: 26px;
        }

        & use {
            fill: none !important;
            stroke: var(--color-nightsky) !important;
        }
        
        &:hover {
            & use {
                stroke: var(--color-slate) !important;
            }
        }

    }

    &.is-active {
        transition: background 0.25s ease-in-out;
        background: var(--color-white);
        & .heart {
            & use {
                stroke: none !important;
                fill: var(--color-penneyred) !important;
            }
            animation: myheartwillgoon 0.5s ease-in-out;
            &:hover {
                stroke: none !important;
            }
        }
    }
}

@keyframes myheartwillgoon {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    75% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

@media (--viewport-md) {
    .like-icon {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        top: 10px;
        right:10px;

        & .tooltip {
            top: 47px;
            right: -3.5px;

        }

        & .heart {
            height: 32px;
            width: 32px;
            top: 4px;
            left: 4.5px;
            border-radius: 20px;

            & svg {
                width: 32px;
                height: 32px;
            }
        }
    }



}
