:root {

  --cube-width: 30px;
  --cube-height: 45px;
  --cube-z-perspective-next: 84px;
  --cube-z-perspective-prev: 28px;
  --cube-z-perspective-next-s: 39px;
  --cube-z-perspective-prev-s: 15px;
  --cube-z-perspective-next-fixed: 30px;
  --cube-z-perspective-prev-fixed: 8px;
}

.timer {
    font-family: var(--font-headline);
    background-color: #000;
    color: var(--color-penneyred);
    width: 100%;
    margin-bottom: 15px;
}
.timer-inner {
    display: flex;
    justify-content: center;
    max-width: 580px;
    margin:0 auto;
}

.timer-headline {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    display: flex;
    flex: 0 0 54%;
    text-align: right;
    padding: 5px 10px 5px 5px;
    line-height: 14px;
    justify-content: center;
    align-items: center;
    max-width: 48%;
}

.timer-headline {    
    & .timer-light {
        color: #fff;
    }
}

.timer-dates, .timer-dates-fixed {
    color: #FFF;
    display: block;
    text-transform: none;
    font-size: 10px;
}

@media (--viewport-md) {
  .timer-headline {
    font-size: 24px;
    line-height: 24px;
    flex: 0 0 55%;
    padding: 5px 10px;
    max-width: none;
  }
  .timer-dates, .timer-dates-fixed {
    font-size: 15px;
  }
}

.timer-dates-fixed {
    display: none;
}

.timer-clock {
    display: flex;
    width: 232px;
    text-align: center;
    color: #FFF;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;

    & .timer-group {
        text-align: center;
        width: 33.3%;
        position: relative;
        padding-right: 6px;
        padding-left: 5px;
        &.timer-seperator::after {
            content: ":";
            position: absolute;
            top: 0;
            right: -2px;
            font-size: 32px;
        }
    }
}

.timer-clock-label {
    font-size: 14px;
    line-height: 10px;
    float: left;
    clear: both;
    width: 100%;
    margin-top: 6px;
    font-weight: 300;
}

.timer-clock-digit {
    width: 30px;
    height: 45px;
    float: left;
    overflow: hidden;
    position: relative;
    background: #FFF;
    border-radius: 4px;
    margin-right: 2px;
    transform: translateZ(0);
}

.timer-clock-digit-inner {
    width: var(--cube-width));
    height: var(--cube-height));
    transform-style: preserve-3d;
}

.timer-clock-digit-inner.timer-flip {
    transition: all 450ms ease;
}
.timer-prev-number, .timer-next-number {
    height: var(--cube-height);
}

.timer-prev-number {
    transform: translateZ(var(--cube-z-perspective-prev));
}

.timer-next-number {
    transform: rotateX(90deg) translateZ(var(--cube-z-perspective-next));
}

.timer-clock-digit-inner.timer-flip {
    transform: rotateX(-68deg);
}
.timer-clock-digit-inner {
    text-align: center;
    margin: 0 auto;
}
.timer-prev-number, .timer-next-number {
    font-size: 35px;
    color: #000;
    line-height: 43px;
}

.timer-next-number {
    background: #FFF;
}
.timer-clock-digit-inner.timer-flip .timer-prev-number {
    background: #bfbfbf;
    transition: all 250ms ease;
}
.timer-clock-digit-inner.timer-flip .timer-next-number {
    background: #fff;
    transition: all 250ms ease;
}

@media (--viewport-sm) {
  .timer-clock {
    width: 138px;
    min-width: 138px;

    & .timer-group {
       padding-right: 5px;
       padding-left: 0px;
       &.timer-seperator::after {
          font-size: 16px;
          top: 2px;
          right: 2px;
        }
    }
  }

  .timer-clock-label {
        font-size: 11px;
        margin-top: 3px;
  }
  .timer-clock-digit {
    width: 17px;
    height: 28px;
  }

  .timer-clock-digit-inner {
    width: 17px;
    height: 28px;
  }
  .timer-clock-digit-inner.timer-flip {
    transform: rotateX(-84deg);
  }

  .timer-prev-number, .timer-next-number {
    height: 28px;
  }

  .timer-prev-number {
    transform: translateZ(var(--cube-z-perspective-prev-s));
  }

  .timer-next-number {
    transform: rotateX(90deg) translateZ(var(--cube-z-perspective-next-s));
  }

  .timer-prev-number, .timer-next-number {
    font-size: 20px;
    line-height: 27px;
  }
}

    
.timer-sticky {
    background: none;
    & .timer-dates-fixed { 
        display: block; 
        clear: both;
        padding:2px 10px;
        text-align: center;
        font-size: 11px;
    }
    & .timer-inner {
        position: fixed;
        top: 100px;
        right: 0;
        width: 220px;
        padding-bottom: 4px;
        border-radius: 3px 0 0 3px;
        box-shadow: 0 5px 8px 0 rgba(28,32,36,0.5);
        display: block;
        text-align: left;
        z-index: 9999;
        background: #000;
    }
    & .timer-hide-fixed {
        display: none;
    }
    & .timer-headline {
        line-height: 16px;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 14px;
        max-width: none;
    }
    & .timer-coupon {
        font-size: 16px;
        display: block;
        text-align: center;
    }
    & .timer-clock-digit-inner.timer-flip {
       transform: rotateX(-90deg);
    }
    & .timer-clock {
        margin: 1px auto;
        width: 132px;
        min-width: 132px;
        padding-left: 45px;
        position: relative;
        &::after {
            content:"ENDS";
            position: absolute;
            top:0;
            left:0;
            color: var(--color-penneyred);
            font-size: 14px;
        }
    }
    & .timer-group {
        padding-right: 0;
        padding-left: 0px;
        &.timer-seperator::after {
            font-size: 11px;
            top: -1px;
            right: 2px;
        }
    }
    & .timer-clock-label {
        display: none;
    }
    & .timer-clock-digit {
        width: 11px;
        height: 14px;
        border-radius: 2px;
        margin-right: 2px;
    }
    & .timer-clock-digit-inner {
        width: 11px;
        height: 14px;
    }
    & .timer-prev-number {
        transform: translateZ(var(--cube-z-perspective-prev-fixed));
    }
    & .timer-next-number {
        transform: rotateX(90deg) translateZ(var(--cube-z-perspective-next-fixed));
    }
    & .timer-prev-number, & .timer-next-number {
        font-size: 14px;
        line-height: 14px;
        height: 14px;
    }
}

@media (--viewport-sm) {
    .timer-sticky {
        & .timer-dates-fixed { 
            font-size: 10px;
        }
        & .timer-headline {
            font-size: 16px;
        }
        & .timer-hide-fixed-mobile {
            display: none;
        }
        & .timer-inner {
            width:146px;
        }

        & .timer-clock {
        width: 125px;
        min-width: 125px;
        padding-left: 38px;
            &::after {
                font-size: 11px;
                top:1px;
            }
        }
    }
}