/*------------------------------------*\
  Design System
  Target Browsers: IE9+, Chrome, FF, Safari, iOS9+, Android 4.4+
\*------------------------------------*/

@import "helpers/init";


/*------------------------------------*\
  Off Canvas
\*------------------------------------*/


.is-off-canvas-open {
  overflow: hidden; }

.js-off-canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  background: rgba(254, 254, 254, 0.25);
  opacity: 0;
  visibility: hidden;
  overflow: hidden; }
  .js-off-canvas-overlay.is-visible {
    opacity: 1;
    visibility: visible; }
  .js-off-canvas-overlay.is-closable {
    cursor: pointer; }
  .js-off-canvas-overlay.is-overlay-absolute {
    position: absolute; }
  .js-off-canvas-overlay.is-overlay-fixed {
    position: fixed; }

.off-canvas-wrapper {
  position: relative;
  overflow: hidden; }

.off-canvas {
  position: fixed;
  z-index: 12;
  transition: transform 0.5s ease;
  backface-visibility: hidden;
  background: #e6e6e6; }
  [data-whatinput='mouse'] .off-canvas {
    outline: 0; }
  .off-canvas.is-transition-push {
    z-index: 12; }
  .off-canvas.is-closed {
    visibility: hidden; }
  .off-canvas.is-transition-overlap {
    z-index: 13; }
    .off-canvas.is-transition-overlap.is-open {
      box-shadow: 0 0 10px rgba(10, 10, 10, 0.7); }
  .off-canvas.is-open {
    transform: translate(0, 0); }

.off-canvas-absolute {
  position: absolute;
  z-index: 12;
  transition: transform 0.5s ease;
  backface-visibility: hidden;
  background: #e6e6e6; }
  [data-whatinput='mouse'] .off-canvas-absolute {
    outline: 0; }
  .off-canvas-absolute.is-transition-push {
    z-index: 12; }
  .off-canvas-absolute.is-closed {
    visibility: hidden; }
  .off-canvas-absolute.is-transition-overlap {
    z-index: 13; }
    .off-canvas-absolute.is-transition-overlap.is-open {
      box-shadow: 0 0 10px rgba(10, 10, 10, 0.7); }
  .off-canvas-absolute.is-open {
    transform: translate(0, 0); }

.position-left {
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  width: 250px;
  transform: translateX(-250px); }
  .off-canvas-content .off-canvas.position-left {
    transform: translateX(-250px); }
    .off-canvas-content .off-canvas.position-left.is-transition-overlap.is-open {
      transform: translate(0, 0); }
  .off-canvas-content.is-open-left.has-transition-push {
    transform: translateX(250px); }
  .position-left.is-transition-push {
    box-shadow: inset -13px 0 20px -13px rgba(10, 10, 10, 0.25); }

.position-right {
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  width: 250px;
  transform: translateX(250px); }
  .off-canvas-content .off-canvas.position-right {
    transform: translateX(250px); }
    .off-canvas-content .off-canvas.position-right.is-transition-overlap.is-open {
      transform: translate(0, 0); }
  .off-canvas-content.is-open-right.has-transition-push {
    transform: translateX(-250px); }
  .position-right.is-transition-push {
    box-shadow: inset 13px 0 20px -13px rgba(10, 10, 10, 0.25); }

.position-top {
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: auto;
  height: 250px;
  transform: translateY(-250px); }
  .off-canvas-content .off-canvas.position-top {
    transform: translateY(-250px); }
    .off-canvas-content .off-canvas.position-top.is-transition-overlap.is-open {
      transform: translate(0, 0); }
  .off-canvas-content.is-open-top.has-transition-push {
    transform: translateY(250px); }
  .position-top.is-transition-push {
    box-shadow: inset 0 -13px 20px -13px rgba(10, 10, 10, 0.25); }

.position-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: auto;
  height: 250px;
  transform: translateY(250px); }
  .off-canvas-content .off-canvas.position-bottom {
    transform: translateY(250px); }
    .off-canvas-content .off-canvas.position-bottom.is-transition-overlap.is-open {
      transform: translate(0, 0); }
  .off-canvas-content.is-open-bottom.has-transition-push {
    transform: translateY(-250px); }
  .position-bottom.is-transition-push {
    box-shadow: inset 0 13px 20px -13px rgba(10, 10, 10, 0.25); }

.off-canvas-content {
  transform: none;
  transition: transform 0.5s ease;
  backface-visibility: hidden; }
  .off-canvas-content.has-transition-push {
    transform: translate(0, 0); }
  .off-canvas-content .off-canvas.is-open {
    transform: translate(0, 0); }

@media print, screen and (min-width: 40em) {
  .position-left.reveal-for-medium {
    transform: none;
    z-index: 12;
    transition: none;
    visibility: visible; }
    .position-left.reveal-for-medium .close-button {
      display: none; }
    .off-canvas-content .position-left.reveal-for-medium {
      transform: none; }
    .off-canvas-content.has-reveal-left {
      margin-left: 250px; }
    .position-left.reveal-for-medium ~ .off-canvas-content {
      margin-left: 250px; }
  .position-right.reveal-for-medium {
    transform: none;
    z-index: 12;
    transition: none;
    visibility: visible; }
    .position-right.reveal-for-medium .close-button {
      display: none; }
    .off-canvas-content .position-right.reveal-for-medium {
      transform: none; }
    .off-canvas-content.has-reveal-right {
      margin-right: 250px; }
    .position-right.reveal-for-medium ~ .off-canvas-content {
      margin-right: 250px; }
  .position-top.reveal-for-medium {
    transform: none;
    z-index: 12;
    transition: none;
    visibility: visible; }
    .position-top.reveal-for-medium .close-button {
      display: none; }
    .off-canvas-content .position-top.reveal-for-medium {
      transform: none; }
    .off-canvas-content.has-reveal-top {
      margin-top: 250px; }
    .position-top.reveal-for-medium ~ .off-canvas-content {
      margin-top: 250px; }
  .position-bottom.reveal-for-medium {
    transform: none;
    z-index: 12;
    transition: none;
    visibility: visible; }
    .position-bottom.reveal-for-medium .close-button {
      display: none; }
    .off-canvas-content .position-bottom.reveal-for-medium {
      transform: none; }
    .off-canvas-content.has-reveal-bottom {
      margin-bottom: 250px; }
    .position-bottom.reveal-for-medium ~ .off-canvas-content {
      margin-bottom: 250px; } }

@media print, screen and (min-width: 64em) {
  .position-left.reveal-for-large {
    transform: none;
    z-index: 12;
    transition: none;
    visibility: visible; }
    .position-left.reveal-for-large .close-button {
      display: none; }
    .off-canvas-content .position-left.reveal-for-large {
      transform: none; }
    .off-canvas-content.has-reveal-left {
      margin-left: 250px; }
    .position-left.reveal-for-large ~ .off-canvas-content {
      margin-left: 250px; }
  .position-right.reveal-for-large {
    transform: none;
    z-index: 12;
    transition: none;
    visibility: visible; }
    .position-right.reveal-for-large .close-button {
      display: none; }
    .off-canvas-content .position-right.reveal-for-large {
      transform: none; }
    .off-canvas-content.has-reveal-right {
      margin-right: 250px; }
    .position-right.reveal-for-large ~ .off-canvas-content {
      margin-right: 250px; }
  .position-top.reveal-for-large {
    transform: none;
    z-index: 12;
    transition: none;
    visibility: visible; }
    .position-top.reveal-for-large .close-button {
      display: none; }
    .off-canvas-content .position-top.reveal-for-large {
      transform: none; }
    .off-canvas-content.has-reveal-top {
      margin-top: 250px; }
    .position-top.reveal-for-large ~ .off-canvas-content {
      margin-top: 250px; }
  .position-bottom.reveal-for-large {
    transform: none;
    z-index: 12;
    transition: none;
    visibility: visible; }
    .position-bottom.reveal-for-large .close-button {
      display: none; }
    .off-canvas-content .position-bottom.reveal-for-large {
      transform: none; }
    .off-canvas-content.has-reveal-bottom {
      margin-bottom: 250px; }
    .position-bottom.reveal-for-large ~ .off-canvas-content {
      margin-bottom: 250px; } }

@media print, screen and (min-width: 40em) {
  .off-canvas.in-canvas-for-medium {
    visibility: visible;
    height: auto;
    position: static;
    background: inherit;
    width: inherit;
    overflow: inherit;
    transition: inherit; }
    .off-canvas.in-canvas-for-medium.position-left, .off-canvas.in-canvas-for-medium.position-right, .off-canvas.in-canvas-for-medium.position-top, .off-canvas.in-canvas-for-medium.position-bottom {
      box-shadow: none;
      transform: none; }
    .off-canvas.in-canvas-for-medium .close-button {
      display: none; } }

@media print, screen and (min-width: 64em) {
  .off-canvas.in-canvas-for-large {
    visibility: visible;
    height: auto;
    position: static;
    background: inherit;
    width: inherit;
    overflow: inherit;
    transition: inherit; }
    .off-canvas.in-canvas-for-large.position-left, .off-canvas.in-canvas-for-large.position-right, .off-canvas.in-canvas-for-large.position-top, .off-canvas.in-canvas-for-large.position-bottom {
      box-shadow: none;
      transform: none; }
    .off-canvas.in-canvas-for-large .close-button {
      display: none; } }




/*------------------------------------*\
  Block Grid
\*------------------------------------*/


.small-up-1 > .column, .small-up-1 > .columns {
  float: left;
  width: 100%; }
  .small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
    float: left; }

.small-up-2 > .column, .small-up-2 > .columns {
  float: left;
  width: 50%; }
  .small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
    float: left; }

.small-up-3 > .column, .small-up-3 > .columns {
  float: left;
  width: 33.33333%; }
  .small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
    float: left; }

.small-up-4 > .column, .small-up-4 > .columns {
  float: left;
  width: 25%; }
  .small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
    float: left; }

.small-up-5 > .column, .small-up-5 > .columns {
  float: left;
  width: 20%; }
  .small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
    float: left; }

.small-up-6 > .column, .small-up-6 > .columns {
  float: left;
  width: 16.66667%; }
  .small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
    float: left; }

.small-up-7 > .column, .small-up-7 > .columns {
  float: left;
  width: 14.28571%; }
  .small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
    float: left; }

.small-up-8 > .column, .small-up-8 > .columns {
  float: left;
  width: 12.5%; }
  .small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
    float: left; }

.small-collapse > .column, .small-collapse > .columns {
  padding-right: 0;
  padding-left: 0; }

.small-collapse .row {
  margin-right: 0;
  margin-left: 0; }

.expanded.row .small-collapse.row {
  margin-right: 0;
  margin-left: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-right: 0.625rem;
  padding-left: 0.625rem; }

.small-centered {
  margin-right: auto;
  margin-left: auto; }
  .small-centered, .small-centered:last-child:not(:first-child) {
    float: none;
    clear: both; }

.small-uncentered,
.small-push-0,
.small-pull-0 {
  position: static;
  float: left;
  margin-right: 0;
  margin-left: 0; }

@media print, screen and (min-width: 40em) {
  .medium-1 {
    width: 8.33333%; }
  .medium-push-1 {
    position: relative;
    left: 8.33333%; }
  .medium-pull-1 {
    position: relative;
    left: -8.33333%; }
  .medium-offset-0 {
    margin-left: 0%; }
  .medium-2 {
    width: 16.66667%; }
  .medium-push-2 {
    position: relative;
    left: 16.66667%; }
  .medium-pull-2 {
    position: relative;
    left: -16.66667%; }
  .medium-offset-1 {
    margin-left: 8.33333%; }
  .medium-3 {
    width: 25%; }
  .medium-push-3 {
    position: relative;
    left: 25%; }
  .medium-pull-3 {
    position: relative;
    left: -25%; }
  .medium-offset-2 {
    margin-left: 16.66667%; }
  .medium-4 {
    width: 33.33333%; }
  .medium-push-4 {
    position: relative;
    left: 33.33333%; }
  .medium-pull-4 {
    position: relative;
    left: -33.33333%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-5 {
    width: 41.66667%; }
  .medium-push-5 {
    position: relative;
    left: 41.66667%; }
  .medium-pull-5 {
    position: relative;
    left: -41.66667%; }
  .medium-offset-4 {
    margin-left: 33.33333%; }
  .medium-6 {
    width: 50%; }
  .medium-push-6 {
    position: relative;
    left: 50%; }
  .medium-pull-6 {
    position: relative;
    left: -50%; }
  .medium-offset-5 {
    margin-left: 41.66667%; }
  .medium-7 {
    width: 58.33333%; }
  .medium-push-7 {
    position: relative;
    left: 58.33333%; }
  .medium-pull-7 {
    position: relative;
    left: -58.33333%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-8 {
    width: 66.66667%; }
  .medium-push-8 {
    position: relative;
    left: 66.66667%; }
  .medium-pull-8 {
    position: relative;
    left: -66.66667%; }
  .medium-offset-7 {
    margin-left: 58.33333%; }
  .medium-9 {
    width: 75%; }
  .medium-push-9 {
    position: relative;
    left: 75%; }
  .medium-pull-9 {
    position: relative;
    left: -75%; }
  .medium-offset-8 {
    margin-left: 66.66667%; }
  .medium-10 {
    width: 83.33333%; }
  .medium-push-10 {
    position: relative;
    left: 83.33333%; }
  .medium-pull-10 {
    position: relative;
    left: -83.33333%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-11 {
    width: 91.66667%; }
  .medium-push-11 {
    position: relative;
    left: 91.66667%; }
  .medium-pull-11 {
    position: relative;
    left: -91.66667%; }
  .medium-offset-10 {
    margin-left: 83.33333%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-11 {
    margin-left: 91.66667%; }
  .medium-up-1 > .column, .medium-up-1 > .columns {
    float: left;
    width: 100%; }
    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
      float: left; }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    float: left;
    width: 50%; }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
      float: left; }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    float: left;
    width: 33.33333%; }
    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
      float: left; }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    float: left;
    width: 25%; }
    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
      float: left; }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    float: left;
    width: 20%; }
    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
      float: left; }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    float: left;
    width: 16.66667%; }
    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
      float: left; }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    float: left;
    width: 14.28571%; }
    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
      float: left; }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    float: left;
    width: 12.5%; }
    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
      float: left; }
  .medium-collapse > .column, .medium-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .medium-collapse .row {
    margin-right: 0;
    margin-left: 0; }
  .expanded.row .medium-collapse.row {
    margin-right: 0;
    margin-left: 0; }
  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; }
  .medium-centered {
    margin-right: auto;
    margin-left: auto; }
    .medium-centered, .medium-centered:last-child:not(:first-child) {
      float: none;
      clear: both; }
  .medium-uncentered,
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0; } }

@media print, screen and (min-width: 64em) {
  .large-1 {
    width: 8.33333%; }
  .large-push-1 {
    position: relative;
    left: 8.33333%; }
  .large-pull-1 {
    position: relative;
    left: -8.33333%; }
  .large-offset-0 {
    margin-left: 0%; }
  .large-2 {
    width: 16.66667%; }
  .large-push-2 {
    position: relative;
    left: 16.66667%; }
  .large-pull-2 {
    position: relative;
    left: -16.66667%; }
  .large-offset-1 {
    margin-left: 8.33333%; }
  .large-3 {
    width: 25%; }
  .large-push-3 {
    position: relative;
    left: 25%; }
  .large-pull-3 {
    position: relative;
    left: -25%; }
  .large-offset-2 {
    margin-left: 16.66667%; }
  .large-4 {
    width: 33.33333%; }
  .large-push-4 {
    position: relative;
    left: 33.33333%; }
  .large-pull-4 {
    position: relative;
    left: -33.33333%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-5 {
    width: 41.66667%; }
  .large-push-5 {
    position: relative;
    left: 41.66667%; }
  .large-pull-5 {
    position: relative;
    left: -41.66667%; }
  .large-offset-4 {
    margin-left: 33.33333%; }
  .large-6 {
    width: 50%; }
  .large-push-6 {
    position: relative;
    left: 50%; }
  .large-pull-6 {
    position: relative;
    left: -50%; }
  .large-offset-5 {
    margin-left: 41.66667%; }
  .large-7 {
    width: 58.33333%; }
  .large-push-7 {
    position: relative;
    left: 58.33333%; }
  .large-pull-7 {
    position: relative;
    left: -58.33333%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-8 {
    width: 66.66667%; }
  .large-push-8 {
    position: relative;
    left: 66.66667%; }
  .large-pull-8 {
    position: relative;
    left: -66.66667%; }
  .large-offset-7 {
    margin-left: 58.33333%; }
  .large-9 {
    width: 75%; }
  .large-push-9 {
    position: relative;
    left: 75%; }
  .large-pull-9 {
    position: relative;
    left: -75%; }
  .large-offset-8 {
    margin-left: 66.66667%; }
  .large-10 {
    width: 83.33333%; }
  .large-push-10 {
    position: relative;
    left: 83.33333%; }
  .large-pull-10 {
    position: relative;
    left: -83.33333%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-11 {
    width: 91.66667%; }
  .large-push-11 {
    position: relative;
    left: 91.66667%; }
  .large-pull-11 {
    position: relative;
    left: -91.66667%; }
  .large-offset-10 {
    margin-left: 83.33333%; }
  .large-12 {
    width: 100%; }
  .large-offset-11 {
    margin-left: 91.66667%; }
  .large-up-1 > .column, .large-up-1 > .columns {
    float: left;
    width: 100%; }
    .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
      float: left; }
  .large-up-2 > .column, .large-up-2 > .columns {
    float: left;
    width: 50%; }
    .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
      float: left; }
  .large-up-3 > .column, .large-up-3 > .columns {
    float: left;
    width: 33.33333%; }
    .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
      float: left; }
  .large-up-4 > .column, .large-up-4 > .columns {
    float: left;
    width: 25%; }
    .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
      float: left; }
  .large-up-5 > .column, .large-up-5 > .columns {
    float: left;
    width: 20%; }
    .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
      float: left; }
  .large-up-6 > .column, .large-up-6 > .columns {
    float: left;
    width: 16.66667%; }
    .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
      float: left; }
  .large-up-7 > .column, .large-up-7 > .columns {
    float: left;
    width: 14.28571%; }
    .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
      float: left; }
  .large-up-8 > .column, .large-up-8 > .columns {
    float: left;
    width: 12.5%; }
    .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
      float: left; }
  .large-collapse > .column, .large-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .large-collapse .row {
    margin-right: 0;
    margin-left: 0; }
  .expanded.row .large-collapse.row {
    margin-right: 0;
    margin-left: 0; }
  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; }
  .large-centered {
    margin-right: auto;
    margin-left: auto; }
    .large-centered, .large-centered:last-child:not(:first-child) {
      float: none;
      clear: both; }
  .large-uncentered,
  .large-push-0,
  .large-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0; } }

.column-block {
  margin-bottom: 1.25rem; }
  .column-block > :last-child {
    margin-bottom: 0; }
  @media print, screen and (min-width: 40em) {
    .column-block {
      margin-bottom: 1.875rem; }
      .column-block > :last-child {
        margin-bottom: 0; } }


/* ---
Base Styles
--- */
.off-canvas-button {
  display: inline-block;
  padding: 18px; }



/*  Annotation (only used for demo) */
.anno {
    font-size: 12px;
    line-height: 24px;
    width: 100%;
    color: var(--color-slate);
    letter-spacing: 1px;
    margin: 56px 0 24px 0;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-concrete);
}

/*  Colors (only used for demo) */
.color {
    width: 100%;
    line-height: 56px;
    text-align: center;
    color: var(--color-white);
}


.off-canvas-button {
    display: inline-block;
    padding: 18px;
}

.design-system {
    & .design-system-wrap {
        margin-top: 64px;
    }

    & .design-system-inner-nav {
        display: none;
    }

    & .design-system-page {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }


    & .off-canvas {
        background: var(--color-design-system-nav);

        &.position-left.is-transition-push {
            box-shadow: none;
        }

        & .design-system-menu {
            margin-top: 0;
        }
    }

    & .design-system-nav-mobile {
        background-color: var(--color-penneyred);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        transform: translateX(0);
        transition: transform 0.5s ease;

        z-index: 1000;

        &.off-canvas-open {
            transform: translateX(250px);
        }

        & button {
            cursor: pointer;
            padding: 18px;
        }

        & .design-system-logo-mobile {
            display: inline-block;
            padding: 4px 0 2px;
        }

        & .design-system-search-btn {
            padding: 14px;
            display: inline-block;

            &.selected {
                background-color: var(--color-design-system-search);
            }
        }
    }

    & .design-system-nav-col {
        display: none;
    }

    & .design-system-search-desktop-btn {
        background-color: var(--color-design-system-search);
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 7px;
    }

    & .design-system-menu-header {
        background-color: var(--color-penneyred);
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
    }

    & .design-system-search-field {
        transition: height 200ms;
        margin-left: 0;
        margin-right: 0;
        height: 0;
        overflow: hidden;
        background-color: var(--color-design-system-search);

        & input[type=text] {
            background-color: var(--color-design-system-search);
            width: 100%;
            color: var(--color-white);
            border: none;
            padding: 5px 15px 5px;
            margin: 0;

            placeholder {
                color: var(--color-white);
                opacity: 1;
                font-style: italic;
            }


            &:focus {
                outline: none;
                border: none;
            }
        }
    }

    & ul.design-system-menu {
        margin-top: 20px;
        margin-bottom: 20px;

        & a {
            color: var(--color-white);
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            padding: 20px 20px;
            position: relative;
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;

            &:hover {
                background-color: var(--color-shadow);
            }

            &.icn-expand {
                font-size: 18px;
                line-height: 22px;

                &:before {
                    content: " ";
                    position: absolute;
                    top: 18px;
                    right: 18px;
                    width: 24px;
                    height: 24px;
                    background: url(var(--path-images)design-system/plus.svg) no-repeat right center;
                }
            }

            &.inactive {
                opacity:.3;
            }
        }

        & ul {
            transition: height 200ms;

            height: 0;
            overflow: hidden;

            & a {
                text-transform: none;
                padding: 10px 20px 10px 60px;
                font-size: 16px;
                background: none;

                &:hover {
                    color: var(--color-concrete);
                    background: none;
                }

                &:before {
                    content: none;
                }
            }
        }

        & hr {
            margin: 10px 20px;
            border: none;
            border-top: 1px solid var(--color-slate);
        }

        & li.menu-open {
            & a {
                &.icn-expand:before {
                    background-image: url(var(--path-images)design-system/minus.svg);
                }
            }
        }
    }
    & .design-system-content {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    @media (--viewport-md) {
        & .design-system-content {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    @media (--viewport-lg) {
        & .design-system-content {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    @media (--viewport-lg) {
        & .design-system-nav-mobile {
            display: none;
        }

        & .design-system-wrap {
            display: table;
            width: 100%;
            height: 100vh;
            margin-top: 0;
        }

        & .design-system-nav-col,
        & .design-system-content-col {
            display: table-cell;
            vertical-align: top;
        }

        & .design-system-nav-col {
            width: 250px;
            background: var(--color-design-system-nav);
        }

        & .off-canvas-content.is-open-left.has-transition-push {
            transform: translate(0, 0);
        }

        /* Disable Off Canvas Menu for Tablet/Desktop */
    }


    @media (--viewport-xl) {
        & .design-system-inner-wrap {
            display: table;
            width: 100%;
            height: 100vh;
        }

        & .design-system-inner-nav,
        & .design-system-inner-content {
            display: table-cell;
            vertical-align: top;
        }

        & .design-system-inner-nav {
            width: 250px;

            & .design-system-inner-nav-fixed {
                width: 250px;
                position: fixed;
                top: 60px;
                padding: 20px;

                & .design-system-inner-nav-indicator {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 4px;
                    height: 24px;
                    background: var(--color-nightsky);
                    display: none;

                    &.active {
                        display: block;
                        transition: top 0.5s ease;
                    }
                }

                & a {
                    font-size: 16px;
                    line-height: 16px;
                    color: var(--color-nightsky);
                    display: inline-block;
                    margin-bottom: 25px;
                    text-decoration: none;
                }

                & .active a {
                    font-weight: bold;
                }
            }
        }
    }
}






/*------------------------------------*\
  CONTENT - COLOR PALETTE
\*------------------------------------*/

@media (--viewport-md) {
    .design-system-inner-content {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.design-system-css-class {
    color: var(--color-penneyred);
    background-color: var(--color-lightgrey);
    font-size: 14px;
    line-height: 18px;
    font-family: var(--font-code);
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
}

.design-system-css-class-inline {
    display: inline-block;
    margin-left: 15px;
    font-weight: 400;
}

.design-system-content-swatch-bar {
    padding: 15px 20px;
    color: var(--color-white);
    font-size: 14px;
    line-height: 16px;
}

.design-system-content-swatch-bar.size-large {
    padding: 30px 20px;
}

.design-system-placeholder {
    background-color: var(--color-concrete);
    padding: 60px 10px;
    color: var(--color-slate);
    text-align: center;
}

.design-system-headline-with-toggle {
    position: relative;

    & h3 {
        padding-right: 160px;
        min-height: 24px;
    }

    & .design-system-headline-toggle {
        position: absolute;
        top: 0;
        right: 15px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        border-radius: 4px;

        & a {
            display: inline-block;
            padding: 5px 15px;
            border: solid 1px var(--color-concrete);
            border-radius: 4px;
            text-decoration: none;
            color: var(--color-design-system-nav);
            background-color: var(--color-white);

            &.active {
                color: var(--color-white);
                background-color: var(--color-nightsky);
                border: 1px solid var(--color-nightsky);
            }

            &.left {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.right {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

/* Grid */

.grid-preview { 
  height: 8px; 
}
.design-system-grid-preview {
    & .row {
        background-color:#aaf2ff;
        & .design-system-preview-inner {
            background-color:#e180b5;
            height:130px;
        }
        & .columns.first {
            position: relative;
        }
        & .columns {
            position: relative;
            &:before{
                    content: "";
                    width:1px;
                    height:100%;
                    border-right: 1px solid var(--color-white);
                    position: absolute;
                    top:0;
                    left: 0;
                }
        }
    }
}
.design-system-grid-preview-labels {
    position: relative;
    height: 30px;
    & .design-system-grid-preview-label-gutter, & .design-system-grid-preview-label-column {
        position: absolute;
        top: 10px;
        left: 5.5%;
        font-size: 13px;
    }
    & .design-system-grid-preview-label-gutter {
        color:#4b8c8e;
    }
    & .design-system-grid-preview-label-column {
        color:#da2d7f;
        left: 60.5%;
    }
}

/* Code Generator */

.code-generator {
    border: 1px solid var(--color-concrete);
    border-radius: 8px;
    & .html-pattern {
        display: none;
    }
    & .code-generator-code {
        background-color: var(--color-design-system-right-nav);
    }
    & .code-generator-edit {
        margin-top: 25px;
    }
    & .code-generator-preview {
        border-top: 1px solid var(--color-concrete);
        border-bottom: 1px solid var(--color-concrete);
        padding: 15px;
    }
    & .code-generator-code-preview {
        padding: 15px;
        background-color: var(--color-design-system-right-nav);
        font-family: var(--font-code);

        & p {
            color: var(--color-nightsky);
        }
        & .code-format-tab {
            margin: 10px 0 10px 20px;
        }
        & .code-format-attribute {
            color: #008a44;
        }
        & .code-format-tag {
            color: var(--color-penneyred);
        }
        & .code-format-tag-value {
            color: #126c9c;
        }
    }
    & .design-system-headline-with-toggle {
        height: 60px;
        & .design-system-headline-toggle {
            top: 15px;
        }
        & .code-generator-copy button {
            position: absolute;
            top: 15px;
            left: 15px;
            display: inline-block;
            padding: 5px 15px;
            border: solid 1px #d8d8d8;
            border-radius: 4px;
            text-decoration: none;
            color: var(--color-design-system-nav);
            background-color: var(--color-white);
            font-weight: 300;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        }
    }
    & .code-generator-controls {
        padding: 15px;
    }
}

@media (--viewport-md) {
    .code-generator {
        display: flex;
        flex-direction: row-reverse;

        & .code-generator-right {
            width: 30%;
            flex: 0 0 300px;
            border-left: solid 1px var(--color-concrete);
        }
        & .code-generator-left {
            width: 70%;
            background-color: var(--color-design-system-right-nav);
            flex: 1;
        }
        & .code-generator-preview,
        & .code-generator-code-preview {
            background: none;
        }
        & .code-generator-preview {
            border-top: none;
            background-color: var(--color-white);
            border-top-left-radius: 8px;
        }
        & .code-generator-toggle-editor {
            display: none;
        }
    }
}




/* Color Picker */

& .design-system-color-picker {
    position: relative;
    padding-left: 46px;
    float: right;
    width: 100%;
    & .color-picker-icon {
        border: 2px solid var(--color-white);
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        margin: 4px;
        position: absolute;
        top: 0;
        left: 0;
        & span {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            display: inline-block;
            border: 2px solid var(--color-white);
        }
        &.selected {
            border: 2px solid var(--color-nightsky);
        }
    }
}

@media (--viewport-md) {
    .design-system-color-picker {
        max-width: 300px;
    }
}

.design-system-color-hex {
    display: none;
}

.design-system-toggle-section.show-hex {
    & .design-system-color-hex {
        display: inline;
    }

    & .design-system-color-class {
        display: none;
    }
}


/* Container Boxes */

.design-system-container {
    background: var(--color-design-system-right-nav);
    border: solid 1px var(--color-concrete);
    padding: 24px;

    &.design-system-container-small {
        max-width: 375px;
    }
    & .design-system-container-inner {
        background-color: var(--color-white);
        border: solid 1px var(--color-concrete);
        padding:20px;
    }
}

.btn-set-desktop-example a {
    margin-left: 15px;
    width: 200px;
}



/* ICONS */

.design-system-icon-set {
    margin-top: 30px;
    margin-bottom: 30px;
}

.design-system-icon-col {
    text-align: center;

    & .design-system-icon-name {
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        color: var(--color-design-system-nav);
        margin: 6px 0 0;
    }

    & .design-system-icon-details {
        font-size: 12px;
        line-height: 14px;
        color: var(--color-slate);
        margin: 0;
    }
}

@media (--viewport-md) {
    .design-system-icon-col {
        position: relative;
        text-align: left;

        & .design-system-icon-label {
            padding-left: 50px;
        }

        & .design-system-icon {
            position: absolute;
            top: 0;
            left: 5px;
            width: 35px;
        }
    }
}






/* BUTTONS */

.design-system {
    & .button-preview  a {
		width: 200px;
		max-width: 100%;
    }
    & .button-overview a {
		margin-right: 20px;
		min-width: 200px;
		margin-bottom: 20px;
    }
}

/* WORK IN PROGRESS */

.modal-preview {
    background-color: rgba(0,0,0,0.5);
}

.width-216 {
  width: 216px;
}

.hide {
  display: none;
}