/***************************************************
/* Colors Swatches
***************************************************/
.color-swatches-block {
  width: 100%;

  & .list-product-colors-container{
    & li{
      display: inline-block;
      vertical-align: top;
      margin: 8px 4px;
    }

    & li.focus {
      border: 2px dotted var(--color-neutral-type);
      height: 45px;
      width: 45px;
      display: inline;
    }

    & li:focus{
      @include focus;
    }

    & .swatches-list-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
      & .list-expand {
        background: none;
        & svg {
          width: 24px;
          height: 24px;
          top: 7px;
          position: relative;
          left: 7px;
        }
      }
      & .plus-expand{
        background: none;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: -webkit-transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      & .close-expand{
        -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
      }
      &.swatches-list-icon-large{
        width: 40px;
        height: 42px;
        line-height: 60px;
      }
    }

    & .swatches-list-link {
      padding-top: 3px;
    }

    & .list-color-swatch{
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      cursor: pointer;
      overflow: hidden;
      box-shadow: inset 0px 0px 0px 3px var(--color-white);
      border: 1px solid var(--color-concrete);
      background-color: var(--color-lightgrey); /* Default background color */
      display: inline-block;
      transition: border-color .25s ease-in-out;


      &:hover{
        border-color: var(--color-slate);
      }

      &.hover {
        border-color: var(--color-slate);
      }

      &.list-color-swatch-active{
        border: 2px solid var(--color-nightsky);
        box-shadow: inset 0px 0px 0px 5px var(--color-white);
        @media (--viewport-sm-only) {
          box-shadow: inset 0px 0px 0px 2px var(--color-white);
        }

        &.list-color-swatch-oos:hover{
          border-color: var(--color-nightsky);
        }

        &.list-color-swatch-oos:after{
          border-color: var(--color-nightsky);
        }
      }

      &.list-color-swatch-oos{

        &:after{
          content: " ";
          top: 0;
          left: 45%;
          position: absolute;
          display: block;
          width: 4px;
          height: 36px;
          border-right: 1px solid var(--color-concrete);
          border-left: 1px solid var(--color-concrete);
          background-color: var(--color-white);
          transform: rotate(45deg);
        }
      }
      & .oos-selected {
        &:after {
          border-right: 1px solid var(--color-concrete);
          border-left: 1px solid var(--color-concrete);
        }

      }
    }
  }
  
  & .color-swatches-medium li {
    & .list-color-swatch, &.swatches-list-icon {
      width: 24px;
      height: 24px;
    }
    &.swatches-list-icon {
      text-align: center;
      & a span{
        width: 16px;
        height: 16px;
        line-height: 26px;
        text-align: center;
        & svg{
          width: 16px;
          height:16px;
        }
      }
    }
    
 
  }

  & .color-swatches-small {
    & .list-product-colors-container {
      & li {
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0;
        & .list-color-swatch, &.swatches-list-icon {
          width: 16px;
          height: 16px;
        }
        &.swatches-list-icon{
          & svg{
            width: 16px;
          height: 16px;
          }
        }
      }
      & .swatches-list-link {
        & a {
          font-size: 10px;
          text-decoration: none;
        }
      }
    }
  }

  & .show-all-cta {
    text-align: right;
    display: block;
  }

  & .swatches-grid {
    display: flex;
    justify-content: space-around;

    & li {
      margin: 0 16px;
      text-align: center;
    }
  }
}
@media (--viewport-sm-only) {
  .color-swatches-block .swatches-grid{
    display: block; 
  }
  .color-swatches-block .list-product-colors-container li.focus{
    display: inline-block; 
  }
}