/*********************************************
/* Notification Messages
*********************************************/

.msg{
  border-style: solid;
  border-width: 1px;
  border-radius: $border-radius-M;
  padding: 8px 22px 8px 16px;
  position: relative;
  line-height: 24px;

  a{
    color: inherit;
  }

  &.msg-neutral{
    border-color: $color-neutral-border;
    color: $color-neutral-type;
    background-color: $color-neutral-fill;
  }

  &.msg-success{
    border-color: $color-success-border;
    background-color: $color-success-fill;
    color: $color-success-type;
  }

  &.msg-warning{
    border-color: $color-warning-border;
    background-color: $color-warning-fill;
    color: $color-warning-type;
  }

  &.msg-error{
    border-color: $color-error-border;
    background-color: $color-error-fill;
    color: $color-error-type;
  }

  &.msg-inline{
    display:inline-block;
  }

  .msg-close{
    position: absolute;
    top: 8px;
    display: block;
    right: 4px;
    cursor: pointer;
    background: url($path-images + "global/icons/nav/close.svg") no-repeat;
    width: 24px;
    height: 24px;
    background-size: contain;
    padding: 0;
  }
}
