/*********************************************
/* Notification Messages
*********************************************/

.msg{
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius-M);
  padding: 8px 22px 8px 16px;
  position: relative;
  line-height: 24px;
  font-size: 14px;

  & a{
    color: inherit;
  }

  &.msg-neutral{
    border-color: var(--color-neutral-border);
    color: var(--color-neutral-type);
    background-color: var(--color-neutral-fill);
  }

  &.msg-success{
    border-color: var(--color-success-border);
    background-color: var(--color-success-fill);
    color: var(--color-success-type);
  }

  &.msg-warning{
    border-color: var(--color-warning-border);
    background-color: var(--color-warning-fill);
    color: var(--color-warning-type);
  }

  &.msg-error{
    border-color: var(--color-error-border);
    background-color: var(--color-error-fill);
    color: var(--color-error-type);
  }

  &.msg-inline{
    display:inline-block;
  }

  & .msg-close{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    & svg {
      width: 16px;
      height: 16px;
    }
  }
}
