/*******************************************
/* Modal
*******************************************/

.modal{
    border-radius: var(--border-radius-M);
    background-color: #fff;
    text-align: center;
    border: 1px solid var(--color-concrete);
    max-width: 720px;
    margin: 0 auto;
    padding: 48px;
    position: relative;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
    @media (--viewport-sm) {
      width: 360px;
      margin: 0 8px;
      padding: 36px 16px 16px;
    }
    
    @media (--viewport-md) {
      padding: 36px 24px 24px;
    }
  
    & .modal-close{
      position: absolute;
      display: block;
      cursor: pointer;
      background: url("var(--path-images)global/icons/nav/close.svg") no-repeat 6px 3px;
      background-size: 16px;
      width: 24px;
      height: 24px;
      right: 2px;
      top: 8px;
    }
  
    & .icon {
      & svg {
        width: 50px;
        height: 50px;
      }
    }
    &.modal-S{
      width: 360px;
      @media (--viewport-sm-only) {
        width: 96%;
      }
      padding: 32px 16px;
    }
    &.modal-M{
      padding: 36px 14px 24px;
      max-width: 540px;
      @media (--viewport-lg) {
        max-width: 540px;
      }
      @media (--viewport-sm-only) {
        width: 96%;
        padding: 36px 16px 16px;
      }
    }
    &.modal-L{
      @media (--viewport-lg) {
        width: 720px;
        min-width: 600px;
      }
      padding: 40px 24px 24px;
      @media (--viewport-sm-only) {
        width: 96%;
        padding: 40px 16px 16px;
      }
    }
   
    &.modal{
      &.form-modal{
        & .information-sendcopy{
          color:var(--color-slate1);
        }
        & .input-text{
          padding: 15px 30px 13px 20px;
          height: 48px;
          width: 100%;
          margin-bottom: 6px;
        }
        & .text-area{
          height: 80px;
          padding: 15px 30px 13px 20px;
          width: 100%;
        }
        & .form-save{
          padding: 13px;
          color: white;
          font-size: 18px;
          float: right;
        }
        & .checkbox input+span{
          padding-left: 26px;
        }
        
      }
    }
  }
  
  .modal-overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  
    /* use this breakpoint only in lincoln*/
    @media (--viewport-lg) {
      left: 250px;
    }
    @media (--viewport-xl) {
      left: 250px;
    }
  }