/***************************************************
/* PDP
***************************************************/
.social-share {
    text-align: right;
    & .icon {
        width: 32px;
        height: 32px;
        & svg {
            width: 24px;
            height: 24px;
        }
    }
}
.overall-fit {
    width: 136px;
}

.ship-to-home {
    border-right: 1px solid var(--color-concrete);
    padding: 12px;
}
.col-mar {
    margin-left: 16px !important;
    margin-right: 16px !important;
}
