/*********************************
/* Black Friday Test 1
*********************************/

.black-friday-container {
    text-decoration: none;
} 

.black-friday-title, .black-friday-dep-title {
    font-weight: var(--font-weight-bold);
    color: var(--color-design-system-nav);
    margin: 21px 0 15px;
    font-size: 24px;
    text-transform: uppercase;
}

.black-friday-dep-title {
    margin: 0;
}

.black-friday-std-txt {
    font-family: var(--font-headline);
    font-weight: var(--font-weight-regular);
    margin: 21px 0 15px;
    color: #006c7c;
    font-size: 14px;

    & a {
        color: #006c7c;
        text-decoration: none;
        &:hover {
            color: #006c7c;
            text-decoration: none;
        }
    }
}

.black-friday-card-name {
    color: #4a4a4a;
    font-size: 14px;
    line-height: 18px;
    font-family: var(--font-body);
    margin-top: 2px;
    text-decoration: none;
    width: 62%;
    display: inline-block;

    &.black-friday-card-name-pillow {
        width: 40%;
    }
}

.black-friday-card-inner {
    border-radius: 0;
    /* border: 1px solid #cccccc; */
    padding: 7px 0 0 8px;
}

.black-friday-price {
    color: #4a4a4a;
    font-size: 12px;
    display: block;
    line-height: 16px;
}

.black-friday-price-L {
    font-size: 24px !important;
    line-height: 16px !important;
    font-family: var(--font-headline);
    font-weight: var(--font-weight-regular) !important;
    letter-spacing: -.33px;
}

.black-friday-sup-text {
    font-weight: var(--font-weight-regular) !important;
    position: relative;
    top: -5px;
}

.black-friday-product1 {
    background: url("/images/design-system/bf-promo-01.png") no-repeat right bottom;
    background-size: contain;
}

.black-friday-product2 {
    background: url("/images/design-system/bf-promo-02.png") no-repeat right bottom;
    background-size: contain;
}

.black-friday-product3 {
    background: url("/images/design-system/bf-promo-03.png") no-repeat right bottom;
    background-size: contain;
}

.black-friday-product4 {
    background: url("/images/design-system/bf-promo-04.png") no-repeat right bottom;
    background-size: contain;
}

.black-friday-product5 {
    background: url("/images/design-system/bf-promo-05.png") no-repeat right bottom;
    background-size: contain;
}

.black-friday-product6 {
    background: url("/images/design-system/bf-promo-06.png") no-repeat right bottom;
    background-size: contain;
}

.black-friday-pane-grid {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc !important;
}

.black-friday-wrapper {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

@media (--viewport-sm-down), (--viewport-sm-only)  {
    .black-friday-title {
        width: 270px;
        margin: 18px 0 7px;
    }

    .black-friday-dep-title {
        width: 100%;
    }

    .black-friday-std-txt {
        margin: 54px 0 7px;
        /* &.black-friday-shop-txt {
            margin: 54px 0 7px;
        } */
    }

    .black-friday-wrapper {
        margin: 0 0 20px;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

    .black-friday-pane-grid {
        padding: 0 !important;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc !important;
    }

    .black-friday-card-name {
        font-size: 10px;
        line-height: 10px;
    }

    .black-friday-price {
        font-size: 8px;
        line-height: 8px;
        margin-top: 2px;
    } 

    .black-friday-card-inner {
        width: 100%;
        height: 152px;
    }
}
@media (--viewport-xs-down) {
    .black-friday-title {
        width: 75%;
    }

    .black-friday-dep-title {
        width: 100%;
    }

    .black-friday-std-txt {
        margin: 82px 0 7px;
        /* &.black-friday-shop-txt {
            margin: 82px 0 7px;
        } */
    }
    
}

/*********************************
/* Black Friday Test 2
*********************************/

.department-container {
    & .sub-category {
      @media (--viewport-md-down) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        padding-top: 2px;
      }
    }
    & li {
        display: inline-block;
        text-align: center;

      & .viz-nav-img {
          border-radius: 100%;
          overflow: hidden;
          transition: all var(--transition-time-S) ease-in-out;
  
        & img {
            height: 150px;
            border-radius: 100%;
            @media (--viewport-md-down) {
                height: 150px;
            }
        }
      }
  
      & a {
          text-decoration: none;
          display: grid; 
          &:hover .viz-nav-img {
              transform: scale(1.05);
          }
          & h2 {
            display: table-cell;
            vertical-align: middle;

              @media (--viewport-md-down) {
                  font-size: 14px;
              }
          }
        }
      @media (--viewport-sm-down) {
        margin-left: 0px;
      }
    }

    & .black-banner-image {
      margin: 0 0 20px;
    }

  }

  .dept-nav {
    & li {
      & .viz-nav-img {
          border-radius: 1px;
        & img {
            height: 150px;
            border-radius: 1px;
        }
      }
    }
  }