/*******************************************
/* Tables
*******************************************/

table {
    display: table;
    border-collapse: collapse;
    td,
    th {
        vertical-align: top;
        padding: 16px 12px;
        border-bottom: 1px solid $color-concrete;
    }

    th {
        font-weight: bold;
    }

    tr:last-child {
        td,
        th {
            border-bottom: none;
        }
    }

    &.table-full {
        width: 100%;
    }

    &.table-striped-rows {
        tbody {
            padding: 24px;
            tr:nth-child(odd) {
                background-color: $color-lightgrey;
            }
        }
        td,
        th {
            border-top: 1px solid $color-concrete;
        }
        tr:last-child {
            td,
            th {
                border-bottom: 1px solid $color-concrete;
            }
        }
        &.table-striped-rewards tr:nth-child(odd) {
            background-color: $color-rewards-eggplant;
            color: $color-white;
        }
    }

    &.table-striped-columns {
        tr:nth-child(1) {
            td,
            th {
                border-top: 1px solid $color-concrete;
            }
        }
        th {
            background-color: $color-lightgrey;
            color: $color-slate;
        }
        &.table-striped-rewards th {
            background-color: $color-rewards-eggplant;
            color: $color-white;
        }
        tr:last-child {
            td,
            th {
                border-bottom: 1px solid $color-concrete;
            }
        }
    }

    &.table-borders {
        th,
        td {
            border: 1px solid $color-concrete;
        }
        tr:last-child {
            td,
            th {
                border-bottom: 1px solid $color-concrete;
            }
        }
    }
}