/*******************************************
/* Tables
*******************************************/

table {
    display: table;
    border-collapse: collapse;
    & td,
    & th {
        vertical-align: top;
        padding: 16px 12px;
        border-bottom: 1px solid var(--color-concrete);
    }

    & th {
        font-weight: bold;
    }

    & tr:last-child {
        & td,
        & th {
            border-bottom: none;
        }
    }

    &.table-full {
        width: 100%;
    }

    &.table-striped-rows {
        & tbody {
            padding: 24px;
            & tr:nth-child(odd) {
                background-color: var(--color-lightgrey);
            }
        }
        & td,
        & th {
            border-top: 1px solid var(--color-concrete);
        }
        & tr:last-child {
            & td,
            & th {
                border-bottom: 1px solid var(--color-concrete);
            }
        }
        &.table-striped-rewards tr:nth-child(odd) {
            background-color: var(--color-rewards-eggplant);
            color: var(--color-white);
        }
    }
    & .activity-icon {
        display: inline !important;
        & svg{
        width: 20px;
        height: 20px;
        vertical-align: text-bottom;
        }
    
    }
    &.table-striped-columns {
        & tr:nth-child(1) {
            & td,
            & th {
                border-top: 1px solid var(--color-concrete);
            }
        }
        & th {
            background-color: var(--color-lightgrey);
            color: var(--color-slate);
        }
        & thead th {
            background-color: var(--color-white);
            color: var(--color-nightsky);
            font-size: 16px;
            font-weight: 500;
        }
        &.table-striped-rewards th {
            background-color: var(--color-rewards-eggplant);
            color: var(--color-white);
        }
        & tr:last-child {
            & td,
            & th {
                border-bottom: 1px solid var(--color-concrete);
            }
        }
        &.activity-table-striped-columns{
         & span{
             display:block;
            } 
              
        & .table-icon-content{
            display: inline;
        }
        & .bg-color-white{
            background-color:var(--color-white);
           }
        & .table-points{
            background-color: var(--color-lightgrey);
            color: var(--color-slate);
            font-weight: 700;
            text-align: center;
           }
        }
    }

    &.table-borders {
        & th,
        & td {
            border: 1px solid var(--color-concrete);
        }
        & tr:last-child {
            & td,
            & th {
                border-bottom: 1px solid var(--color-concrete);
            }
        }
    }
    
}

.prodCompareContainer{
    margin: 2%;
    overflow: auto;

& .prodCompare {
      width: 150%;
      display:table;
      font-size: 14px;
      margin-top: 26px;
      font-family: OpenSans, Arial, Helvetica, sans-serif;

& .rowChild {
      border: 1px solid var(--color-concrete);
      display:table-row;
}

}

& .noBorderBottom {
      border-bottom: none;

& .colChild {
      border-bottom: none;
  }
    
}

& .colHeader {
      border-right: 1px solid var(--color-concrete);
      border-bottom: 1px solid var(--color-concrete);
      background: var(--color-lightgrey);
      display: table-cell;
      width:9%;
      text-align: left;
      font-weight: bold;
      padding: 18px 12px;
      vertical-align: middle;
}
& .noBackground {
    background: none;
}
& .colChild {
      border-right: 1px solid var(--color-concrete);
      display: table-cell;
      width:9%;
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid var(--color-concrete);
      vertical-align: middle;

& img {
      width: 128px;
      display: block;
      margin:0 auto;
  }
& .prodName {
      display: block;
      margin-top: 16px;
  }
}
}

    & .lastCell {
        border-right: none;
    }

