/***************************************************
/* Pricing
***************************************************/

.pricing-block {
    & .gallery-pricing {
        & .gallery-pricing-column {
            & > li {
                width: 25%;
                float: left;
                @media (--viewport-sm-only) {
                    width: 100%;
                }
                & .gallery-pricing-row {
                    & li {
                        padding-bottom: 48px;  
                    }
                }
            }
            &.gallery-pdp-pricing-column{
                & > li {
                width: 50%;
                @media (--viewport-sm-only) {
                    width: 100%;
                }
                }
                & .gallery-pdp-pricing-column-full{
                    width: 100%;
                }
            }
        }
    }
}

.price-badge {
    position: relative;
    padding: 2px 2px 6px 16px;
    background-color: var(--color-penneyred);
    top: 6%;
    left: -4%;
    z-index: 1;
    margin-left: 4px;
}

.price-badge-btmLft {
    bottom: -2px;
    border-bottom: 7px solid var(--color-white);
}

.price-badge-btmLft, .price-badge-topLft {
    left: 0;
    border-right: 7px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
}

.price-badge-topLft {
    top: -1px;
    border-top: 7px solid var(--color-white);
}
.price-badge-price {
    color: var(--color-white);
    font-weight: bold;
    font-size: 12px;
}