/***************************************************
/* Pricing
***************************************************/

.pricing-block {
    & .gallery-pricing {
        & .gallery-pricing-column {
            & > li {
                width: 25%;
                float: left;
                & .gallery-pricing-row {
                    & li {
                        padding-bottom: 48px;  
                    }
                }
            }
            &.gallery-pdp-pricing-column{
                & > li {
                width: 50%;
                }
                & .mrg-top-M{
                    margin-top: 16px;
                }
                & .gallery-pdp-pricing-column-full{
                    width: 100%;
                }
            }
        }
    }
}