/*********************************
/* Black Friday Test 2
*********************************/

.department-container {
    & .sub-category {
      @media (--viewport-md-down) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        padding-top: 2px;
      }
    }
    & li {
        display: inline-block;
        text-align: center;

      & .viz-nav-img {
          border-radius: 100%;
          overflow: hidden;
          transition: all var(--transition-time-S) ease-in-out;
  
        & img {
            height: 150px;
            border-radius: 100%;
            @media (--viewport-md-down) {
                height: 150px;
            }
        }
      }
  
      & a {
          text-decoration: none;
          display: grid; 
          &:hover .viz-nav-img {
              transform: scale(1.05);
          }
          & h2 {
            display: table-cell;
            vertical-align: middle;

            @media (--viewport-xxl) {
              height: auto;
              min-height: 34px;
            }
              @media (--viewport-md-down) {
                  font-size: 14px;
                  height: auto;
                  min-height: 31px;
              }
          }
        }
      @media (--viewport-sm-down) {
        margin-left: 0px;
      }
    }

    & .black-banner-image {
      margin: 0 0 20px;
    }

  }

  .dept-nav {
    & li {
      & .viz-nav-img {
          border-radius: 1px;
        & img {
            height: 150px;
            border-radius: 1px;
        }
      }
    }
  }
      