/*******************************************
/* Modal
*******************************************/

.modal{
  border-radius: var(--border-radius-M);
  background-color: #fff;
  text-align: center;
  border: 1px solid var(--color-concrete);
  max-width: 600px;
  margin: 0 auto;
  padding: 48px;
  @media (--viewport-sm) {
    padding: 36px 16px 16px;
  }
  @media (--viewport-md) {
    padding: 36px 24px 24px;
  }
  position: relative;
  @include elevation-2;

  & .modal-body{
    margin-bottom: 32px;
  }

  & .modal-close{
    position: absolute;
    top: 8px;
    display: block;
    right: 8px;
    cursor: pointer;
    background: url("var(--path-images)global/icons/nav/close.svg") no-repeat;
    width: 24px;
    height: 24px;
    background-size: contain;
  }

  & .btn{
    min-width: 200px;
    max-width: 200px;
    margin: 8px 4px;
  }

  & .icon {
    & svg {
      width: 50px;
      height: 50px;
    }
  }
  &.alert-pop-up ,&.dialog-pop-up {
    width: 360px;
    padding: 32px 16px;
    & .modal-sub-title {
      font-size: 20px;
      margin-bottom: 5px;
    }
    & .modal-body {
      margin-bottom: 16px;
      line-height: 26px;
      letter-spacing: -0.4px;
      & .bold-text{
        color: #626e78;
        display: block;
        font-weight:bold;
      }
    }
    & .btn {
      min-width: 160px;
      max-width: 200px;
      margin: 0;
      padding: 10px 13px;
    }
  }
  &.informational-pop-up{
    width: 600px;
    text-align: left;
    padding: 32px 24px 14px;
    & .informational-list{
      padding-left: 30px;
     & .informational-list-content{
        list-style-type: disc;
        padding-left: 10px;
        font-size: 12px;
        & informational-list-para{
          font-size: 16px;
        }
      }
     
    }
    &.form-modal-pop{
      height: 414px;
      & .information-sendcopy{
        color:var(--color-slate1);
      }
      & .input-text{
        padding: 15px 30px 13px 20px;
        height: 48px;
        width: 100%;
        margin-bottom: 6px;
      }
      & .text-area{
        height: 80px;
        padding: 15px 30px 13px 20px;
        width: 100%;
      }
      & .form-save{
        padding: 13px;
        color: white;
        font-size: 18px;
        float: right;
      }
      & .checkbox input+span{
        padding-left: 26px;
      }
      & ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: var(--color-slate);
        font-style: normal;
        font-size: 16px;
        font-family: var(--font-body);
      }
      & ::-moz-placeholder { /* Firefox 19+ */
        color: var(--color-slate);
        font-style: normal;
        font-size: 16px;
        font-family: var(--font-body);
      }
      & :-ms-input-placeholder { /* IE 10+ */
        color: var(--color-slate);
        font-style: normal;
        font-size: 16px;
        font-family: var(--font-body);
      }
      & :-moz-placeholder { /* Firefox 18- */
        color: var(--color-slate);
        font-style: normal;
        font-family: var(--font-body);
        font-size: 16px;
      }
    }
  }
  &.dialog-pop-up {
    & .btn {
      padding: 10px 13px;
     
      &:last-child{
        margin-left: 6px;
        color:  var(--color-white);
      }
    }
  }
  &.scroll-container{
        max-width: 540px;
        padding: 36px 14px 0;
      & .modal-close{
        width: 16px;
        height: 16px;
        right: -6px;
        top: 10px;
      }
  }
}

.modal-overlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;

  /* use this breakpoint only in lincoln*/
  @media (--viewport-lg) {
    left: 250px;
  }
  @media (--viewport-xl) {
    left: 250px;
  }
}
@media (--viewport-sm) {
  .modal {
    width: 96%;
    &.informational-pop-up{
      width: 96%;
      & .informational-list{
        padding-left:22px;
      }
    }
    &.scroll-container{
      width: 96%;
      & .scrollable {
        left: -6px;
        width: 102%;
      }
    }
  }
}