/*------------------------------------*\
  Design System
  Target Browsers: IE9+, Chrome, FF, Safari, iOS9+, Android 4.4+
\*------------------------------------*/

@import "helpers/_init";

@include foundation-off-canvas;


// Annotation (only used for demo)
.anno {
    font-size: 12px;
    line-height: 24px;
    width: 100%;
    color: $color-slate;
    letter-spacing: 1px;
    margin: 56px 0 24px 0;
    text-transform: uppercase;
    border-bottom: 1px solid $color-concrete;
}

// Colors (only used for demo)
.color {
    width: 100%;
    line-height: 56px;
    text-align: center;
    color: $color-white;
}


.off-canvas-button {
    display: inline-block;
    padding: 18px;
}

.design-system {
    .design-system-wrap {
        margin-top: 64px;
    }

    .design-system-inner-nav {
        display: none;
    }

    .design-system-page {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    @include breakpoint(small medium) {}


    .off-canvas {
        background: $color-design-system-nav;

        &.position-left.is-transition-push {
            box-shadow: none;
        }

        .design-system-menu {
            margin-top: 0;
        }
    }

    .design-system-nav-mobile {
        background-color: $color-penneyred;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        @include transform(translateX(0));
        @include transition(transform 0.5s ease);

        z-index: 1000;

        &.off-canvas-open {
            @include transform(translateX(250px));
        }

        .design-system-nav-mobile-header {}

        button {
            cursor: pointer;
            padding: 18px;
        }

        .design-system-logo-mobile {
            display: inline-block;
            padding: 4px 0 2px;
        }

        .design-system-search-btn {
            padding: 14px;
            display: inline-block;

            &.selected {
                background-color: $color-design-system-search;
            }
        }
    }

    .design-system-nav-col {
        display: none;
    }

    .design-system-search-desktop-btn {
        background-color: $color-design-system-search;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 7px;
    }

    .design-system-menu-header {
        background-color: $color-penneyred;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
    }

    .design-system-search-field {
        @include transition(height 200ms);

        height: 0;
        overflow: hidden;
        background-color: $color-design-system-search;

        input[type=text] {
            background-color: $color-design-system-search;
            width: 100%;
            color: $color-white;
            border: none;
            padding: 5px 15px 5px;

            @include placeholder {
                color: $color-white;
                opacity: 1;
                font-style: italic;
            }


            &:focus {
                outline: none;
                border: none;
            }
        }
    }

    ul.design-system-menu {
        margin-top: 20px;
        margin-bottom: 20px;

        a {
            color: $color-white;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            padding: 20px 20px;
            position: relative;
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;

            &:hover {
                background-color: $color-shadow;
            }

            &.icn-expand {
                font-size: 18px;
                line-height: 22px;

                &:before {
                    content: " ";
                    position: absolute;
                    top: 18px;
                    right: 18px;
                    width: 24px;
                    height: 24px;
                    background: url($path-images + "design-system/plus.svg") no-repeat right center;
                }
            }

            &.inactive {
                opacity:.3;
            }
        }

        ul {
            @include transition(height 200ms);

            height: 0;
            overflow: hidden;

            a {
                text-transform: none;
                padding: 10px 20px 10px 60px;
                font-size: 16px;
                background: none;

                &:hover {
                    color: $color-concrete;
                    background: none;
                }

                &:before {
                    content: none;
                }
            }
        }

        hr {
            margin: 10px 20px;
            border: none;
            border-top: 1px solid $color-slate;
        }

        li.menu-open {
            a {
                &.icn-expand:before {
                    background-image: url($path-images + "design-system/minus.svg");
                }
            }
        }
    }
    .design-system-content {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    @include breakpoint(medium) {
        .design-system-content {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    @include breakpoint(large xlarge) {
        .design-system-content {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    @include breakpoint(large xlarge) {
        .design-system-nav-mobile {
            display: none;
        }

        .design-system-wrap {
            display: table;
            width: 100%;
            height: 100vh;
            margin-top: 0;
        }

        .design-system-nav-col,
        .design-system-content-col {
            display: table-cell;
            vertical-align: top;
        }

        .design-system-nav-col {
            width: 250px;
            background: $color-design-system-nav;
        }

        .off-canvas-content.is-open-left.has-transition-push {
            transform: translate(0, 0);
        }

        /* Disable Off Canvas Menu for Tablet/Desktop */
    }


    @include breakpoint(xlarge) {
        .design-system-inner-wrap {
            display: table;
            width: 100%;
            height: 100vh;
        }

        .design-system-inner-nav,
        .design-system-inner-content {
            display: table-cell;
            vertical-align: top;
        }

        .design-system-inner-nav {
            width: 250px;

            .design-system-inner-nav-fixed {
                width: 250px;
                position: fixed;
                top: 60px;
                padding: 20px;

                .design-system-inner-nav-indicator {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 4px;
                    height: 24px;
                    background: $color-nightsky;
                    display: none;

                    &.active {
                        display: block;

                        @include transition(top 0.5s ease);
                    }
                }

                a {
                    font-size: 16px;
                    line-height: 16px;
                    color: $color-nightsky;
                    display: inline-block;
                    margin-bottom: 25px;
                    text-decoration: none;
                }

                .active a {
                    font-weight: bold;
                }
            }
        }
    }
}






/*------------------------------------*\
  CONTENT - COLOR PALETTE
\*------------------------------------*/

@include breakpoint(medium large xlarge) {
    .design-system-inner-content {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.design-system-css-class {
    color: $color-penneyred;
    background-color: $color-lightgrey;
    font-size: 14px;
    line-height: 18px;
    font-family: $font-code;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
}

.design-system-css-class-inline {
    display: inline-block;
    margin-left: 15px;
    font-weight: 400;
}

.design-system-content-swatch-bar {
    padding: 15px 20px;
    color: $color-white;
    font-size: 14px;
    line-height: 16px;
}

.design-system-content-swatch-bar.size-large {
    padding: 30px 20px;
}

.design-system-placeholder {
    background-color: $color-concrete;
    padding: 60px 10px;
    color: $color-slate;
    text-align: center;
}

.design-system-headline-with-toggle {
    position: relative;

    h3 {
        padding-right: 160px;
        min-height: 24px;
    }

    .design-system-headline-toggle {
        position: absolute;
        top: 0;
        right: 15px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        border-radius: 4px;

        a {
            display: inline-block;
            padding: 5px 15px;
            border: solid 1px $color-concrete;
            border-radius: 4px;
            text-decoration: none;
            color: $color-design-system-nav;
            background-color: $color-white;

            &.active {
                color: $color-white;
                background-color: $color-nightsky;
                border: 1px solid $color-nightsky;
            }

            &.left {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.right {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

/* Grid */
.design-system-grid-preview {
    .row {
        background-color:#aaf2ff;
        .design-system-preview-inner {
            background-color:#e180b5;
            height:130px;
        }
        .columns.first {
            position: relative;
        }
        .columns {
            position: relative;
            &:before{
                    content: "";
                    width:1px;
                    height:100%;
                    border-right: 1px solid $color-white;
                    position: absolute;
                    top:0;
                    left: 0;
                }
        }
    }
}
.design-system-grid-preview-labels {
    position: relative;
    height: 30px;
    .design-system-grid-preview-label-gutter, .design-system-grid-preview-label-column {
        position: absolute;
        top: 10px;
        left: 5.5%;
        font-size: 13px;
    }
    .design-system-grid-preview-label-gutter {
        color:#4b8c8e;
    }
    .design-system-grid-preview-label-column {
        color:#da2d7f;
        left: 60.5%;
    }
}

/* Code Generator */

.code-generator {
    border: 1px solid $color-concrete;
    border-radius: 8px;
    .html-pattern {
        display: none;
    }
    .code-generator-code {
        background-color: $color-design-system-right-nav;
    }
    .code-generator-edit {
        margin-top: 25px;
    }
    .code-generator-preview {
        border-top: 1px solid $color-concrete;
        border-bottom: 1px solid $color-concrete;
        padding: 15px;
    }
    .code-generator-code-preview {
        padding: 15px;
        background-color: $color-design-system-right-nav;
        font-family: $font-code;

        p {
            color: $color-nightsky;
            &.code-format-tab {
                margin: 10px 0 10px 20px;
            }
        }
        .code-format-attribute {
            color: #008a44;
        }
        .code-format-tag {
            color: $color-penneyred;
        }
        .code-format-tag-value {
            color: #126c9c;
        }
    }
    .design-system-headline-with-toggle {
        height: 60px;
        .design-system-headline-toggle {
            top: 15px;
        }
        .code-generator-copy button {
            position: absolute;
            top: 15px;
            left: 15px;
            display: inline-block;
            padding: 5px 15px;
            border: solid 1px #d8d8d8;
            border-radius: 4px;
            text-decoration: none;
            color: $color-design-system-nav;
            background-color: $color-white;
            font-weight: 300;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        }
    }
    .code-generator-controls {
        padding: 15px;
    }
}

@include breakpoint(medium large xlarge) {
    .code-generator {
        display: flex;
        flex-direction: row-reverse;


        .code-generator-right {
            width: 30%;
            flex: 0 0 300px;
            border-left: solid 1px $color-concrete;
        }
        .code-generator-left {
            width: 70%;
            background-color: $color-design-system-right-nav;
            flex: 1;
        }
        .code-generator-preview,
        .code-generator-code-preview {
            background: none;
        }
        .code-generator-preview {
            border-top: none;
            background-color: $color-white;
            border-top-left-radius: 8px;
        }
        .code-generator-toggle-editor {
            display: none;
        }
    }
}




/* Color Picker */

.design-system-color-picker {
    position: relative;
    padding-left: 46px;
    float: right;
    width: 100%;
    .color-picker-icon {
        border: 2px solid $color-white;
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        margin: 4px;
        position: absolute;
        top: 0;
        left: 0;
        span {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            display: inline-block;
            border: 2px solid $color-white;
        }
        &.selected {
            border: 2px solid $color-nightsky;
        }
    }
}

@include breakpoint(medium large xlarge) {
    .design-system-color-picker {
        max-width: 300px;
    }
}

.design-system-color-hex {
    display: none;
}

.design-system-toggle-section.show-hex {
    .design-system-color-hex {
        display: inline;
    }

    .design-system-color-class {
        display: none;
    }
}


/* Container Boxes */

.design-system-container {
    background: $color-design-system-right-nav;
    border: solid 1px $color-concrete;
    padding: 24px;

    &.design-system-container-small {
        max-width: 375px;
    }
    .design-system-container-inner {
        background-color: $color-white;
        border: solid 1px $color-concrete;
        padding:20px;
    }
}

.btn-set-desktop-example a {
    margin-left: 15px;
    width: 200px;
}



/* ICONS */

.design-system-icon-set {
    margin-top: 30px;
    margin-bottom: 30px;
}

.design-system-icon-col {
    text-align: center;

    .design-system-icon-name {
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        color: $color-design-system-nav;
        margin: 6px 0 0;
    }

    .design-system-icon-details {
        font-size: 12px;
        line-height: 14px;
        color: $color-slate;
        margin: 0;
    }
}

@include breakpoint(medium large xlarge) {
    .design-system-icon-col {
        position: relative;
        text-align: left;

        .design-system-icon-label {
            padding-left: 45px;
        }

        .design-system-icon {
            position: absolute;
            top: 0;
            left: 15px;
            width: 35px;
        }
    }
}






/* BUTTONS */

.design-system {
    .button-preview {
        a {
            width: 200px;
            max-width: 100%;
        }
    }
    .button-overview {
        a {
            margin-right: 20px;
            min-width: 200px;
            margin-bottom: 20px;
        }
    }
}