.wrapper {
  padding: 0 4px;

  & .addToCartBlock {
    transform: translateZ(0);
    will-change: left, bottom, transform, position, width, padding, background;
    & button {
        font-weight: bold;
        box-shadow: none;
      }
  }

  & .addToCartSticky{
    padding: 4px 16px;
    margin: 0;
  }

  & .addToCartBtn {
      width: 100%;
      transition: background-color .3s ease-out;
  }
}