.product-card-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.product-card-recommendation {
	width: 142px;
	margin-right: 2px;
	margin-bottom: 16px;
	& .product-card-thumbnail {
		padding-right: 16px;
	}
	& .product-card-price {
		font-size: 0 /* Eliminate extra space between price and note */
	}
	& .product-card-price-value {
		display: inline-block;
	}
	& .product-card-note {
		display: inline-block;
		white-space: pre-line;
	}
	& .product-card-name {
		text-decoration: none;
		display: inline-block;
		margin-top: 12px;
	}
}


.product-card-pane-L {
	width: 264px;
	margin: 0 8px 8px;
	padding: 8px 8px 16px;
	border: 1px solid var(--color-lightgrey);
	position: relative;

	& .product-card-thumbnail {
		& .flag {
			position: absolute;
			top: 16px;
			left: -8px;
		}
		& .favorite-icon {
			position: absolute;
			top: 12px;
			right: 8px;
			width: 32px;
			height: 32px;
			& svg {
				width: 32px;
				height: 32px;
			}
		}
	}
	& .product-card-price {
		font-size: 0 /* Eliminate extra space between price and note */
	}
	& .product-card-price-value {
		display: inline-block;
	}
	& .product-card-note {
		display: inline-block;
		white-space: pre-line;
	}
	& .product-card-name {
		text-decoration: none;
		display: inline-block;
		margin-top: 12px;
		max-width: 225px;
	}
}


.product-card-pane-S {
	width: 180px;
	margin: 0;
	padding: 8px 8px 16px;
	border: 1px solid var(--color-lightgrey);
	position: relative;
	&:first-of-type {
		border-left: none;
		border-right: none;
	}
	&:last-of-type {
		border-right: none;
	}

	& .product-card-thumbnail {
		& .flag {
			position: absolute;
			top: 16px;
			left: -8px;
		}
		& .favorite-icon {
			position: absolute;
			top: 12px;
			right: 16px;
			width: 32px;
			height: 32px;
			& svg {
				width: 32px;
				height: 32px;
			}
		}
	}
	& .product-card-price {
		font-size: 0 /* Eliminate extra space between price and note */
	}
	& .product-card-price-value {
		display: inline-block;
	}
	& .product-card-note {
		display: inline-block;
		white-space: pre-line;
	}
	& .product-card-name {
		text-decoration: none;
		display: inline-block;
		margin-top: 12px;
		max-width: 225px;
	}
}

.product-card-list-view {
	display: flex;
	margin: 0;
	padding: 8px 8px 16px;
	border-top: 1px solid var(--color-lightgrey);
	position: relative;
	max-width: 320px;
	&:first-of-type {
		border-top: none;
	}

	& .product-card-details {

	}

	& .product-card-thumbnail {
		position: relative;
		width: 144px;
		flex: 0 0 144px; 
		padding-left: 16px;
		padding-right: 16px;
		& .flag {
			position: absolute;
			top: 10px;
			left: -8px;
		}
		& .favorite-icon {
			position: absolute;
			top: 6px;
			right: 16px;
			width: 32px;
			height: 32px;
			& svg {
				width: 32px;
				height: 32px;
			}
		}
	}
	& .product-card-price {
		font-size: 0 /* Eliminate extra space between price and note */
	}
	& .product-card-price-value {
		display: inline-block;
	}
	& .product-card-note {
		display: inline-block;
		white-space: pre-line;
	}
	& .product-card-name {
		text-decoration: none;
		display: inline-block;
		margin-top: 12px;
		max-width: 225px;
	}
}


.ratings-and-reviews {
	margin-top: 12px;

	& .ratings-and-reviews-stars,
	& .ratings-and-reviews-count {
		display: inline-block;
		vertical-align: top;
	}
}
@media (--viewport-md) {
	.product-card-recommendation {
		width: 160px;
		margin-right: 16px;
		& .product-card-thumbnail {
			padding-right: 32px;
		}
	}
}