.product-card-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.product-card-recommendation {
	width: 142px;
	margin-right: 2px;
	margin-bottom: 16px;
	& .product-card-thumbnail {
		padding-right: 16px;
	}
	& .product-card-price {
		font-size: 0 /* Eliminate extra space between price and note */
	}
	& .product-card-price-value {
		display: inline-block;
	}
	& .product-card-note {
		display: inline-block;
		white-space: pre-line;
	}
	& .product-card-name {
		text-decoration: none;
		display: inline-block;
		margin-top: 12px;
	}
}

.product-card {
	position: relative;
	display: inline-block;
	& .product-card-price {
		font-size: 0 /* Eliminate extra space between price and note */
	}
	& .product-card-price-value {
		display: inline-block;
	}
	& .product-card-note {
		display: inline-block;
		white-space: pre-line;
	}
	& .product-card-name {
		text-decoration: none;
		display: inline-block;
		margin-top: 12px;
		max-width: 225px;
	}

	& .product-card-thumbnail {
		& .flag {
			position: absolute;
			top: 16px;
			left: -8px;
		}
		& .like-dislike{
			position: absolute;
			top: 14px;
			right: 15px;
			width: 30px;
			height: 30px;
		 & svg{
			width: 30px;
			height: 30px;
		 }	
		}

	}
}

.product-card-pane-L {
	width: 264px;
	margin: 0 8px 8px;
	padding: 8px 8px 16px;
	border: 1px solid var(--color-lightgrey);
	position: relative;
}


.product-card-pane-S {
	width: 180px;
	margin: 0;
	padding: 8px 8px 16px;
	border: 1px solid var(--color-lightgrey);
	position: relative;
	&:first-of-type {
		border-left: none;
		border-right: none;
	}
	&:last-of-type {
		border-right: none;
	}
	& .like-icon {
		top: 4px;
		right: 8px;
	}
}

.product-card-list-view {
	display: flex;
	margin: 0;
	padding: 8px 8px 16px;
	border-top: 1px solid var(--color-lightgrey);
	position: relative;
	max-width: 320px;
	&:first-of-type {
		border-top: none;
	}
	& .product-card-thumbnail {
		position: relative;
		width: 144px;
		flex: 0 0 144px; 
		padding-left: 16px;
		padding-right: 16px;
		& .flag {
			top: 10px;
		}
	}
}


.ratings-and-reviews {
	margin-top: 6px;

	& .ratings-and-reviews-stars,
	& .ratings-and-reviews-count {
		display: inline-block;
		vertical-align: top;
	}
}
@media (--viewport-md) {
	.product-card-recommendation {
		margin-right: 16px;
		& .product-card-thumbnail {
			padding-right: 32px;
		}
	}
}

.pricing-cart {
	padding: 12px;
	min-width: 200px;

	& .pricing-cart-price-only {
		margin-top: -8px;
		display: inline-block;
	}
	& .product-card-price-value {
		margin-top: 8px;
	}
}


.product-card-pane-list {
	display: flex;
	padding: 8px;
	position: relative;
	flex-basis: 100%;
	& .product-card-compare {
		border-top: 1px solid var(--color-lightgrey);
		padding-top: 8px;
	}
	& .product-card-inner {
		display: flex;
		border: 1px solid var(--color-lightgrey);
		border-radius: 2px;
		padding: 8px;
		@media (--viewport-sm-only) {
			border: none;
		}
	}
	& .product-card-image {
		position: relative;
		flex: 0 0 112px; 
		padding-left: 8px;
		padding-right: 8px;
		@media (--viewport-sm-only) {
			flex: 0 0 128px; 
			padding-right: 16px;
		}
		& .product-card-thumbnail {
			position: relative;
			display: inline-block;
		}
		& .flag {
			top: 10px;
			left: -24px;
		}
		& .alt-link {
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    text-align: center;
		    padding: 4px;
		    background: rgba(255,255,255,.85);
		    display: inline-block;
		    text-decoration: none;
		    color: var(--color-nightsky);
		}
	}
	& .product-card-name {
		max-width: none;
	}
	& .ratings-and-reviews {
		margin-top: 6px;
	}
	& .product-features {
		margin-top: 16px;
	}
	& .list {
		& li {
			margin: 6px 0 6px 15px;
			padding-left: 2px;
		}
	}
	& .price {      
        &.price-note {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

@media (--viewport-md) {
	.product-card-pane-list {
		& .product-card-image {
			flex: 0 0 200px; 
		}
	}
}
@media (--viewport-lg) {
	.product-card-pane-list {
		max-width: none;
		flex-basis: 50%;	}
}





.product-card-pane-grid {
	display: flex;
	padding: 8px;
	position: relative;
	flex-basis: 50%;
	& .product-card-inner {
		border: 1px solid var(--color-lightgrey);
		border-radius: 2px;
		padding: 8px;
		position: relative;
		padding-bottom: 60px;
	}
	&.product-card-pane-grid-no-compare {
		& .product-card-inner {
			padding-bottom: 8px;
		}
	}
	& .product-card-compare {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 8px 8px 8px;
		& .product-card-compare-inner {
			border-top: 1px solid var(--color-lightgrey);
			padding-top: 8px;
		}

	}
	& .product-card-image {
		position: relative;
		& .product-card-thumbnail {
			position: relative;
			display: inline-block;
			& a {
				outline: none;
			}
		}
		& .flag {
			top: 10px;
			left: -16px;
		}
		& .alt-link {
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    text-align: center;
		    padding: 4px;
		    background: rgba(255,255,255,.85);
		    display: inline-block;
		    text-decoration: none;
		    color: var(--color-nightsky);
		}
	}
	& .product-card-name {
		max-width: none;
	}
	& .ratings-and-reviews {
		margin-top: 6px;
	}
	& .product-features {
		margin-top: 16px;
	}
	& .list {
		& li {
			margin: 6px 0 6px 15px;
			padding-left: 2px;
		}
	}
	& .price {      
        &.price-note {
            font-size: 12px;
            line-height: 14px;
        }
    }
}
@media (--viewport-sm-only) {
	.product-card-pane-grid:nth-child(odd){
		border-right: 1px solid var(--color-lightgrey);
	}
	.product-card-pane-grid {
		border-bottom: 1px solid var(--color-lightgrey);
		& .product-card-inner {
			border: none;
		}
	}
	.product-card{
		& .product-card-thumbnail {
			& .like-dislike{
				position: absolute;
				top: 12px;
				right: 0;
			}
		}	
	}
}
@media (--viewport-md-only) {
	.product-card{
		& .product-card-thumbnail {
			& .like-dislike{
				right: 0;
			}
		}	
	}
}
@media (--viewport-md) {
	.product-card-pane-grid {
		max-width: none;
		flex-basis: 33.33%;	
	}
	
}
@media (--viewport-lg) {
	.product-card-pane-grid {
		max-width: none;
		flex-basis: 25%;	
	}
}